Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

feat: init
  examples/x6-example-features/src/pages/history/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-history/src/index.ts
Due: x6

feat: add demo
  examples/x6-example-features/src/pages/history/index.tsx
Due: none

feat: limit undoStack size
  examples/x6-example-features/src/pages/history/index.tsx
  packages/x6-plugin-history/src/index.ts
Due: x6

feat: add updateNode/updateEdge API #3235 (#3239)
  packages/x6/src/model/model.ts
Due: x6

feat: 0 means not limit
  packages/x6-plugin-history/src/index.ts
Due: x6

feat: history add max stack size (#3253)
  examples/x6-example-features/src/pages/history/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-history/src/index.ts
Due: x6

feat: targetview not mounted can render edge
  packages/x6/src/view/edge.ts
Due: x6

feat: change comment
  packages/x6/src/view/edge.ts
Due: x6

docs: history插件文档补充stackSize属性的说明
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: none

fix: fix typo for dom event handlers
  packages/x6-common/src/dom/event/types.ts
Due: x6, x6-common

docs: history插件文档补充stackSize属性的说明 (#3254)
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: none

fix: mindmap demo duplicate node id, close #3256
  examples/x6-example-features/src/pages/case/mind.tsx
Due: none

feat: data transfrom plugin init
  packages/x6-plugin-dataTransform/LICENSE
  packages/x6-plugin-dataTransform/README.md
  packages/x6-plugin-dataTransform/package.json
  packages/x6-plugin-dataTransform/src/index.ts
  packages/x6-plugin-dataTransform/tsconfig.json
Due: x6

feat: data transfrom plugin init
  pnpm-lock.yaml
Due: none

feat: support graph toJSON and plugin to JSON
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/dataTransform/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-dataTransform/package.json
  packages/x6-plugin-dataTransform/src/index.ts
  packages/x6/src/graph/graph.ts
  pnpm-lock.yaml
Due: x6

feat: support toJson and from Json, add prototype in Graph
  examples/x6-example-features/src/pages/dataTransform/index.tsx
  packages/x6-plugin-dataTransform/src/api.ts
  packages/x6-plugin-dataTransform/src/index.ts
  packages/x6/src/graph/graph.ts
Due: x6

fix: fix typo for dom event handlers (#3255)
  packages/x6-common/src/dom/event/types.ts
Due: x6, x6-common

fix: mindmap demo duplicate node id, close #3256 (#3257)
  examples/x6-example-features/src/pages/case/mind.tsx
Due: none

feat: tojson and fromjson validate disable
  packages/x6-plugin-dataTransform/src/index.ts
Due: x6

feat: fix question
  packages/x6-plugin-dataTransform/src/index.ts
Due: x6

docs: fix typo in labels.zh.md
  sites/x6-sites/docs/api/model/labels.zh.md
Due: none

docs: fix typo in labels.zh.md (#3261)
  sites/x6-sites/docs/api/model/labels.zh.md
Due: none

docs: fix typo in labels.zh.md (v1)
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
  sites/x6-sites/docs/tutorial/intermediate/edge-labels.en.md
  sites/x6-sites/docs/tutorial/intermediate/edge-labels.zh.md
Due: none

feat: doc
  sites/x6-sites/docs/tutorial/plugins/dataTransform.zh.md
Due: none

docs: fix typo in stencil.md
  sites/x6-sites/docs/tutorial/plugins/stencil.md
Due: none

docs: fix typo in stencil.md (#3267)
  sites/x6-sites/docs/tutorial/plugins/stencil.md
Due: none

feat: add virtual
  packages/x6/src/view/edge.ts
Due: x6

docs: fix typo about ‘defaultLabel’ (v1) (#3263)
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
  sites/x6-sites/docs/tutorial/intermediate/edge-labels.en.md
  sites/x6-sites/docs/tutorial/intermediate/edge-labels.zh.md
Due: none

fix: 🐛 cannot use this here
  packages/x6/src/view/tool.ts
Due: x6

chore(release): 🚀 publish
  packages/x6/package.json
Due: x6

fix: 🐛 limit peer dependencies version
  packages/x6-angular-shape/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore(release): 🚀 publish
  packages/x6-angular-shape/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

feat: refactor the virtual rendering logic
  packages/x6-common/src/function/function.ts
  packages/x6/src/graph/virtual-render.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6, x6-common

docs: fix a broken link in model.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
Due: none

fix: leading reset render area when init (#3272)
  packages/x6-common/src/function/function.ts
  packages/x6/src/graph/virtual-render.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6, x6-common

docs: fix a broken link in model.zh.md (#3275)
  sites/x6-sites/docs/api/model/model.zh.md
Due: none

feat: add angular shape
  packages/x6-angular-shape/LICENSE
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  pnpm-lock.yaml
Due: x6

docs: add angular shape docs
  sites/x6-sites/docs/tutorial/intermediate/angular.md
  sites/x6-sites/docs/tutorial/intermediate/html.md
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
