Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

docs: update homepage of packages
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
  sites/x6-sites/package.json
Due: x6, x6-common, x6-geometry

chore: remove "gitHead" field
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: disable breaking changes
  .releaserc
Due: none

fix: type errors
  packages/x6-common/src/dom/class.ts
Due: x6, x6-common

chore: disable publish to npm
  .releaserc
Due: none

chore: ignore build
  .github/workflows/release.yml
Due: none

chore: update package version
  packages/x6-common/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/model/edge.ts
  packages/x6/src/renderer/queueJob.ts
Due: x6, x6-common

fix: npm version
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6, x6-common, x6-geometry

chore: fix repository url
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6, x6-common, x6-geometry

chore: enable publish to npm
  .releaserc
Due: none

chore: update package version (#2943)
  .github/workflows/release.yml
  .releaserc
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/model/edge.ts
  packages/x6/src/renderer/queueJob.ts
Due: x6, x6-common, x6-geometry

fix: broken file
  packages/x6-plugin-clipboard/package.json
Due: x6

Add CodeQL workflow for GitHub code scanning
  .github/codeql.yml
  .github/workflows/codeql.yml
Due: none

fix: render vue shape in minimap with same cellid when using teleport
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: render vue shape in minimap with same cellid when using teleport (#2949)
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: dom.data support custom object
  packages/x6-common/src/dom/data.ts
Due: x6, x6-common

fix: dom.data support custom object (#2954)
  packages/x6-common/src/dom/data.ts
Due: x6, x6-common

fix: trigger transform knob after click node
  packages/x6-plugin-transform/src/index.ts
Due: x6

fix: trigger transform knob after click node (#2956)
  packages/x6-plugin-transform/src/index.ts
Due: x6

chore: hide coverage badge
  README.md
Due: none

chore: update readme
  README.md
  packages/x6-plugin-transform/package.json
Due: x6

chore: update readme (#2962)
  README.md
  packages/x6-plugin-transform/package.json
Due: x6

fix: not trigger keyboard event whith delete key in contenteditable elem
  karma.conf.js
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

fix: not trigger keyboard event whith delete key in contenteditable elem (#2965)
  karma.conf.js
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

docs: update sites url
  README.en-us.md
  README.md
  packages/x6-geometry/README.md
Due: x6, x6-geometry

fix: regex for excluding coverage
  karma.conf.js
Due: none

fix: support react 17
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6

fix: support react 17 (#2968)
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6

fix: render react shape in dnd graph
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-react-shape/src/view.ts
  packages/x6/src/renderer/queueJob.ts
Due: x6

fix: render react shape in dnd graph (#2970)
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-react-shape/src/view.ts
  packages/x6/src/renderer/queueJob.ts
Due: x6

fix: export toJpeg methods in export plugin
  packages/x6-plugin-export/src/api.ts
Due: x6

fix: export toJpeg methods in export plugin (#2974)
  packages/x6-plugin-export/src/api.ts
Due: x6

chore: release 4 packages
  packages/x6-plugin-export/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-react-shape/package.json
  packages/x6/package.json
Due: x6

fix: remove lint error
  packages/x6-common/src/array/array.ts
  packages/x6-vue-shape/src/view.ts
  packages/x6/src/graph/view.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/src/wrap/content.tsx
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/basic/.eslintrc.js
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/basic/src/main.ts
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/update/.eslintrc.js
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/update/src/main.ts
Due: x6, x6-common

chore: move '--debug' to env variable 'SRM_DEBUG'
  .github/workflows/release.yml
Due: none
