Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

Notes added by 'git notes add'
  f9/302da91b7ee6792844e80dff7de6caef1de21e
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
Due: x6

Notes added by 'git notes add'
  ba/334aedaf22230ea03c0bbb6e760ca45c61fd53
Due: none

chore(release): 2.0.0 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  c8/8d168b0513bc6883e3725971f6bfa4e75f3842
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  40/05a87bc3c507d7ac728c810572ba298c976663
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  81/9292fe02a488304d2588ba50ebb62175e17ff8
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  0b/618131b6d27af3a9f23f85c789c018b4431ffb
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  03/5a768e8dcd8e9e1d05b17b560f2bb4a701894a
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  fe/2f22eada91b860143a3fe1bd5d28c56e448f55
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  6f/4c3d11232ae3ca8723ab1dc622f6bce12843bd
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  d3/c3c818d9498a499738b8cc53206e750c2e441e
Due: none

chore(release): 1.0.1 [skip ci]
  scripts/x6-build-tools/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ca/286d64f1905aaf5749c0b091bd040116843abb
Due: none

feat: trigger auto release on auto-release branch
  .github/workflows/create-release-branch.yml
  .github/workflows/release.yml
  scripts/finalize-release.js
Due: none

trigger semantic release...
  .releasing
Due: none

chore: start srm
  .github/workflows/release.yml
Due: none

chore: bump to 2.0
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-transform/CHANGELOG.md
Due: x6

fix: install deps
  .github/workflows/release.yml
Due: none

chore(release): 2.0.0 [skip ci]
  packages/x6-common/CHANGELOG.md
Due: x6

chore: pr body
  .github/workflows/create-release-branch.yml
Due: none

chore: commit with tagName
  .releaserc
  pnpm-lock.yaml
Due: none

chore(release): @antv/x6-plugin-export@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
Due: x6

chore: bump version
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
Due: x6, x6-geometry

chore: bump version
  packages/x6-plugin-stencil/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

Notes added by 'git notes add'
  01/91729833f9368f8112242ecf1ec78133695be2
Due: none

Notes added by 'git notes add'
  04/e8842c56a9cc793750ab703dda858e63abc311
Due: none

Notes added by 'git notes add'
  16/f87816c9d5834b84449cc78a7151492a285350
Due: none
