Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

fix: commit message E2BIG
  .github/workflows/ci.yml
  .releaserc
  packages/x6-plugin-history/package.json
  packages/x6-react-components/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

chore(release): 2.0.6-beta.3 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  1d/c3460a6e208c963c9ef0d6478afc3029c27c94
Due: none

chore(release): 2.0.6-beta.4 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  dd/22dfee1fb6734c891725db3d02f3853c2c0f0c
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

Notes added by 'git notes add'
  10/bb62e414fcee3a52f1b4031a10febae623d24c
Due: none

chore(release): 2.0.0-beta.1 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  71/cffe34c9915be093ef76f3bce6629c2e6c9af4
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  06/8ead793f18f710dcd495334da82507335fed3f
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  c5/268623d36a85b93f28f729d584ff83eb313325
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  c8/b22bff718828c2178bbb43787da79969946a22
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  69/6954cd6aff7f3560380a97be262cf9fd501a42
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  0e/80212d39d994cdd527f09b30349afc6bd65d0f
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  e7/6f9f232c9a461c886cb0a9b7cf032daec6e8cc
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  87/4404088bfad080bac3ef33689ae0affcb0e975
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  b5/d9f5cbc552461605cff91b86bec50024b30575
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  48/8776321593113aa66da127f5575ec78ecbec0f
Due: none

chore(release): 2.0.0-beta.1 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  cb/0b25b8bc79589ba65cbdfe5db598588797553e
Due: none

chore(release): 2.0.0-beta.1 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  76/c86be5aa5abfaf8d1bad0f0d5504d3922e67dc
Due: none

chore(release): 2.0.0-beta.1 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  4c/ee52ee4c6d4b3eb1e1505853873ef0928756f4
Due: none

chore: force release 2.0-beta
  packages/x6-common/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
Due: x6

chore: reusing workflows
  .github/workflows/ci.yml
  .github/workflows/coveralls.yml
  .github/workflows/release.yml
  packages/x6-geometry/package.json
  packages/x6-plugin-history/package.json
Due: x6, x6-geometry

fix: the `uses' attribute must be a path, a Docker image, or owner/repo@ref
  .github/workflows/ci.yml
Due: none

chore: call workflow in local repo
  .github/workflows/ci.yml
  .github/workflows/coveralls.yml
Due: none

feat: adjust event source and package deps (#2826)
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-history/package.json
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-minimap/src/index.ts
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-transform/package.json
  packages/x6-plugin-transform/src/index.ts
  packages/x6-plugin-transform/src/transform.ts
  packages/x6-plugin-transform/src/util.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/node.ts
  packages/x6/src/view/node.ts
Due: x6

chore: update version
  .github/workflows/backup/gitleaks.yml
  .github/workflows/ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/preview.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-authors.yml
  .github/workflows/update-license.yml
Due: none

fix: should checkout repo
  .github/workflows/update-authors.yml
Due: none
