Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  dc/62dd9390451f1d189e7828199f85e8185dd0a6
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  c9/7de2c807ceb4d278f258baf7679bb935f1dac8
Due: none

refactor: ♻️ remove functions related to string markup
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/flag.ts
  packages/x6-core/src/view/markup.ts
  packages/x6-core/src/view/node.ts
  packages/x6-vector/src/vector/image/image.test.ts
Due: x6, x6-vector

refactor: ♻️ remove functions related to string markup (#2118)
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/flag.ts
  packages/x6-core/src/view/markup.ts
  packages/x6-core/src/view/node.ts
  packages/x6-vector/src/vector/image/image.test.ts
Due: x6, x6-vector

fix: :bug: Fixed the error when a node meet an invisiable node in node:embedding event
  packages/x6/src/view/node.ts
Due: x6

fix: :bug: Fixed the error when a node meet an invisiable node in node:embedding event (#2129)
  packages/x6/src/view/node.ts
Due: x6

chore: Set permissions for GitHub actions
  .github/workflows/pr-label-status-dummy.yml
  .github/workflows/update-cache.yaml
Due: none

chore: 🔧 update node version for workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/update-cache.yaml
Due: none

chore: 🔧 update node version for workflows (#2152)
  .github/workflows/ci.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/update-cache.yaml
Due: none

chore: Set permissions for GitHub actions (#2148)
  .github/workflows/pr-label-status-dummy.yml
  .github/workflows/update-cache.yaml
Due: none

chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Due: none

chore: Included githubactions in the dependabot config (#2157)
  .github/dependabot.yml
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  4b/7c5653054af226492b60c488027c4729b4ca9f
Due: none

chore(release): @antv/x6-package-json@1.0.2 [skip ci]
  configs/package-json/CHANGELOG.md
  configs/package-json/package.json
Due: none

Notes added by 'git notes add'
  04/5412de6d6112a9a04631a613a51353350aae3b
Due: none

chore(release): @antv/x6@1.32.3 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  4f/72b0d5c176aff9665402a1be0dc9bbeff472d8
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  3e/512b92b773a36a002930bb52c0eb1a9990cfbb
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  92/db8470a12d6571320ea7fe5462ee3fcd496da5
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  51/819712e7344e8101bdc716c187c4465bc4fc49
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  a5/6182ee06ae926a87e6c687b1fbe71107e783b4
Due: none

Notes added by 'git notes add'
  d6/3f26023f1fa03595cdabd9a6cb3024b8fa158d
Due: none

Notes added by 'git notes add'
  81/7d08ff413b40a6fa8053a6b7cbad6e36962d39
Due: none

perf: ⚡️ repalce getTransformToElement and getBBox to improve performance
  examples/x6-example-features/src/pages/v2/1.tsx
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/render.tsx
  packages/x6-common/__tests__/dom/matrix.test.ts
  packages/x6-common/__tests__/dom/transform.test.ts
  packages/x6-common/src/dom/transform.ts
  packages/x6-core/__tests__/common/disposable.test.ts
  packages/x6-core/__tests__/util/index.test.ts
  packages/x6-core/src/util/index.ts
  packages/x6-core/src/view/cache.ts
Due: x6

chore: 🔧 update node versio for workflow
  .github/workflows/ci.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/update-cache.yaml
Due: none

chore: 🔧 update node versio for workflow (#2179)
  .github/workflows/ci.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/update-cache.yaml
Due: none

perf: ⚡️ repalce getTransformToElement and getBBox to improve performance (#2177)
  examples/x6-example-features/src/pages/v2/1.tsx
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/render.tsx
  packages/x6-common/__tests__/dom/matrix.test.ts
  packages/x6-common/__tests__/dom/transform.test.ts
  packages/x6-common/src/dom/transform.ts
  packages/x6-core/__tests__/common/disposable.test.ts
  packages/x6-core/__tests__/util/index.test.ts
  packages/x6-core/src/util/index.ts
  packages/x6-core/src/view/cache.ts
Due: x6

chore(release): @antv/x6-package-json@1.0.2 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  43/1116f6299890c1389c6ed8911e9a7e36e0ae4b
Due: none

chore(release): @antv/x6-angular-shape@1.3.1 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
Due: x6

Notes added by 'git notes add'
  3f/786136b4e0890cdd268b3512b71f991c4bf178
Due: none
