Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

feat: ✨ add built-in shapes
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/registry/tool/segments.ts
  packages/x6-next/src/registry/tool/vertices.ts
  packages/x6-next/src/renderer/queueJob.ts
  packages/x6-next/src/renderer/scheduler.ts
  packages/x6-next/src/shape/circle.ts
  packages/x6-next/src/shape/ellipse.ts
  packages/x6-next/src/shape/image.ts
  packages/x6-next/src/shape/index.ts
  packages/x6-next/src/shape/path.ts
  packages/x6-next/src/shape/poly.ts
  packages/x6-next/src/shape/polygon.ts
  packages/x6-next/src/shape/polyline.ts
  packages/x6-next/src/shape/text-block.ts
  packages/x6-next/src/shape/util.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Due: x6, x6-geometry

fix: 🐛 remove transition:begin and transition:end event
  packages/x6-next/src/model/animation.ts
Due: x6

docs: 📚️ add deprecation notice for Snapline.sharp
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/snapline.en.md
  sites/x6-sites/docs/tutorial/basic/snapline.zh.md
Due: x6

docs: 📚️ modernize react portal usage and examples
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/.env
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/.gitignore
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/package.json
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/public/index.html
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/app.css
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/index.css
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/tsconfig.json
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: none

docs: 📚️ add deprecation notice for Snapline.sharp (#2490)
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/snapline.en.md
  sites/x6-sites/docs/tutorial/basic/snapline.zh.md
Due: x6

docs: 📚️ modernize react portal usage and examples (#2491)
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/.env
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/.gitignore
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/package.json
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/public/index.html
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/app.css
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/index.css
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/react/react-portal/tsconfig.json
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: none

fix: 🐛 not sort views after visible change
  packages/x6/src/graph/renderer.ts
Due: x6

fix: 🐛 not sort views after visible change (#2501)
  packages/x6/src/graph/renderer.ts
Due: x6

chore: 🔧 release @antv/x6@1.33.1
  packages/x6/package.json
Due: x6

fix: 🐛 #2505 修复toggleVisible之后导致不渲染的问题
  packages/x6-vue-shape/src/teleport.ts
  packages/x6/src/global/version.ts
Due: x6

fix: 🐛 fix some issues
  packages/x6/src/graph/view.ts
  packages/x6/src/style/index.less
Due: x6

chore: 🔧 change virtualRender option to virtual
  examples/x6-example-features/src/pages/animation/football.tsx
  examples/x6-example-features/src/pages/animation/transition.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-next/package.json
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/virtual-render.ts
  packages/x6-next/src/view/cell.ts
Due: x6

fix: 🐛 fix some issues (#2528)
  packages/x6/src/graph/view.ts
  packages/x6/src/style/index.less
Due: x6

fix: 🐛 fontSize拼写错误 #2531
  sites/x6-sites-demos/packages/tutorial/basic/group/collapsable/src/shape.ts
  sites/x6-sites/examples/node/group/demo/collapsable.ts
Due: none

fix(history): 🐛 try to merge move+embed into 1 undo (#2492)
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6/src/graph/history.ts
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 #2505 修复toggleVisible之后导致不渲染的问题 (#2520)
  packages/x6-vue-shape/src/teleport.ts
  packages/x6/src/global/version.ts
Due: x6

chore: optimize some features (#2530)
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/animation/football.tsx
  examples/x6-example-features/src/pages/animation/transition.tsx
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/virtual-render.ts
  packages/x6-next/src/model/animation.ts
  packages/x6-next/src/registry/tool/segments.ts
  packages/x6-next/src/registry/tool/vertices.ts
  packages/x6-next/src/renderer/queueJob.ts
  packages/x6-next/src/renderer/scheduler.ts
  packages/x6-next/src/shape/circle.ts
  packages/x6-next/src/shape/ellipse.ts
  packages/x6-next/src/shape/image.ts
  packages/x6-next/src/shape/index.ts
  packages/x6-next/src/shape/path.ts
  packages/x6-next/src/shape/poly.ts
  packages/x6-next/src/shape/polygon.ts
  packages/x6-next/src/shape/polyline.ts
  packages/x6-next/src/shape/text-block.ts
  packages/x6-next/src/shape/util.ts
  packages/x6-next/src/version.ts
  packages/x6-next/src/view/cell.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Due: x6, x6-geometry

fix: 🐛 fontSize拼写错误 #2531 (#2533)
  sites/x6-sites-demos/packages/tutorial/basic/group/collapsable/src/shape.ts
  sites/x6-sites/examples/node/group/demo/collapsable.ts
Due: none

fix: 🐛 fix some issue
  packages/x6/src/graph/keyboard.ts
Due: x6

feat: ✨ adjust calcContextArea param
  packages/x6/src/addon/scroller/index.ts
Due: x6

chore: 🔧 change virtualRender option to virtual
  examples/x6-example-features/src/pages/index.tsx
Due: none

feat: ✨ add built-in shapes
  examples/x6-example-features/src/pages/index.tsx
Due: none

feat: ✨ support mouseenter and mouseleave event
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/bus/index.tsx
  examples/x6-example-features/src/pages/bus/shapes.ts
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/special.ts
  packages/x6-common/src/dom/event/util.ts
  packages/x6-next/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Due: x6

chore: 🔧 add lerna publish cmd
  lerna.json
  package.json
Due: none

chore(release): 🚀 publish
  examples/x6-example-features/package.json
  lerna.json
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

feat: support mouseenter and mouseleave event (#2559)
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/bus/index.tsx
  examples/x6-example-features/src/pages/bus/shapes.ts
  lerna.json
  package.json
  packages/x6-common/package.json
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/special.ts
  packages/x6-common/src/dom/event/util.ts
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Due: x6, x6-geometry

feat: ✨ support mouseenter and mouseleave event
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update x6-next version
  packages/x6-next/src/version.ts
  yarn.lock
Due: x6

chore: update x6-next version (#2563)
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Due: x6

chore: 🔧 change publish script
  examples/x6-app-dag/package.json
  examples/x6-app-er/package.json
  package.json
  packages/x6-common/LICENSE
  packages/x6-common/package.json
  packages/x6-core/LICENSE
  packages/x6-core/package.json
  packages/x6-geometry/LICENSE
  packages/x6-geometry/package.json
  packages/x6-next/LICENSE
  packages/x6-next/package.json
  packages/x6-react-components/LICENSE
  packages/x6-react-components/package.json
  packages/x6-react-shape/LICENSE
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/LICENSE
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

chore: 🔧 change publish script (#2565)
  examples/x6-app-dag/package.json
  examples/x6-app-er/package.json
  package.json
  packages/x6-common/LICENSE
  packages/x6-common/package.json
  packages/x6-core/LICENSE
  packages/x6-core/package.json
  packages/x6-geometry/LICENSE
  packages/x6-geometry/package.json
  packages/x6-next/LICENSE
  packages/x6-next/package.json
  packages/x6-react-components/LICENSE
  packages/x6-react-components/package.json
  packages/x6-react-shape/LICENSE
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/LICENSE
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

feat: ✨ support priority when find anchors
  examples/x6-example-features/src/pages/vector/svg.tsx
  examples/x6-example-features/src/pages/vector/version.ts
  packages/x6-next/src/model/edge.ts
  packages/x6-next/src/util/index.ts
  packages/x6-next/src/view/edge.ts
Due: x6

refactor: ♻️ refactor x6 vue shape. close #2566
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

fix: #2573 clipboard isClipboardEmpty 和 getCellsInClipboard 返回正确的值
  packages/x6/src/addon/clipboard/index.ts
Due: x6

feat: ✨ add scroller plugin
  examples/x6-example-features/src/pages/scroller/test.tsx
  packages/x6-common/package.json
  packages/x6-common/src/dom/elem.ts
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/index.ts
  packages/x6-next/src/index.ts
  packages/x6-plugin-scroller/LICENSE
  packages/x6-plugin-scroller/README.md
  packages/x6-plugin-scroller/index.ts
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/rollup.config.js
  packages/x6-plugin-scroller/scripts/style.js
  packages/x6-plugin-scroller/src/css.ts
  packages/x6-plugin-scroller/src/index.less
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/style/raw.ts
  packages/x6-plugin-scroller/src/types.ts
  packages/x6-plugin-scroller/tsconfig.json
  packages/x6-react-components/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

feat: add scroller plugin (#2580)
  examples/x6-example-features/src/pages/scroller/test.tsx
  examples/x6-example-features/src/pages/vector/svg.tsx
  examples/x6-example-features/src/pages/vector/version.ts
  packages/x6-common/package.json
  packages/x6-common/src/dom/elem.ts
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/index.ts
  packages/x6-next/src/index.ts
  packages/x6-next/src/model/edge.ts
  packages/x6-next/src/util/index.ts
  packages/x6-next/src/view/edge.ts
  packages/x6-plugin-scroller/LICENSE
  packages/x6-plugin-scroller/README.md
  packages/x6-plugin-scroller/index.ts
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/rollup.config.js
  packages/x6-plugin-scroller/scripts/style.js
  packages/x6-plugin-scroller/src/css.ts
  packages/x6-plugin-scroller/src/index.less
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/style/raw.ts
  packages/x6-plugin-scroller/src/types.ts
  packages/x6-plugin-scroller/tsconfig.json
  packages/x6-react-components/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

feat: ✨ support scroller resize direction (#2408)
  packages/x6/src/addon/scroller/index.ts
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
Due: x6

feat: ✨ HTML Shape支持配置mount+unmount生命周期回调 #2524
  packages/x6/src/shape/standard/html.ts
  sites/x6-sites-demos/packages/tutorial/advanced/react/html-shape/src/app.tsx
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
