Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

feat: ✨ expose the selection api
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
Due: x6

fix: 🐛 add resizeOptions to getContentArea (#2745)
  packages/x6/src/addon/scroller/index.ts
Due: x6

2739/revert snapline sharp option deprecation (#2746)
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/snapline.en.md
  sites/x6-sites/docs/tutorial/basic/snapline.zh.md
Due: x6

feat: ✨ expose the selection api (#2756)
  examples/x6-example-features/src/pages/selection/index.tsx
  package.json
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
Due: x6

chore: 🔧 update publish script
  package.json
Due: none

chore: 🔧 update publish script (#2757)
  package.json
Due: none

chore: 🔧 updadte publish:beta script
  lerna.json
  package.json
Due: none

chore: 🔧 updadte publish:beta script (#2758)
  lerna.json
  package.json
Due: none

chore(release): 🚀 publish
  lerna.json
  packages/x6-common/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 remove test script for x6-svg-to-shape
  sites/x6-svg-to-shape/package.json
Due: none

chore: 🔧 remove test script for x6-svg-to-shape (#2759)
  sites/x6-svg-to-shape/package.json
Due: none

chore: 🔧 revert version
  lerna.json
  package.json
  packages/x6-common/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 revert version (#2760)
  lerna.json
  package.json
  packages/x6-common/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 revert version
  lerna.json
  packages/x6-common/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 update publish script
  lerna.json
  package.json
  sites/x6-svg-to-shape/package.json
Due: none

chore: 🔧 update build-dev script
  scripts/build-dev
Due: none

chore: 🔧 change publish opts
  package.json
Due: none

chore: 🔧 change publish opts (#2762)
  package.json
Due: none

chore(release): 🚀 publish
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 remove version and track file for publish problem
  examples/x6-example-features/src/pages/vector/version.ts
  packages/x6-geometry/package.json
  packages/x6-geometry/src/index.ts
  packages/x6-geometry/src/version.test.ts
  packages/x6-geometry/src/version.ts
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.test.ts
  packages/x6-vector/src/global/version.ts
  packages/x6-vector/src/index.ts
  packages/x6/package.json
  packages/x6/src/global/index.ts
  packages/x6/src/global/track.ts
  packages/x6/src/global/version.test.ts
  packages/x6/src/global/version.ts
  packages/x6/src/index.ts
Due: x6, x6-vector, x6-geometry

chore: 🔧 remove version and track file for publish problem (#2763)
  examples/x6-example-features/src/pages/vector/version.ts
  packages/x6-geometry/package.json
  packages/x6-geometry/src/index.ts
  packages/x6-geometry/src/version.test.ts
  packages/x6-geometry/src/version.ts
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.test.ts
  packages/x6-vector/src/global/version.ts
  packages/x6-vector/src/index.ts
  packages/x6/package.json
  packages/x6/src/global/index.ts
  packages/x6/src/global/track.ts
  packages/x6/src/global/version.test.ts
  packages/x6/src/global/version.ts
  packages/x6/src/index.ts
Due: x6, x6-vector, x6-geometry

chore: 🔧 unify the version numbers of all packages
  lerna.json
  package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6, x6-geometry

chore(release): 🚀 publish
  lerna.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6, x6-geometry

fix: 🐛 check if the navigator global is available before usage
  packages/x6/src/util/platform/index.ts
Due: x6

fix: 🐛 check if the navigator global is available before usage (#2768)
  packages/x6/src/util/platform/index.ts
Due: x6

chore(release): 🚀 publish
  packages/x6-geometry/package.json
  packages/x6-vector/package.json
  packages/x6/package.json
Due: x6, x6-vector, x6-geometry

feat: ✨ add some missing api
  examples/x6-example-features/src/pages/animation/football.tsx
  examples/x6-example-features/src/pages/auto-resize/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-scroller/src/index.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/view/edge.ts
Due: x6

feat: ✨ improve auto-resize feature
  examples/x6-example-features/src/pages/auto-resize/index.tsx
  packages/x6-common/__tests__/dom/event.test.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6/src/graph/size.ts
  packages/x6/src/renderer/renderer.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/node.ts
  packages/x6/src/view/view.ts
Due: x6

fix: 🐛 add return value for autoScroller in scroller plugin
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-scroller/src/index.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6/package.json
Due: x6, x6-geometry

fix: 🐛 ensure css loader for plugin
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
Due: x6

feat: ✨ add snapline plugin
  examples/x6-example-features/src/pages/basic/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/snapline/index.tsx
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/LICENSE
  packages/x6-plugin-snapline/README.md
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/rollup.config.js
  packages/x6-plugin-snapline/scripts/style.js
  packages/x6-plugin-snapline/src/index.less
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-plugin-snapline/src/style/raw.ts
  packages/x6-plugin-snapline/tsconfig.json
  packages/x6/rollup.config.js
  scripts/build-dev
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6

fix: 🐛 debounce update methords in scroller
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-scroller/package.json
  packages/x6/package.json
Due: x6

fix: 🐛 Event 'edge:connected' is not triggered (#2779)
  examples/x6-example-features/src/pages/issues/2779.tsx
  packages/x6/src/model/edge.ts
Due: x6

fix: 🐛 fix the error in selected nodes position when snapline enabled
  examples/x6-example-features/src/pages/case/dag.tsx
  packages/x6-plugin-selection/src/selection.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
