Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  33/02c56bd478fa6c4b0278bcb023b7f0bce54ec7
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  76/d98ded260ab9f78ca599e3851dd24a9170f148
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  66/7720efb9b68f71ce31b241cc9c10f35c6234bf
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  32/cae56c40ebe5900e2c6e7b90095321d9d31d81
Due: none

chore: 🔧 bump versions
  packages/x6-geometry/src/version.ts
  packages/x6/src/view/node.ts
Due: x6, x6-geometry

perf(snapline): use native SVG capabilities
  packages/x6/src/addon/snapline/index.less
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/style/raw.ts
Due: x6

fix: :bug: Fixed the bug that node position was confused when the selection moved when selection.pointerEvents === 'none'
  packages/x6/src/addon/selection/index.ts
Due: x6

feat: ✨ add virtual render feature
  examples/x6-example-features/src/pages/v2/render.tsx
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/grid.ts
  packages/x6-next/src/graph/virtual-render.ts
Due: x6

feat: ✨ add virtual render feature (#2198)
  examples/x6-example-features/src/pages/v2/render.tsx
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/grid.ts
  packages/x6-next/src/graph/virtual-render.ts
Due: x6

更新getCellById方法参数名称说明
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

feat: ✨ add view sorting and display feature
  packages/x6-core/src/scheduler/scheduler.ts
Due: x6

docs: Change the getCellById method parameter name
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

fix(selection): :bug: Fix nodes in multiple-selection being more than once due to incorrect event handler stopper
  packages/x6/src/addon/selection/index.ts
Due: x6

feat: ✨ add view sorting and display feature (#2206)
  packages/x6-core/src/scheduler/scheduler.ts
Due: x6

docs: Change the getCellById method parameter name (#2209)
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

fix(snapline): 🐛 use built-in SVG tools instead of native ones
  packages/x6/src/addon/snapline/index.ts
Due: x6

perf: use native SVG elements in snapline instead of DOM elements and jQuery (#2195)
  packages/x6-geometry/src/version.ts
  packages/x6/src/addon/snapline/index.less
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/style/raw.ts
  packages/x6/src/view/node.ts
Due: x6, x6-geometry

fix: 🐛 add some case sensitive attr
  packages/x6/src/util/dom/attr.ts
Due: x6

chore: 🔧 fix malfunctioning github workflow
  .github/workflows/pr-label-status.yml
Due: none

fix: 🐛 add some case sensitive attr (#2220)
  packages/x6/src/util/dom/attr.ts
Due: x6

chore: 🔧 fix malfunctioning github workflow (#2222)
  .github/workflows/pr-label-status.yml
Due: none

feat: ✨ 🎸 panning mode support for minimap
  packages/x6/src/addon/minimap/index.ts
Due: x6

perf: ⚡️ optimize breakText for a high performance version
  examples/x6-example-features/src/pages/v2/clock.tsx
  examples/x6-example-features/src/pages/v2/graph.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  packages/x6-common/src/dom/text.ts
  packages/x6-core/src/registry/attr/text.ts
Due: x6

perf: ⚡️ optimize breakText for a high performance version (#2242)
  examples/x6-example-features/src/pages/v2/clock.tsx
  examples/x6-example-features/src/pages/v2/graph.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  packages/x6-common/src/dom/text.ts
  packages/x6-core/src/registry/attr/text.ts
Due: x6

feat: ✨ add panning and mousewheel module
  examples/x6-example-features/src/pages/v2/graph.tsx
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/mousewheel.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/modifier/index.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/mousewheel.ts
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/panning.ts
  packages/x6-next/src/graph/virtual-render.ts
Due: x6

feat: ✨ add panning and mousewheel module (#2243)
  examples/x6-example-features/src/pages/v2/graph.tsx
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/mousewheel.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/modifier/index.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/mousewheel.ts
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/panning.ts
  packages/x6-next/src/graph/virtual-render.ts
Due: x6

fix: 🐛 初始化viewport & ratio 自动更新
  packages/x6/src/addon/minimap/index.ts
Due: x6

fix: 🐛 Fixed the bug that node moved when draging port #2216
  packages/x6/src/view/node.ts
Due: x6

refactor: ♻️ refactor x6 react shape
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/group/index.tsx
  examples/x6-example-features/src/pages/performance/v2.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/README.md
  packages/x6-react-shape/package.json
  packages/x6-react-shape/rollup.config.js
  packages/x6-react-shape/src/hook.ts
  packages/x6-react-shape/src/index.ts
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/registry.ts
  packages/x6-react-shape/src/usePortal/index.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-react-shape/src/wrap.ts
  packages/x6-react-shape/src/wrap.tsx
  yarn.lock
Due: x6

refactor: ♻️ refactor x6 react shape (#2262)
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/group/index.tsx
  examples/x6-example-features/src/pages/performance/v2.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/README.md
  packages/x6-react-shape/package.json
  packages/x6-react-shape/rollup.config.js
  packages/x6-react-shape/src/hook.ts
  packages/x6-react-shape/src/index.ts
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/registry.ts
  packages/x6-react-shape/src/usePortal/index.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-react-shape/src/wrap.ts
  packages/x6-react-shape/src/wrap.tsx
  yarn.lock
Due: x6

fix: 🐛 Fixed the bug that node moved when draging port #2216 (#2258)
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 Fixed the bug that options.connecting.allowEdge does not take effect when options.connecting.snap is setting true (##2024)
  packages/x6/src/view/edge.ts
Due: x6

refactor: ♻️ add teleport for vue shape
  packages/x6-next/package.json
  packages/x6-next/src/index.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/rollup.config.js
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/registry.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/rollup.config.js
  packages/x6-vue-shape/src/hook.ts
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/node.ts
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  yarn.lock
Due: x6

fix: 🐛 Fixed the bug that options.connecting.allowEdge does not take effect when options.connecting.snap is setting true (##2024) (#2265)
  packages/x6/src/view/edge.ts
Due: x6

refactor: ♻️ add teleport for vue shape (#2272)
  packages/x6-next/package.json
  packages/x6-next/src/index.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/rollup.config.js
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/registry.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/rollup.config.js
  packages/x6-vue-shape/src/hook.ts
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/node.ts
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  yarn.lock
Due: x6
