Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  39/67110b6e1e4aa2c98d4979d440f4a81b67f18e
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  2a/340936a0f0d7a15d0ce5b55bacfe0861f90edf
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  83/e4bd96e9a0e3d6a95b457d60f5f5e355d7c1f2
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  67/11d06fa1ae40d613d2509e03c87b80a4c9134d
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  47/487fe6042d30a42c101d70b68eab6622276719
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  4d/016760c7f0121c5eada87b1e32bd83627f8eaa
Due: none

feat: ✨ add renderview job to sync queue
  packages/x6-common/src/dom/attr.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/schedule/index.ts
  packages/x6-core/src/schedule/schedule.ts
  packages/x6-core/src/schedule/schedule.ts~HEAD
  packages/x6-core/src/schedule/schedule.ts~refactor: ♻️ expose renderer interface in x6-core
  packages/x6-core/src/scheduler/index.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
Due: x6

chore: 🔧 include css type in karma config
  packages/x6-vector/karma.conf.js
Due: x6, x6-vector

feat: add scheduler for render nodes to improve performance (#2044)
  packages/x6-common/src/dom/attr.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/schedule/index.ts
  packages/x6-core/src/schedule/schedule.ts
  packages/x6-core/src/scheduler/index.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-vector/karma.conf.js
Due: x6, x6-vector

refactor: ♻️ expose renderer interface in x6-core
  packages/x6-core/src/schedule/schedule.ts~HEAD
  packages/x6-core/src/schedule/schedule.ts~refactor: ♻️ expose renderer interface in x6-core
Due: x6

feat: ✨ add renderview job to sync queue
  packages/x6-core/src/schedule/schedule.ts~HEAD
  packages/x6-core/src/schedule/schedule.ts~refactor: ♻️ expose renderer interface in x6-core
Due: x6

docs: correct code mistake
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Due: none

feat: ✨ add priority scheduling for async jobs
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-next/src/graph/graph.ts
Due: x6

docs: correct code mistake (#2050)
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Due: none

feat: add priority scheduling for async jobs (#2052)
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-next/src/graph/graph.ts
Due: x6

chore: 🔧 build x6-vector when bootstrap to fix test error
  examples/x6-example-features/src/pages/v2/1.tsx
  scripts/build-dev
Due: none

chore: 🔧 build x6-vector when bootstrap to fix test error (#2053)
  examples/x6-example-features/src/pages/v2/1.tsx
  scripts/build-dev
Due: none

docs: 📚️ optimize custom node demo
  sites/x6-sites/examples/node/custom-node/demo/custom-with-svg.ts
Due: none

docs: 📚️ optimize custom node demo (#2057)
  sites/x6-sites/examples/node/custom-node/demo/custom-with-svg.ts
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b1/84f8ca1c41f7833394ea663682ad3b6547eede
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  01/15917836ca784a1525856877098b0d088045c8
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7e/a2ab1141181fe7061201ec8f8d36d1145d4e40
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7c/18c7d5ff6ad2e0d1308d9eb25547876d09ff6d
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7e/64838e007374dd111542f885910154477d8560
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c7/c3415300b97c1f8073a589f82163e1d79f78d4
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  61/c7d7f01523ebe405d19f4e4bed1f364b7db323
Due: none

perf: ⚡️ check whether label existed in port
  examples/x6-example-features/src/pages/v2/1.tsx
  packages/x6-core/src/view/node.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
