Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

chore: update deps
  package.json
  packages/x6-react-components/package.json
  pnpm-lock.yaml
Due: x6

fix: remove lint error (#2979)
  packages/x6-common/src/array/array.ts
  packages/x6-plugin-export/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/src/view.ts
  packages/x6/package.json
  packages/x6/src/graph/view.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/src/wrap/content.tsx
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/basic/.eslintrc.js
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/basic/src/main.ts
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/update/.eslintrc.js
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/update/src/main.ts
Due: x6, x6-common

chore: update wrong comment word
  packages/x6-plugin-selection/src/selection.ts
Due: x6

chore: update wrong comment word (#2991)
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: use geometry in selection box
  packages/x6-common/package.json
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6, x6-common

fix: use geometry in selection box (#2992)
  packages/x6-common/package.json
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6, x6-common

chore: add eslintcache
  .gitignore
Due: none

chore: add eslintcache
  package.json
Due: none

chore: add eslintcache (#2993)
  .gitignore
  package.json
Due: none

chore: release @antv/x6-plugin-selection@2.1.5
  packages/x6-plugin-selection/package.json
Due: x6

chore: release @antv/x6-plugin-selection@2.1.5 (#2994)
  packages/x6-plugin-selection/package.json
Due: x6

chore: remove ts and style lint error
  .gitignore
  .stylelintrc
  examples/x6-example-features/src/layouts/index.less
  examples/x6-example-features/src/pages/case/index.less
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/dnd/index.less
  examples/x6-example-features/src/pages/graph/index.less
  examples/x6-example-features/src/pages/html/index.less
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/react/index.less
  examples/x6-example-features/src/pages/react/port.less
  examples/x6-example-features/src/pages/scroller/index.less
  examples/x6-example-features/src/pages/table/component.less
  examples/x6-example-features/src/pages/v2/index.less
  package.json
  packages/x6-common/src/color/index.ts
  packages/x6-common/src/object/object.ts
  packages/x6-geometry/src/path/util.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-plugin-minimap/src/index.less
  packages/x6-plugin-scroller/src/index.less
  packages/x6-plugin-stencil/src/index.less
  packages/x6-react-components/src/auto-scroll-box/style/index.less
  packages/x6-react-components/src/color-picker/style/index.less
  packages/x6-react-components/src/context-menu/style/index.less
  packages/x6-react-components/src/dropdown/style/index.less
  packages/x6-react-components/src/menu/style/index.less
  packages/x6-react-components/src/menubar/style/index.less
  packages/x6-react-components/src/scroll-box/style/index.less
  packages/x6-react-components/src/scrollbar/style/index.less
  packages/x6-react-components/src/split-box/style/index.less
  packages/x6-react-components/src/style/index.less
  packages/x6-react-components/src/style/themes/index.less
  packages/x6-react-components/src/toolbar/style/index.less
  packages/x6/src/index.less
  packages/x6/src/registry/tool/editor.less
  packages/x6/src/style/index.less
  packages/x6/src/style/themes/index.less
  sites/x6-sites-demos/packages/performance/react-flow/src/app.tsx
Due: x6, x6-common, x6-geometry

chore: config codeql
  .github/workflows/codeql.yml
  .github/workflows/config/codeql.yml
Due: none

Delete .lgtm.yml
  .lgtm.yml
Due: none

chore: remove ts and style lint error (#2995)
  .gitignore
  .stylelintrc
  examples/x6-example-features/src/layouts/index.less
  examples/x6-example-features/src/pages/case/index.less
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/dnd/index.less
  examples/x6-example-features/src/pages/graph/index.less
  examples/x6-example-features/src/pages/html/index.less
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/react/index.less
  examples/x6-example-features/src/pages/react/port.less
  examples/x6-example-features/src/pages/scroller/index.less
  examples/x6-example-features/src/pages/table/component.less
  examples/x6-example-features/src/pages/v2/index.less
  package.json
  packages/x6-common/src/color/index.ts
  packages/x6-common/src/object/object.ts
  packages/x6-geometry/src/path/util.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-plugin-minimap/src/index.less
  packages/x6-plugin-scroller/src/index.less
  packages/x6-plugin-stencil/src/index.less
  packages/x6-react-components/src/auto-scroll-box/style/index.less
  packages/x6-react-components/src/color-picker/style/index.less
  packages/x6-react-components/src/context-menu/style/index.less
  packages/x6-react-components/src/dropdown/style/index.less
  packages/x6-react-components/src/menu/style/index.less
  packages/x6-react-components/src/menubar/style/index.less
  packages/x6-react-components/src/scroll-box/style/index.less
  packages/x6-react-components/src/scrollbar/style/index.less
  packages/x6-react-components/src/split-box/style/index.less
  packages/x6-react-components/src/style/index.less
  packages/x6-react-components/src/style/themes/index.less
  packages/x6-react-components/src/toolbar/style/index.less
  packages/x6/src/index.less
  packages/x6/src/registry/tool/editor.less
  packages/x6/src/style/index.less
  packages/x6/src/style/themes/index.less
  sites/x6-sites-demos/packages/performance/react-flow/src/app.tsx
Due: x6, x6-common, x6-geometry

fix: hide elems when visible is false
  packages/x6/src/model/model.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: hide elems when visible is false (#3007)
  packages/x6/src/model/model.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

feat: :sparkles: support for more available modifiers (#2543)
  packages/x6-common/src/modifier/index.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/panning.ts
Due: x6, x6-common

fix: make resizing options take effect
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-transform/src/index.ts
Due: x6

fix: make resizing options take effect (#3014)
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-transform/src/index.ts
Due: x6

fix: trigger preventDefault by origin event
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/view.ts
Due: x6

fix: trigger preventDefault by origin event (#3017)
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/view.ts
Due: x6

fix: cannot read properties of undefined when unmount vue component
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: cannot read properties of undefined when unmount vue component (#3024)
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: cancel debounce update for scroller plugin
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: cancel debounce update for scroller plugin (#3027)
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

chore: update package version
  packages/x6-plugin-export/package.json
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-scroller/package.json
Due: x6

chore: update package version (#3028)
  packages/x6-plugin-export/package.json
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-scroller/package.json
Due: x6

chore: only support react18 in 2.1.x
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
