Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

fix: 🐛 listen mousedown event on scroller container
  packages/x6/src/graph/scroller.ts
Due: x6

fix: 🐛 get children or parent delay (#1641)
  packages/x6/src/model/cell.ts
Due: x6

fix: 🐛 listen mousedown event on scroller container (#1642)
  packages/x6/src/graph/scroller.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.4 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  73/08970f8183a94562ca700a412c38f9013e450a
Due: none

chore(release): @antv/x6-vector@1.2.4 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

Update edge.zh.md
  sites/x6-sites/docs/api/model/edge.zh.md
Due: none

fix: 🐛 fix lint error
  packages/x6/src/registry/tool/segments.ts
  packages/x6/src/registry/tool/vertices.ts
  sites/x6-svg-to-shape/package.json
Due: x6

fix: 🐛 fix lint error (#1649)
  packages/x6/src/registry/tool/segments.ts
  packages/x6/src/registry/tool/vertices.ts
  sites/x6-svg-to-shape/package.json
Due: x6

chore(release): @antv/x6-sites@1.4.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  69/6ef157d2159198838708985e31d6291c0fdc6c
Due: none

fix: 🐛 release x6 v1.28.2
  packages/x6/package.json
  sites/x6-sites/package.json
Due: x6

fix: 🐛 release x6 v1.28.2 (#1654)
  packages/x6/package.json
  sites/x6-sites/package.json
Due: x6

chore(release): @antv/x6-sites-demos@1.2.0 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  d5/2b38a44556dae6eb98f0017e87f98ec7fdae12
Due: none

fix: 🐛 update x6 version
  packages/x6/package.json
  sites/x6-sites-demos/package.json
Due: x6

fix: 🐛 update x6 version (#1655)
  packages/x6/package.json
  sites/x6-sites-demos/package.json
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.5 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  92/7d90077d6f8a6ce3a01926367bf03b4c8c8a35
Due: none

fix: 🐛 update x6-vector version
  packages/x6-vector/package.json
  packages/x6/package.json
Due: x6, x6-vector

fix: 🐛 update x6-vector version (#1656)
  packages/x6-vector/package.json
  packages/x6/package.json
Due: x6, x6-vector

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  60/3836ef98f4327537974d2ac10790bb25fde2d2
Due: none

chore(release): @antv/x6-vector@1.2.4 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
Due: x6, x6-vector

feat: ✨ update x6 and x6-vector version
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6, x6-vector

feat: ✨ update x6 and x6-vector version (#1659)
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-sites@1.4.2 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  94/7ce4f8428e8e6f110068d8c8ae41acd690c6b0
Due: none

chore(release): @antv/x6-vector@1.3.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Notes added by 'git notes add'
  19/408805f23db63890a98089fde9fb8352759193
Due: none

chore(release): @antv/x6@1.29.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/README.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  13/da1b0b57bd644f96f8c2d6d473b8bea63d6b9f
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  5a/04eb0d2fb97e4f38cdf862ff0a549091e38125
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  4d/886b37558fbbb5de163018e0f378d5bd6c8087
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
