Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

chore: update npm registry (#4181)
  .npmrc
  pnpm-lock.yaml
Due: none

fix: add key for portal to avoid rerender
  packages/x6-react-shape/src/view.ts
Due: x6

fix: add key for portal to avoid rerender (#4183)
  packages/x6-react-shape/src/view.ts
Due: x6

chore: release some packages
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-react-shape/package.json
  packages/x6/package.json
Due: x6

Update view.ts
  packages/x6-angular-shape/src/view.ts
Due: x6

chore: release x6-vue-shape
  packages/x6-vue-shape/package.json
Due: x6

fix: delete xflow wrapper and xflow components docs
  sites/x6-sites/docs/xflow/components/background.md
  sites/x6-sites/docs/xflow/components/clipboard.md
  sites/x6-sites/docs/xflow/components/control.md
  sites/x6-sites/docs/xflow/components/graph.md
  sites/x6-sites/docs/xflow/components/grid.md
  sites/x6-sites/docs/xflow/components/history.md
  sites/x6-sites/docs/xflow/components/minimap.md
  sites/x6-sites/docs/xflow/components/snapline.md
  sites/x6-sites/docs/xflow/components/transform.md
  sites/x6-sites/docs/xflow/components/wrapper.md
  sites/x6-sites/docs/xflow/components/xflow.md
  sites/x6-sites/docs/xflow/guide/quick-start.md
Due: none

fix: update xflow graph demo
  sites/x6-sites/src/xflow/components/graph/index.tsx
Due: none

fix: update xflow store docs
  sites/x6-sites/docs/xflow/store.md
  sites/x6-sites/src/xflow/components/transform/index.tsx
Due: none

fix: update xflow hooks demo
  sites/x6-sites/src/xflow/components/graph/setting.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-event/index.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-event/init-node.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-store/index.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-store/tools-button.tsx
  sites/x6-sites/src/xflow/hooks/use-key-board/header.tsx
  sites/x6-sites/src/xflow/hooks/use-key-board/index.tsx
Due: none

fix: update xflow components demo
  sites/x6-sites/src/xflow/components/clipboard/index.tsx
  sites/x6-sites/src/xflow/components/clipboard/setting.tsx
  sites/x6-sites/src/xflow/components/control/index.tsx
  sites/x6-sites/src/xflow/components/control/setting.tsx
  sites/x6-sites/src/xflow/components/graph/index.tsx
  sites/x6-sites/src/xflow/components/graph/ports.ts
  sites/x6-sites/src/xflow/components/history/header.tsx
  sites/x6-sites/src/xflow/components/history/index.tsx
  sites/x6-sites/src/xflow/components/minimap/header.tsx
  sites/x6-sites/src/xflow/components/minimap/index.tsx
  sites/x6-sites/src/xflow/components/snapline/index.tsx
  sites/x6-sites/src/xflow/components/snapline/setting.tsx
  sites/x6-sites/src/xflow/components/transform/index.tsx
  sites/x6-sites/src/xflow/components/transform/setting.tsx
Due: none

update xflow demo and docs (#4190)
  sites/x6-sites/docs/xflow/components/background.md
  sites/x6-sites/docs/xflow/components/clipboard.md
  sites/x6-sites/docs/xflow/components/control.md
  sites/x6-sites/docs/xflow/components/graph.md
  sites/x6-sites/docs/xflow/components/grid.md
  sites/x6-sites/docs/xflow/components/history.md
  sites/x6-sites/docs/xflow/components/minimap.md
  sites/x6-sites/docs/xflow/components/snapline.md
  sites/x6-sites/docs/xflow/components/transform.md
  sites/x6-sites/docs/xflow/components/wrapper.md
  sites/x6-sites/docs/xflow/components/xflow.md
  sites/x6-sites/docs/xflow/guide/quick-start.md
  sites/x6-sites/docs/xflow/store.md
  sites/x6-sites/src/xflow/components/clipboard/index.tsx
  sites/x6-sites/src/xflow/components/clipboard/setting.tsx
  sites/x6-sites/src/xflow/components/control/index.tsx
  sites/x6-sites/src/xflow/components/control/setting.tsx
  sites/x6-sites/src/xflow/components/graph/index.tsx
  sites/x6-sites/src/xflow/components/graph/ports.ts
  sites/x6-sites/src/xflow/components/graph/setting.tsx
  sites/x6-sites/src/xflow/components/history/header.tsx
  sites/x6-sites/src/xflow/components/history/index.tsx
  sites/x6-sites/src/xflow/components/minimap/header.tsx
  sites/x6-sites/src/xflow/components/minimap/index.tsx
  sites/x6-sites/src/xflow/components/snapline/index.tsx
  sites/x6-sites/src/xflow/components/snapline/setting.tsx
  sites/x6-sites/src/xflow/components/transform/index.tsx
  sites/x6-sites/src/xflow/components/transform/setting.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-event/index.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-event/init-node.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-store/index.tsx
  sites/x6-sites/src/xflow/hooks/use-graph-store/tools-button.tsx
  sites/x6-sites/src/xflow/hooks/use-key-board/header.tsx
  sites/x6-sites/src/xflow/hooks/use-key-board/index.tsx
Due: none

fix: optimize move performace while select multiple nodes
  packages/x6-plugin-selection/src/selection.ts
Due: x6

Angular Issues: view.js:59 Uncaught TypeError: Cannot set properties of undefined (setting 'innerHTML') (#4187)
  packages/x6-angular-shape/src/view.ts
Due: x6

docs: remove deprecated `Addon` usage
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
  sites/x6-sites/docs/tutorial/plugins/stencil.md
Due: none

docs: remove deprecated `Addon` usage (#4227)
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
  sites/x6-sites/docs/tutorial/plugins/stencil.md
Due: none

fix: The select box does not follow the mouse as you drag to move it
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: plugin-export API exportjpeg exports are PNG images
  packages/x6-plugin-export/src/index.ts
Due: x6

fix: plugin-export API exportjpeg exports are PNG images (#4238)
  packages/x6-plugin-export/src/index.ts
Due: x6

feat: trigger resize event for scroller
  packages/x6-plugin-scroller/src/index.ts
  packages/x6/src/graph/graph.ts
Due: x6

feat: support virtual render with scroller plugin
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/virtual-render.ts
Due: x6

feat: support virtual render with scroller plugin
  packages/x6/src/graph/virtual-render.ts
Due: x6

fix: ensure functional before triggering events in ScrollerImpl.update()
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

docs: manhattan fallbackRouter options
  sites/x6-sites/docs/api/registry/router.zh.md
Due: none

docs: manhattan fallbackRouter options (#4254)
  sites/x6-sites/docs/api/registry/router.zh.md
Due: none

fix: 修复 Angular 组件内部无法使用外部服务的问题
  packages/x6-angular-shape/src/view.ts
Due: x6

fix: adjust button tool matrix
  packages/x6/src/registry/tool/button.ts
Due: x6

fix: If the starting or ending point is the same as the intersection point, return
  packages/x6/src/registry/connector/jumpover.ts
Due: x6

fix: 修复 Angular 组件内部无法使用外部服务的问题 (#4267)
  packages/x6-angular-shape/src/view.ts
Due: x6

fix: If the starting or ending point is the same as the intersection… (#4279)
  packages/x6/src/registry/connector/jumpover.ts
Due: x6

fix: toJSON({ diff: true })没有达到预期效果 #4297
  sites/x6-sites/docs/api/model/cell.zh.md
Due: none

Update attr.ts
  packages/x6-common/src/dom/attr.ts
Due: x6, x6-common

fix: get wrong anchor when a node is invisible
  packages/x6/src/registry/node-anchor/bbox.ts
  packages/x6/src/registry/node-anchor/middle-side.ts
  packages/x6/src/registry/node-anchor/orth.ts
Due: x6

fix: get wrong anchor when a node is invisible (#4313)
  packages/x6/src/registry/node-anchor/bbox.ts
  packages/x6/src/registry/node-anchor/middle-side.ts
  packages/x6/src/registry/node-anchor/orth.ts
Due: x6

feat(cell): setDataSilently
  packages/x6/src/model/cell.ts
  sites/x6-sites/docs/api/model/cell.zh.md
Due: x6

fix: toJSON({ diff: true })没有达到预期效果 #4297 (#4299)
  sites/x6-sites/docs/api/model/cell.zh.md
Due: none

fix: 浮点数精度丢失导致画布缩放卡死
  packages/x6/src/graph/mousewheel.ts
  pnpm-lock.yaml
Due: x6

chore: 移除多余的代码
  packages/x6/src/graph/mousewheel.ts
Due: x6

更改占用内存不释放的问题，及参数传递错误问题
  packages/x6/src/model/animation.ts
  packages/x6/src/renderer/queueJob.ts
Due: x6

fix: 浮点数精度丢失导致画布缩放卡死 (#4356)
  packages/x6/src/graph/mousewheel.ts
  pnpm-lock.yaml
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
