Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

fix(x6-vue-shape): 🐛 error on removing fragment node (#1974)
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: 🐛 fix scroller resize size miscalculation when graph resize (#1977)
  packages/x6/src/addon/scroller/index.ts
Due: x6

fix: 🐛 change copystyle not include number propery when toSvg (#1985)
  packages/x6/src/graph/format.ts
Due: x6

docs: 📚️ optimize tooltip tools (#1988)
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

docs: 📚️ update doc api (#1991)
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Due: none

fix: 🐛 fix animationOptions type (#1989)
  packages/x6/src/util/dom/geom.ts
Due: x6

fix: 🐛 sync from master
  packages/x6-vector/src/dom/common/adopter.ts
  scripts/monorepo-semantic-release/yarn.lock
  yarn.lock
Due: x6, x6-vector

fix: 🐛 annotate a error test cases
  packages/x6-common/__tests__/dom/event.test.ts
Due: x6

feat: sync code from master (#2004)
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  packages/x6-common/__tests__/dom/event.test.ts
  packages/x6-vector/src/dom/common/adopter.ts
  packages/x6-vue-shape/src/view.ts
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/graph/format.ts
  packages/x6/src/util/dom/geom.ts
  scripts/monorepo-semantic-release/yarn.lock
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  yarn.lock
Due: x6, x6-vector

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1a/57746c3623188e61d30944c9ab320b71ef08b5
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c1/e0d5afed1957e390b0fdc820848a1c6360ecf5
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4a/8ce47c4676e00b6470c765306c04228a95b0cd
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  45/d45de9e06ede30e6cdf5b958b6e585bf2545e3
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  18/780ddddd75f4320211d27ac463cf5838a7165e
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0e/fe5c51456d3beeb2fe651a85bafdd56ba88366
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d6/242db65c02bc562d590b8aa9655d0aed8a5ecd
Due: none

1.文档错误 slient -> silent
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: update doc api
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: update doc api (#2015)
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: fix incorrect desc at selection filter zh
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Due: none

docs: fix incorrect desc at selection filter
  sites/x6-sites/docs/tutorial/basic/selection.en.md
Due: none

refactor: ♻️ expose renderer interface in x6-core
  examples/x6-example-features/src/pages/v2/1.tsx
  examples/x6-example-features/src/pages/v2/2.tsx
  examples/x6-example-features/src/pages/v2/data.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer/index.ts
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/schedule/index.ts
  packages/x6-core/src/schedule/schedule.ts
  packages/x6-core/src/view/node.ts
  packages/x6-next/src/graph/events.ts
  packages/x6-next/src/graph/graph.ts
Due: x6

chore: 🔧 amend build-dev script
  scripts/build-dev
Due: none

refactor: ♻️ expose renderer interface in x6-core (#2021)
  examples/x6-example-features/src/pages/v2/1.tsx
  examples/x6-example-features/src/pages/v2/2.tsx
  examples/x6-example-features/src/pages/v2/data.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer/index.ts
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/schedule/index.ts
  packages/x6-core/src/schedule/schedule.ts
  packages/x6-core/src/view/node.ts
  packages/x6-next/src/graph/events.ts
  packages/x6-next/src/graph/graph.ts
  scripts/build-dev
Due: x6

refactor: ♻️ expose renderer interface in x6-core
  packages/x6-core/src/schedule/schedule.ts~HEAD
  packages/x6-core/src/schedule/schedule.ts~refactor: ♻️ expose renderer interface in x6-core
Due: x6

fix: 🐛 exclude case-sensitive-attr in kebablizeAttrs
  packages/x6/src/util/dom/attr.ts
Due: x6

fix: 🐛 exclude case-sensitive-attr in kebablizeAttrs (#2031)
  packages/x6/src/util/dom/attr.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  be/52637c60b9d03bbdcae5194188a18df2c9158b
Due: none

chore(release): @antv/x6@1.31.4 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  66/b2a448453f6c411f60f47e2db13ac698c50eab
Due: none
