Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

feat: keyboard support clear and custom trigger
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

feat: keyboard support clear and custom trigger
  packages/x6-plugin-keyboard/src/api.ts
  packages/x6-plugin-keyboard/src/index.ts
Due: x6

feat: add return this
  packages/x6-plugin-keyboard/src/index.ts
Due: x6

fix(scheduler): remove spammy console.log (#3200)
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore: change grid generator logic, zoom out svg size
  packages/x6/src/graph/grid.ts
  packages/x6/src/registry/grid/index.ts
Due: x6

feat: add doc
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
Due: none

feat: adjust order
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
Due: none

feat: change order
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
Due: none

feat: add options for positionCell api
  packages/x6/src/graph/graph.ts
Due: x6

feat: keyboard support clear and custom trigger (#3202)
  packages/x6-plugin-keyboard/src/api.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
Due: x6

feat: add options for positionCell api (#3208)
  packages/x6/src/graph/graph.ts
Due: x6

feat: add plugin priority
  packages/x6/src/graph/graph.ts
Due: x6

chore: should use local to format
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

chore: should use local to format (#3222)
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

fix: fix scroller options typo
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/index.ts
  sites/x6-sites/package.json
Due: x6

fix: add padding options for position api
  packages/x6/src/graph/graph.ts
Due: x6

chore: queueJob optimize
  packages/x6/src/renderer/queueJob.ts
Due: x6

fix: fix scroller options typo (#3224)
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/index.ts
  sites/x6-sites/package.json
Due: x6

fix: add padding options for position api (#3225)
  packages/x6/src/graph/graph.ts
Due: x6

docs: fix typo
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
Due: none

docs: fix typo (#3234)
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
Due: none

feat: add updateNode/updateEdge API #3235
  packages/x6/src/model/model.ts
Due: x6

chore: queueJob optimize (#3226)
  packages/x6/src/renderer/queueJob.ts
Due: x6

feat: update return value
  packages/x6/src/model/model.ts
Due: x6

chore: add lodash into peerDependencies
  packages/x6-common/package.json
Due: x6, x6-common

fix: call error create function
  packages/x6/src/model/model.ts
Due: x6

feat: virtual render fix
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/graph/render.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/virtual-render.ts
Due: x6

fix: donot empty text when only has title elem
  packages/x6-common/src/dom/text.ts
Due: x6, x6-common

fix: donot empty text when only has title elem (#3248)
  packages/x6-common/src/dom/text.ts
Due: x6, x6-common

feat: use throttle
  packages/x6-common/src/function/function.ts
  packages/x6/src/graph/virtual-render.ts
  rollup.config-1676537729943.cjs
Due: x6, x6-common

feat: delete hash file
  rollup.config-1676537729943.cjs
Due: none

feat: render edge when node not rendered
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/graph/render.ts
  packages/x6-common/src/function/function.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/edge.ts
Due: x6, x6-common

feat: render edge when node not rendered
  packages/x6/src/view/edge.ts
Due: x6

feat: point to node center when node not rendered
  packages/x6/src/registry/node-anchor/bbox.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/edge.ts
Due: x6

feat: delete console
  examples/x6-example-features/src/pages/graph/index.tsx
Due: none
