Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-sites-demos@1.2.0 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

fix: segments & vertices tool add onChanged callback (#1348)
  packages/x6/src/registry/tool/segments.ts
  packages/x6/src/registry/tool/vertices.ts
Due: x6

docs: 📚️ update edge tooltip dmeo (#1364)
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.2 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
  sites/x6-sites-demos-helper/package.json
Due: none

fix: 🐛 fix option merge order in paste (#1350)
  packages/x6/src/addon/clipboard/index.ts
Due: x6

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-vue-shape@1.2.10 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6@1.26.3 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6@1.26.2 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-angular-shape@1.1.1 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
Due: x6

chore(release): @antv/x6-sites-demos-helper@1.2.2 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

docs: fix typo (#1384)
  sites/x6-sites/docs/tutorial/basic/group.en.md
  sites/x6-sites/docs/tutorial/basic/group.zh.md
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

fix: 🐛 normalize event before get clientX (#1387)
  packages/x6/src/addon/transform/index.ts
Due: x6

chore(release): @antv/x6-geometry@1.0.9 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/eslint-config@1.0.1 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

feat: ✨ add resizeGroup for stencil (#1388)
  packages/x6/src/addon/stencil/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Due: x6

docs: 📚️ fix node flashing in dag demo (#1365)
  examples/x6-app-dag/src/pages/dag-canvas/elements/node-element.less
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.3 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
  sites/x6-sites-demos-helper/package.json
Due: none

ci: 👷 fix workflow (#1371)
  .github/workflows/auto-close-fixed-issues.yml
  .github/workflows/auto-comment.yml
  .github/workflows/backup/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/label-commands.yml
  .github/workflows/lock.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-label-branch-name.yml
  .github/workflows/pr-label-file-paths.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/pr-label-status-dummy.yml
  .github/workflows/pr-label-status.yml
  .github/workflows/pr-label-title-body.yml
  .github/workflows/preview.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/report-monthly.yml
  .github/workflows/report-weekly.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-authors.yml
  .github/workflows/update-contributors.yml
  .github/workflows/update-license.yml
  .github/workflows/welcome.yml
Due: none

chore(release): @antv/x6-vector@1.2.3 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

fix: 🐛 change home path in speedup js (#1369)
  sites/x6-sites-demos-helper/scripts/speedup.js
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

chore(release): @antv/stylelint-config@1.0.1 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.4.2 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-sites@1.4.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-react-shape@1.5.0 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none
