Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore: delete all releases and tags
  .github/workflows/delete-stale-releases.yml
Due: none

trigger semantic release...
  .releasing
Due: none

chore(release): @antv/x6-common@2.0.2@2.0.2 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

chore: keep latest releases
  .github/workflows/delete-stale-releases.yml
Due: none

chore(release): @antv/x6-plugin-export@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
Due: x6

Notes added by 'git notes add'
  84/355b0d4e93c827695c18f21c4f428c798ac3b8
Due: none

chore(release): @antv/x6@1.0.0@1.0.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  e9/cae532f40fab0abafe7e55ce51dc267f09f7f6
Due: none

chore(release): @antv/x6-common@1.0.0@1.0.0 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

Notes added by 'git notes add'
  d3/ec13c170e4e2ede40e603796c93ea91b121545
Due: none

chore(release): @antv/x6-geometry@1.0.0@1.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  01/6ee213c43da6ce0302ce5f4680f6431b355faa
Due: none

chore(release): @antv/x6-plugin-clipboard@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  8d/7d35b0c961fba8219098e95ea7aa990677dd63
Due: none

chore(release): @antv/x6-plugin-dnd@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  c7/f1ccc72301d73173d61559af2cf3466b1a0d47
Due: none

chore(release): @antv/x6-plugin-history@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  9b/7c14e803c1c9d2f88401ba5f9207b61dadf04d
Due: none

chore(release): @antv/x6-plugin-keyboard@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  22/2da4ab9d2ca1c8b1d7ef65289d9a7a37705c77
Due: none

chore(release): @antv/x6-plugin-minimap@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  fa/c1c514abb60406e8277cb863ec115d4f7fba90
Due: none

chore(release): @antv/x6-plugin-scroller@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  fb/b3224335a70bedea1d73fd607bfce8e98deb72
Due: none

chore(release): @antv/x6-plugin-selection@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  4f/56b3eefe59718781a525dd9fd144e2be70c9a5
Due: none

chore(release): @antv/x6-plugin-snapline@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  ef/083835e53e37ab34032b1832dadbf39336e567
Due: none

chore(release): @antv/x6-plugin-stencil@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  58/8b3e7c8247566bf8dfc799c2b1757ea89106eb
Due: none

chore(release): @antv/x6-plugin-transform@1.0.0@1.0.0 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  e1/4a613724c5b484340a04d366c55bcafe3bebd2
Due: none

chore(release): @antv/x6-react-components@1.0.0@1.0.0 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  27/80a9a259a4015df31eabbac4545f248c52ec50
Due: none

chore(release): @antv/x6-react-shape@1.0.0@1.0.0 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  61/a4d3d0f78508a58f5f888b2651b739f77aea26
Due: none

chore(release): @antv/x6-vue-shape@1.0.0@1.0.0 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  ae/d97b9e1cfd5f36ca96dd4a561d7e83f21bae1d
Due: none

chore(release): @antv/x6-build-tools@1.0.0@1.0.0 [skip ci]
  scripts/x6-build-tools/CHANGELOG.md
  scripts/x6-build-tools/package.json
Due: none
