Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

Notes added by 'git notes add'
  d8/7b2a7eaf28c24e415332cbcd263b0ea807a942
Due: none

chore(release): @antv/x6-vue-shape@1.4.0 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  37/2d5f3031cf7f481bd612beb77c5f8e9f54e2ee
Due: none

Notes added by 'git notes add'
  fc/06ff66d4a3c7285c57f3b617f7ea7fd3c79fd9
Due: none

chore(release): @antv/x6@1.31.5 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  4e/fdb3660de4f4f75c8d1ab9e94f2e29140e2f34
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  08/2d1f875b52130a5dee950e891a91fc715a754a
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  c3/fd2a24412ff35e895646f836f571edd3f3be20
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  2d/4ca77d460ffeacc412b9d5a52dfa2d1df03c4e
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  ec/419f8845e259d2e0f77e32d02bf8451d6a7d35
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  50/36dca96d83b5e6ad5dfcbeac2500ba85cfcc2e
Due: none

refactor: ♻️ remove toolsMarkup options
  examples/x6-example-features/src/pages/v2/1.tsx
  packages/x6-core/src/model/cell.ts
  packages/x6-core/src/model/collection.ts
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/flag.ts
  packages/x6-core/src/view/markup.ts
  packages/x6-core/src/view/tool.ts
  packages/x6-next/src/graph/graph.ts
Due: x6

refactor: ♻️ remove toolsMarkup options (#2099)
  examples/x6-example-features/src/pages/v2/1.tsx
  packages/x6-core/src/model/cell.ts
  packages/x6-core/src/model/collection.ts
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/flag.ts
  packages/x6-core/src/view/markup.ts
  packages/x6-core/src/view/tool.ts
  packages/x6-next/src/graph/graph.ts
Due: x6

refactor: ♻️ remove connection strategy options
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/registry/index.ts
  packages/x6-core/src/view/cache.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-next/src/graph/options.ts
  yarn.lock
Due: x6

refactor: ♻️ change getClientMatrix to getLocalMatrix
  packages/x6-next/src/graph/coord.ts
  packages/x6-next/src/graph/graph.ts
Due: x6

refactor: ♻️ remove delay attrs mechanism
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/cell.ts
Due: x6

fix: 🐛 get different DOMRect on same SVGElement
  packages/x6/src/util/dom/geom.ts
Due: x6

reactor: remove unnecessary api or options (#2106)
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/registry/index.ts
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/cache.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-next/src/graph/coord.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/options.ts
  yarn.lock
Due: x6

feat: ✨ unified minimap interaction between scroller and panning
  packages/x6-vector/src/vector/image/image.test.ts
  packages/x6/src/addon/minimap/index.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/graph/transform.ts
Due: x6, x6-vector

feat: ✨ unified minimap interaction between scroller and panning (#2109)
  packages/x6-vector/src/vector/image/image.test.ts
  packages/x6/src/addon/minimap/index.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/graph/transform.ts
Due: x6, x6-vector

chore(release): @antv/x6-example-features@1.2.3 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  78/f1f534a128717eb32f43ce5cc3b9f9b84111e6
Due: none

chore(release): @antv/x6-vector@1.4.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Notes added by 'git notes add'
  fa/34253f0aad14b2b6096f00348bea196f819bcd
Due: none

Notes added by 'git notes add'
  8c/c9c3f257bce5de823f68d92271014e5f126fc2
Due: none

chore(release): @antv/x6@1.32.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-app-dag@1.1.8 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  2e/918082009b1ce730aa145fccf3eca696e4cfd9
Due: none

chore(release): @antv/x6-app-draw@1.1.7 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  0d/cb61262a2f1143e7915988c7c885602424d53e
Due: none

Notes added by 'git notes add'
  96/ad752cccfe55a9784fcf36e282d857e626d7f4
Due: none

chore(release): @antv/x6-app-er@1.1.8 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  ff/e83068517c62466a121c499a9dfa2776ab3e46
Due: none

chore(release): @antv/x6-sites-demos@1.2.2 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none
