Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-plugin-scroller@1.1.0 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

chore(release): @antv/x6-plugin-selection@1.0.2 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  23/120ffc65cf18a60a313c5431ce8eae654f575d
Due: none

Notes added by 'git notes add'
  8f/57a6320631ce5ed39ba964057cd447d1dc3948
Due: none

chore(release): @antv/x6-plugin-snapline@1.0.2 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

chore(release): @antv/x6-plugin-stencil@1.0.2 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  b1/ec2def7b543916843e4741c8a7564fc35585d6
Due: none

chore(release): @antv/x6-plugin-transform@1.0.2 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  6f/591418d21ff1ef34f24a62606de407da7411d7
Due: none

chore(release): @antv/x6-react-components@1.1.0 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  4c/61c7f74dc888f2d0033327fbec6107242f4525
Due: none

chore(release): @antv/x6-react-shape@1.0.2 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  b9/03dc0539d2f0899ba12331077a7a36f3d6e9f6
Due: none

Notes added by 'git notes add'
  5c/1dc137d5b8b7a1b203ca89b661b33035259d2a
Due: none

chore(release): @antv/x6-vue-shape@1.1.0 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore: bump to 2.0
  examples/x6-example-features/package.json
  package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: x6, x6-geometry

chore(release): @antv/x6-plugin-dnd@1.0.3 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  75/fa88ec806af79ae0eb5cb14c48d8989a98114e
Due: none

chore(release): @antv/x6-example-features@1.0.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  19/0d0978ef08b9a502f6963c3344efcfcdec6992
Due: none

chore(release): @antv/x6@1.1.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  c0/18065a421e1ec161ccdd46426d038c0229142d
Due: none

Notes added by 'git notes add'
  39/278f8b674f329e0feae9e57575da2463e2bc25
Due: none

chore(release): @antv/x6-common@1.1.1 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

chore(release): @antv/x6-geometry@1.0.2 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  49/f2162e616eb80584254531b0d6ddaacde9c9b8
Due: none

chore(release): @antv/x6-plugin-clipboard@1.0.3 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  1d/4924a84ad3e1b79adea06bdcae9e76913cec1c
Due: none

chore(release): @antv/x6-plugin-export@1.0.3 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
Due: x6

Notes added by 'git notes add'
  f2/41fadbcca8cb48ace33c26e9320e4e17f03020
Due: none

Notes added by 'git notes add'
  b6/d8ffa913dfae190284247c65bfefcba4c86b15
Due: none

chore(release): @antv/x6-plugin-history@1.0.3 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

chore(release): @antv/x6-plugin-keyboard@1.0.3 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  4d/c8f56bfc37cc6ceb4f85fc299be12e176a10e4
Due: none

chore(release): @antv/x6-plugin-minimap@1.0.3 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  23/ddfa27c5591b4660df87e9f73fc3495cdde0f3
Due: none

chore(release): @antv/x6-plugin-scroller@1.1.1 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  0f/71b7ee0678d93e99de0b460ace62fd96bb17d1
Due: none

chore(release): @antv/x6-plugin-selection@1.0.3 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  a0/2791901bb6dd7db83a0fa07c86852475f1c34e
Due: none
