Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

Notes added by 'git notes add'
  cb/8df747bb75e3a62d5afbd5787a4df9f86a2213
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  54/8f56e9c52f1b37bb116ec76c546cf03489b9a4
Due: none

fix: 🐛 optimize setText for edge-editor
  packages/x6/src/registry/tool/editor.ts
Due: x6

docs: fix typo
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

fix: 🐛 optimize setText for edge-editor (#1877)
  packages/x6/src/registry/tool/editor.ts
Due: x6

docs: fix typo (#1878)
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  3a/312c0b98b4353e3b4016ec19c535859c2820ab
Due: none

chore(release): @antv/x6@1.30.2 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  39/41cc8ffc06eeaa482f6f8c2146f9c3a5debcc3
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  52/a28cb5b84dab09e6c259f22302fa37aa9d569c
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  40/13038980aa4ae411c8400ac4ca730540fa5120
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  a2/268a0d664c82be9acf8a7612c2037f2bebb184
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  db/349d868e714cbb1cfa47f7da35029ba5451785
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  98/4429bc10f0854a0438eac16a0cc4909c491098
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  96/37a254e0a5e9beb5a11546fd3208855d1e5f29
Due: none

feat: 🐛　support click on the non-text area without adding a new label
  packages/x6/src/registry/tool/editor.ts
  packages/x6/src/view/cell.ts
Due: x6

feat: 🐛　support click on the non-text area without adding a new label
  packages/x6/src/registry/tool/editor.ts
Due: x6

feat: 🐛　support click on the non-text area without adding a new label (#1894)
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: 🐛 fix cellEditorOptions typo
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: 🐛 fix cellEditorOptions typo (#1895)
  packages/x6/src/registry/tool/editor.ts
Due: x6

docs: update doc about and contact
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
Due: none

docs: update doc about and contact (#1898)
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
Due: none

docs: 📚️ update readme and contributing
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.en-us.md
  README.md
  packages/x6-geometry/src/version.ts
  packages/x6/src/style/raw.ts
Due: x6, x6-geometry

style: 🎨 fix lint error
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/elk.tsx
  examples/x6-example-features/src/pages/edge/tooltip.tsx
  examples/x6-example-features/src/pages/embed/nested2.tsx
  examples/x6-example-features/src/pages/graph/attribute-card.tsx
  examples/x6-example-features/src/pages/graph/background-card.tsx
  examples/x6-example-features/src/pages/graph/bbox-card.tsx
  examples/x6-example-features/src/pages/graph/fit-card.tsx
  examples/x6-example-features/src/pages/graph/grid-card.tsx
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/graph/scale-card.tsx
  examples/x6-example-features/src/pages/issues/520.tsx
  examples/x6-example-features/src/pages/issues/531.tsx
  examples/x6-example-features/src/pages/issues/537.tsx
  examples/x6-example-features/src/pages/issues/627.tsx
  examples/x6-example-features/src/pages/measurement/angle-shape.ts
  examples/x6-example-features/src/pages/org/index.tsx
  examples/x6-example-features/src/pages/path/random.tsx
  examples/x6-example-features/src/pages/performance/async.tsx
  examples/x6-example-features/src/pages/react/table/component.tsx
  examples/x6-example-features/src/pages/router/index.tsx
  examples/x6-example-features/src/pages/shape/xml-markup.tsx
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/undo/index.tsx
Due: none

test: 🚨 delete some test case
  packages/x6/src/util/unit/index.test.ts
Due: x6

style: 🎨 fix lint error (#1907)
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/elk.tsx
  examples/x6-example-features/src/pages/edge/tooltip.tsx
  examples/x6-example-features/src/pages/embed/nested2.tsx
  examples/x6-example-features/src/pages/graph/attribute-card.tsx
  examples/x6-example-features/src/pages/graph/background-card.tsx
  examples/x6-example-features/src/pages/graph/bbox-card.tsx
  examples/x6-example-features/src/pages/graph/fit-card.tsx
  examples/x6-example-features/src/pages/graph/grid-card.tsx
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/graph/scale-card.tsx
  examples/x6-example-features/src/pages/issues/520.tsx
  examples/x6-example-features/src/pages/issues/531.tsx
  examples/x6-example-features/src/pages/issues/537.tsx
  examples/x6-example-features/src/pages/issues/627.tsx
  examples/x6-example-features/src/pages/measurement/angle-shape.ts
  examples/x6-example-features/src/pages/org/index.tsx
  examples/x6-example-features/src/pages/path/random.tsx
  examples/x6-example-features/src/pages/performance/async.tsx
  examples/x6-example-features/src/pages/react/table/component.tsx
  examples/x6-example-features/src/pages/router/index.tsx
  examples/x6-example-features/src/pages/shape/xml-markup.tsx
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6/src/util/unit/index.test.ts
Due: x6

chore: 🔧 delete package x6-react
  .github/workflows/config/labels.yml
  .github/workflows/delete-stale-releases.yml
  packages/x6-react/CHANGELOG.md
  packages/x6-react/README.md
  packages/x6-react/package.json
  packages/x6-react/rollup.config.js
  packages/x6-react/src/index.ts
  packages/x6-react/tsconfig.json
  packages/x6/README.md
  scripts/build-dev
Due: x6

chore: 🔧 delete package x6-react (#1908)
  .github/workflows/config/labels.yml
  .github/workflows/delete-stale-releases.yml
  packages/x6-react/CHANGELOG.md
  packages/x6-react/README.md
  packages/x6-react/package.json
  packages/x6-react/rollup.config.js
  packages/x6-react/src/index.ts
  packages/x6-react/tsconfig.json
  packages/x6/README.md
  scripts/build-dev
Due: x6

fix: 🐛 change the order of statement
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: 🐛 change the order of statement (#1910)
  packages/x6/src/registry/tool/editor.ts
Due: x6
