Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore: 🔧 update peerDeps for plugins (#2652)
  lerna.json
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update yarn.lock
  packages/x6-next/src/version.ts
  yarn.lock
Due: x6

chore: 🔧 update yarn.lock (#2653)
  packages/x6-next/src/version.ts
  yarn.lock
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-next/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update peerDeps for plugins
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update peerDeps for plugins (#2657)
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 unify the version of each package
  examples/x6-example-features/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/package.json
  packages/x6-next/src/index.ts
  packages/x6-next/src/version.ts
Due: x6, x6-geometry

chore: 🔧 unify the version of each package (#2658)
  examples/x6-example-features/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/package.json
  packages/x6-next/src/index.ts
  packages/x6-next/src/version.ts
Due: x6, x6-geometry

chore: 🔧 update x6-react-components version
  packages/x6-react-components/package.json
Due: x6

chore: 🔧 remove release-it cmd
  configs/package-json/cli.json
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

chore: 🔧 remove release-it cmd (#2659)
  configs/package-json/cli.json
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

chore(release): 🚀 publish
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-components/package.json
Due: x6, x6-geometry

chore(release): 🚀 publish
  lerna.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

chore: 🔧 update yarn.lock
  yarn.lock
Due: none

feat: ✨ add keyboard plugin
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-plugin-keyboard/LICENSE
  packages/x6-plugin-keyboard/README.md
  packages/x6-plugin-keyboard/index.ts
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-keyboard/rollup.config.js
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/tsconfig.json
Due: x6

feat: ✨ add keyboard plugin (#2665)
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-plugin-keyboard/LICENSE
  packages/x6-plugin-keyboard/README.md
  packages/x6-plugin-keyboard/index.ts
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-keyboard/rollup.config.js
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/tsconfig.json
  yarn.lock
Due: x6

feat: ✨ dnd support dndContainer. close #2562 #2572 (#2585)
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites-demos/packages/tutorial/basic/dnd/dnd/src/app.tsx
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Due: x6

feat: ✨ improve scroller plugin
  packages/x6-common/src/css-loader/index.ts
  packages/x6-common/src/css-loader/loader.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/prop.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/modifier/index.ts
  packages/x6-next/src/graph/css.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-scroller/scripts/style.js
  packages/x6-plugin-scroller/src/css.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-plugin-scroller/src/types.ts
Due: x6

feat: ✨ improve scroller plugin (#2667)
  packages/x6-common/src/css-loader/index.ts
  packages/x6-common/src/css-loader/loader.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/prop.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/modifier/index.ts
  packages/x6-next/src/graph/css.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-scroller/scripts/style.js
  packages/x6-plugin-scroller/src/css.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-plugin-scroller/src/types.ts
Due: x6

feat: ✨ add trnsition methods for scroller plugin
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

feat: ✨ add trnsition methods for scroller plugin (#2670)
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-common/package.json
  packages/x6-next/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
Due: x6

fix: 🐛 change init method to public
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-scroller/src/index.ts
Due: x6

fix: 🐛 change init method to public (#2671)
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-scroller/src/index.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-scroller/package.json
Due: x6

fix: 🐛 fix type error in keyboard plugin
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  scripts/build-dev
Due: x6

fix: 🐛 fix type error in keyboard plugin (#2674)
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  scripts/build-dev
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-keyboard/package.json
Due: x6

fix: 🐛 add page size check condition
  packages/x6/src/addon/scroller/index.ts
Due: x6

feat: ✨ foreignObject内部元素默认不触发拖动和选中行为 close #2549
  packages/x6-react-shape/src/view.ts
  packages/x6/src/util/dom/elem.ts
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 add return type
  packages/x6/src/util/dom/elem.ts
Due: x6

fix: 🐛 add page size check condition (#2675)
  packages/x6/src/addon/scroller/index.ts
Due: x6

docs: fix the docs in use Vue3 Teleport
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: none

docs: 📚️ add port connected demo
  examples/x6-example-features/src/pages/ports/connected.tsx
Due: none

docs: change changelog href
  README.md
  packages/x6/README.md
  sites/x6-sites/docs/tutorial/about.zh.md
Due: x6

feat: ✨ add scroller api
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/transform.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

feat: ✨ add scroller api
  examples/x6-example-features/src/pages/ports/connected.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/transform.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

docs: fix the docs in use Vue3 Teleport (#2677)
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: none

docs: change changelog href (#2679)
  README.md
  packages/x6/README.md
  sites/x6-sites/docs/tutorial/about.zh.md
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
