Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-vue-shape@1.2.9 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6@1.26.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

fix: 🐛 not stopPropagation when mousedown (#1305)
  packages/x6/src/addon/selection/index.ts
Due: x6

feat: 🎸 为定义业务数据的 data 属性提供类型定义 (#1278)
  packages/x6/src/model/cell.ts
Due: x6

docs: 📚️ add flow chart demo (#1284)
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
Due: none

fix(x6-vue-shape): clear vue instance (#1264)
  packages/x6-vue-shape/src/view.ts
Due: x6

chore(release): @antv/x6-sites-demos@1.2.0 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6@1.26.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-react-components@1.1.14 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/stylelint-config@1.0.1 [skip ci]
  configs/stylelint-config/CHANGELOG.md
  configs/stylelint-config/package.json
Due: none

chore(release): @antv/eslint-config@1.0.1 [skip ci]
  configs/eslint-config/CHANGELOG.md
  configs/eslint-config/package.json
Due: none

chore(release): @antv/x6-react@1.1.10 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

fix: curve demo (#1306)
  sites/x6-sites/examples/edge/connector/demo/curve.ts
Due: none

chore: 🛠️ update deps (#1336)
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/jest.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  package.json
  packages/x6-angular-shape/package.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-components/src/util/dom/animationFrame.ts
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/style/raw.ts
  packages/x6/src/util/datauri/index.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore(release): @antv/x6-vector@1.2.3 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-react-shape@1.4.6 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-angular-shape@1.1.1 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
Due: x6

chore(release): @antv/x6-geometry@1.0.9 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

feat(react-shape): ✨ add throttle to size and position (#1335)
  packages/x6-react-shape/src/wrap.ts
Due: x6

ci: 👷 action to update label when PR's state changed
  .github/workflows/pr-label-status.yml
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
