Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

chore: release @antv/x6@2.9.1 (#3448)
  packages/x6/package.json
Due: x6

fix: type of `moveThreshold` should be `number`
  packages/x6/src/graph/options.ts
Due: x6

fix: type of `moveThreshold` should be `number` (#3450)
  packages/x6/src/graph/options.ts
Due: x6

fix: chagne model writable
  packages/x6/src/graph/graph.ts
Due: x6

fix: auto construct view after createView hook
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: chagne createCellView return type
  packages/x6/src/graph/options.ts
Due: x6

fix: render existed cells when init
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: reset model when dispose minimap
  packages/x6-plugin-minimap/src/index.ts
Due: x6

docs: add simple mode for minimap demo
  sites/x6-sites/src/tutorial/plugins/minimap/index.less
  sites/x6-sites/src/tutorial/plugins/minimap/index.tsx
  sites/x6-sites/src/tutorial/plugins/minimap/simple-view.tsx
  sites/x6-sites/src/tutorial/plugins/scroller/index.less
Due: none

chore: release x62.9.2 and minimap@2.0.4
  packages/x6-plugin-minimap/package.json
  packages/x6/package.json
Due: x6

feat: support render simple view in minimap (#3453)
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-minimap/src/index.ts
  packages/x6/package.json
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/src/tutorial/plugins/minimap/index.less
  sites/x6-sites/src/tutorial/plugins/minimap/index.tsx
  sites/x6-sites/src/tutorial/plugins/minimap/simple-view.tsx
  sites/x6-sites/src/tutorial/plugins/scroller/index.less
Due: x6

fix: 🐛 fix parseInt error
  packages/x6/src/view/node.ts
Due: x6

chore(release): 🚀 publish
  packages/x6/package.json
Due: x6

fix: fix error usage of parseInt
  packages/x6/src/view/node.ts
Due: x6

fix: fix error usage of parseInt (#3455)
  packages/x6/src/view/node.ts
Due: x6

fix: remove connection strategy option
  packages/x6/package.json
  packages/x6/src/graph/options.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/interacting/interaction.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
Due: x6

fix: remove connection strategy option (#3456)
  packages/x6/package.json
  packages/x6/src/graph/options.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/interacting/interaction.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
Due: x6

fix: remove unused type
  packages/x6/src/view/cell.ts
Due: x6

fix: remove unused type (#3457)
  packages/x6/src/view/cell.ts
Due: x6

docs: 修复 NodeAnchor 文档错误
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
Due: none

docs: fix NodeAnchor doc wrong (#3464)
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
Due: none

docs: unified doc format
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
Due: none

docs: unified doc format (#3469)
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
Due: none

fix: mock mouseenter and mouseleave events for port
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/x6/src/view/node.ts
  pnpm-lock.yaml
Due: x6

chore: add publish packages script
  package.json
Due: none

chore: update ui.js for devtool
  packages/x6-devtool/devtools/ui/ui.js
Due: x6

fix: mock mouseenter and mouseleave event (#3481)
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/x6-devtool/devtools/ui/ui.js
  packages/x6/src/view/node.ts
  pnpm-lock.yaml
Due: x6

chore: remove changeset
  .changeset/README.md
  .changeset/config.json
  package.json
Due: none

chore: release x6@2.9.5
  packages/x6/package.json
Due: x6

chore: release x6@2.9.5 (#3482)
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/x6/package.json
Due: x6

docs: optimize router docs
  pnpm-lock.yaml
  sites/x6-sites/docs/api/registry/router.zh.md
  sites/x6-sites/examples/node/tool/demo/editable.ts
  sites/x6-sites/package.json
  sites/x6-sites/src/api/router/er/index.less
  sites/x6-sites/src/api/router/er/index.tsx
  sites/x6-sites/src/api/router/er/settings.tsx
  sites/x6-sites/src/api/router/manhattan/index.less
  sites/x6-sites/src/api/router/manhattan/index.tsx
  sites/x6-sites/src/api/router/metro/index.less
  sites/x6-sites/src/api/router/metro/index.tsx
  sites/x6-sites/src/api/router/oneside/index.less
  sites/x6-sites/src/api/router/oneside/index.tsx
  sites/x6-sites/src/api/router/orth/index.less
  sites/x6-sites/src/api/router/orth/index.tsx
  sites/x6-sites/src/api/router/random/index.less
  sites/x6-sites/src/api/router/random/index.tsx
  sites/x6-sites/src/tutorial/plugins/scroller/index.tsx
Due: none

docs: change style of code
  sites/x6-sites/.dumi/global.less
  sites/x6-sites/docs/api/graph/background.zh.md
  sites/x6-sites/docs/api/graph/coordinate.zh.md
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/graph/mousewheel.zh.md
  sites/x6-sites/docs/api/graph/panning.zh.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/api/graph/view.zh.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/marker.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/api/registry/background.zh.md
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/connector.zh.md
  sites/x6-sites/docs/api/registry/edge-anchor.zh.md
  sites/x6-sites/docs/api/registry/filter.zh.md
  sites/x6-sites/docs/api/registry/grid.zh.md
  sites/x6-sites/docs/api/registry/highlighter.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
  sites/x6-sites/docs/api/registry/port-label-layout.zh.md
  sites/x6-sites/docs/api/registry/port-layout.zh.md
  sites/x6-sites/docs/temp/animation.zh.md
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/export.zh.md
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
  sites/x6-sites/docs/tutorial/plugins/snapline.zh.md
Due: none

chore: cancel useless options
  examples/x6-example-features/src/pages/auto-resize/index.tsx
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/mind.tsx
  examples/x6-example-features/src/pages/clipboard/index.tsx
  examples/x6-example-features/src/pages/history/index.tsx
  examples/x6-example-features/src/pages/keyboard/index.tsx
  examples/x6-example-features/src/pages/minimap/index.less
  examples/x6-example-features/src/pages/minimap/index.tsx
  examples/x6-example-features/src/pages/minimap/simple-view.tsx
  examples/x6-example-features/src/pages/position/position.tsx
  examples/x6-example-features/src/pages/scroller/index.tsx
  examples/x6-example-features/src/pages/selection/index.tsx
  examples/x6-example-features/src/pages/snapline/index.tsx
  examples/x6-example-features/src/pages/undo/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-export/src/index.ts
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-minimap/src/index.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-transform/src/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
  sites/x6-sites/docs/tutorial/plugins/snapline.zh.md
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
Due: x6

chore: cancel useless options (#3489)
  examples/x6-example-features/src/pages/auto-resize/index.tsx
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/mind.tsx
  examples/x6-example-features/src/pages/clipboard/index.tsx
  examples/x6-example-features/src/pages/history/index.tsx
  examples/x6-example-features/src/pages/keyboard/index.tsx
  examples/x6-example-features/src/pages/minimap/index.less
  examples/x6-example-features/src/pages/minimap/index.tsx
  examples/x6-example-features/src/pages/minimap/simple-view.tsx
  examples/x6-example-features/src/pages/position/position.tsx
  examples/x6-example-features/src/pages/scroller/index.tsx
  examples/x6-example-features/src/pages/selection/index.tsx
  examples/x6-example-features/src/pages/snapline/index.tsx
  examples/x6-example-features/src/pages/undo/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-export/src/index.ts
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-minimap/src/index.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-transform/src/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
  sites/x6-sites/docs/tutorial/plugins/snapline.zh.md
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
Due: x6

docs: restricted => restrict
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
  sites/x6-sites/src/tutorial/plugins/transform/resizing/index.tsx
  sites/x6-sites/src/tutorial/plugins/transform/resizing/settings.tsx
Due: none

docs: restricted => restrict (#3495)
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
  sites/x6-sites/src/tutorial/plugins/transform/resizing/index.tsx
  sites/x6-sites/src/tutorial/plugins/transform/resizing/settings.tsx
Due: none

chore: release some packages
  examples/x6-example-features/src/pages/basic/index.tsx
  packages/x6-angular-shape/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6, x6-common, x6-geometry

chore: release some packages (#3499)
  examples/x6-example-features/src/pages/basic/index.tsx
  packages/x6-angular-shape/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6, x6-common, x6-geometry

careless mistake fix
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
