Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

Notes added by 'git notes add'
  28/2d94ecc112cfb049b66f24ae73bd6b4ddf02ab
Due: none

chore(release): @antv/x6-vector@1.2.4 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

docs: 📚️ 📝 update edge
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/edge.zh.md
Due: none

docs: 📚️ update layout demos
  packages/x6-vector/package.json
  sites/x6-sites/examples/animation/smil/demo/meta.json
  sites/x6-sites/examples/layout/general/demo/circle.ts
  sites/x6-sites/examples/layout/general/demo/dagre.ts
  sites/x6-sites/examples/layout/general/demo/ellipse.ts
  sites/x6-sites/examples/layout/general/demo/force.ts
  sites/x6-sites/examples/layout/general/demo/grid.ts
  sites/x6-sites/examples/layout/general/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/mindmap.ts
Due: x6, x6-vector

docs: 📚️ 📝 update edge (#1552)
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/edge.zh.md
Due: none

docs: 📚️ update layout demos (#1553)
  packages/x6-vector/package.json
  sites/x6-sites/examples/animation/smil/demo/meta.json
  sites/x6-sites/examples/layout/general/demo/circle.ts
  sites/x6-sites/examples/layout/general/demo/dagre.ts
  sites/x6-sites/examples/layout/general/demo/ellipse.ts
  sites/x6-sites/examples/layout/general/demo/force.ts
  sites/x6-sites/examples/layout/general/demo/grid.ts
  sites/x6-sites/examples/layout/general/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/mindmap.ts
Due: x6, x6-vector

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  23/938bd56add5dbdf9e348fbeccf55083bb80c6e
Due: none

chore(release): @antv/x6-vector@1.2.4 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
Due: x6, x6-vector

docs: 📚️ update model
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

fix: fix react-color version to avoid bug
  packages/x6-react-components/package.json
Due: x6

fix: fix react-color version to avoid bug (#1571)
  packages/x6-react-components/package.json
Due: x6

docs: 📚️ update model (#1555)
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: 📚️ add port tooltip demo
  examples/x6-example-features/src/pages/tools/port-tooltip.tsx
  sites/x6-sites/examples/node/tool/demo/meta.json
  sites/x6-sites/examples/node/tool/demo/port-tooltip.tsx
Due: none

docs: 📚️ add port tooltip demo (#1574)
  examples/x6-example-features/src/pages/tools/port-tooltip.tsx
  sites/x6-sites/examples/node/tool/demo/meta.json
  sites/x6-sites/examples/node/tool/demo/port-tooltip.tsx
Due: none

docs: 📚️ add swimlane demo
  examples/x6-example-features/src/pages/case/swimlane.tsx
  sites/x6-sites/examples/data/swimlane.json
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
  sites/x6-sites/examples/showcase/practices/demo/swimlane.ts
Due: none

docs: 📚️ add swimlane demo (#1575)
  examples/x6-example-features/src/pages/case/swimlane.tsx
  sites/x6-sites/examples/data/swimlane.json
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
  sites/x6-sites/examples/showcase/practices/demo/swimlane.ts
Due: none

fix: 🐛 revert react-color version
  packages/x6-react-components/package.json
Due: x6

fix: 🐛 revert react-color version (#1576)
  packages/x6-react-components/package.json
Due: x6

docs: 📚️ add elk demo
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/case/elk.tsx
  examples/x6-example-features/src/pages/case/elkdata.json
  sites/x6-sites/examples/data/elkdata.json
  sites/x6-sites/examples/showcase/practices/demo/elk.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/gatsby-browser.js
  sites/x6-sites/package.json
  yarn.lock
Due: none

docs: 📚️ add elk demo (#1578)
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/case/elk.tsx
  examples/x6-example-features/src/pages/case/elkdata.json
  sites/x6-sites/examples/data/elkdata.json
  sites/x6-sites/examples/showcase/practices/demo/elk.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/gatsby-browser.js
  sites/x6-sites/package.json
  yarn.lock
Due: none

docs: 📚️ update org demo
  examples/x6-example-features/src/pages/stage/change-mode.tsx
  examples/x6-example-features/src/pages/stage/flex-image.ts
  examples/x6-example-features/src/pages/stage/text-wrap copy.ts
  examples/x6-example-features/src/pages/stage/text-wrap.ts
  examples/x6-example-features/src/pages/stage/validate-connection.tsx
  sites/x6-sites/examples/showcase/faq/demo/meta.json
  sites/x6-sites/examples/showcase/faq/demo/path-editor.ts
  sites/x6-sites/examples/showcase/faq/demo/validate-connection.ts
  sites/x6-sites/examples/showcase/faq/index.en.md
  sites/x6-sites/examples/showcase/faq/index.zh.md
  sites/x6-sites/examples/showcase/practices/demo/elk.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
  sites/x6-sites/examples/showcase/practices/demo/org.ts
  sites/x6-sites/examples/showcase/practices/demo/orgchart.ts
  sites/x6-sites/examples/showcase/practices/demo/tree.ts
  sites/x6-sites/examples/showcase/practices/demo/validate-connection.ts
  sites/x6-sites/examples/showcase/practices/index.zh.md
Due: none

docs: 📚️ update org demo (#1581)
  examples/x6-example-features/src/pages/stage/change-mode.tsx
  examples/x6-example-features/src/pages/stage/flex-image.ts
  examples/x6-example-features/src/pages/stage/text-wrap copy.ts
  examples/x6-example-features/src/pages/stage/text-wrap.ts
  examples/x6-example-features/src/pages/stage/validate-connection.tsx
  sites/x6-sites/examples/showcase/faq/demo/meta.json
  sites/x6-sites/examples/showcase/faq/demo/path-editor.ts
  sites/x6-sites/examples/showcase/faq/demo/validate-connection.ts
  sites/x6-sites/examples/showcase/faq/index.en.md
  sites/x6-sites/examples/showcase/faq/index.zh.md
  sites/x6-sites/examples/showcase/practices/demo/elk.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
  sites/x6-sites/examples/showcase/practices/demo/org.ts
  sites/x6-sites/examples/showcase/practices/demo/orgchart.ts
  sites/x6-sites/examples/showcase/practices/demo/tree.ts
  sites/x6-sites/examples/showcase/practices/demo/validate-connection.ts
  sites/x6-sites/examples/showcase/practices/index.zh.md
Due: none

docs: 📚️ update animation demo
  sites/x6-sites/examples/animation/smil/demo/animateAlongPath.ts
  sites/x6-sites/examples/animation/smil/demo/flashing.ts
  sites/x6-sites/examples/animation/smil/demo/meta.json
Due: none

docs: 📚️ update animation demo (#1582)
  sites/x6-sites/examples/animation/smil/demo/animateAlongPath.ts
  sites/x6-sites/examples/animation/smil/demo/flashing.ts
  sites/x6-sites/examples/animation/smil/demo/meta.json
Due: none

fix: fix react-color version to avoid bug (#1579)
  packages/x6-react-components/package.json
Due: x6

docs: 📚️ remove stage dir
  examples/x6-example-features/src/pages/stage/change-mode.tsx
  examples/x6-example-features/src/pages/stage/flex-image.ts
  examples/x6-example-features/src/pages/stage/text-wrap copy.ts
  examples/x6-example-features/src/pages/stage/text-wrap.ts
  examples/x6-example-features/src/pages/stage/validate-connection.tsx
Due: none

docs: 📚️ remove stage dir (#1585)
  examples/x6-example-features/src/pages/stage/change-mode.tsx
  examples/x6-example-features/src/pages/stage/flex-image.ts
  examples/x6-example-features/src/pages/stage/text-wrap copy.ts
  examples/x6-example-features/src/pages/stage/text-wrap.ts
  examples/x6-example-features/src/pages/stage/validate-connection.tsx
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.2 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  78/042756a274b03811be3b0c736ea2c8a728f4d4
Due: none

chore(release): @antv/x6-react-components@1.1.16 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  aa/759e8c54e82c52aef29bf883f186039210591f
Due: none

docs: 📚️ update readme
  README.en-us.md
  README.md
Due: none

docs: 📚️ update readme (#1621)
  README.en-us.md
  README.md
Due: none

fix English typo in example gallery
  sites/x6-sites/examples/showcase/faq/demo/meta.json
Due: none

fix English typo in example gallery (#1634)
  sites/x6-sites/examples/showcase/faq/demo/meta.json
Due: none

fix: 🐛 get children or parent delay
  packages/x6/src/model/cell.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
