Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

docs(panning): add document for 'mouseWheelDown' of 'eventType'
  sites/x6-sites/docs/api/graph/panning.zh.md
Due: none

fix: improve code style
  packages/x6-plugin-selection/src/index.ts
Due: x6

fix: support cancel editor no mobile
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: move eventTypes to Selection.CommonOptions & add into the default option
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: use `dom-align` to position dnd container (#3978)
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  pnpm-lock.yaml
Due: x6

feat: export options types
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/index.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/view/node.ts
Due: x6

fix: support cancel editor no mobile (#3968)
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/tool/editor.ts
Due: x6

chore: release @antv/x6@2.15.3
  packages/x6/package.json
Due: x6

fix: put mouse button check log inside callback to enable dynamically change eventTypes
  packages/x6-plugin-selection/src/index.ts
  packages/x6/src/graph/panning.ts
Due: x6

fix: Remove unused `originOffset` in plugin-dnd
  packages/x6-plugin-dnd/src/index.ts
Due: x6

fix: optimize code style
  packages/x6-plugin-selection/src/index.ts
  packages/x6/src/graph/panning.ts
Due: x6

feat: support both mouse selection with the left mouse button and panning with the middle mouse button in the graph (#3965)
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6/src/graph/panning.ts
  sites/x6-sites/docs/api/graph/panning.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
Due: x6

fix: use `dom-align` to position dnd container (#3978) (#3979)
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  pnpm-lock.yaml
Due: x6

fix: memory leak issues
  packages/x6-common/src/common/basecoat.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/model/collection.ts
  packages/x6/src/model/model.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/view.ts
Due: x6, x6-common

fix: `Dom.Event.off` error while passing unexist event
  packages/x6-common/src/dom/event/core.ts
Due: x6, x6-common

test: Add test case for `Dom.Event.off` bug
  packages/x6-common/src/__tests__/dom/event.test.ts
Due: x6, x6-common

Fix/memory leak (#4009)
  packages/x6-common/src/__tests__/dom/event.test.ts
  packages/x6-common/src/common/basecoat.ts
  packages/x6-common/src/dom/event/core.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/model/collection.ts
  packages/x6/src/model/model.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/view.ts
Due: x6, x6-common

chore: release @antv/x6@2.15.4
  package.json
  packages/x6/package.json
Due: x6

chore: release some packages
  packages/x6-common/package.json
  packages/x6/package.json
Due: x6, x6-common

fix: don't dispose graph view
  packages/x6/src/view/view.ts
Due: x6

fix: don't dispose graph view (#4023)
  packages/x6/src/view/view.ts
Due: x6

chore: release @antv/x6@2.15.6
  packages/x6/package.json
Due: x6

fix: delete return selection
  packages/x6-plugin-selection/src/api.ts
Due: x6

fix: delete return selection (#4026)
  packages/x6-plugin-selection/src/api.ts
Due: x6

fix: 🐛 support multiple graph
  packages/x6-react-shape/src/view.ts
Due: x6

chore(release): 🚀 publish
  packages/x6-react-shape/package.json
Due: x6

chore: 🔧 change publish script
  package.json
Due: none

fix: paning mousewheel
  packages/x6/src/graph/panning.ts
Due: x6

fix: paning mousewheel (#4035)
  packages/x6/src/graph/panning.ts
Due: x6

chore: release x6@2.16.1
  packages/x6/package.json
Due: x6

chore: update dumi-theme-antv
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Due: none

chore: update dumi-theme-antv (#4043)
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Due: none

docs: iamge position change
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Due: none

docs: iamge position change (#4045)
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Due: none

feat: add collaboration demo
  examples/x6-example-features/package.json
  examples/x6-example-features/src/collaboration/app.ts
  examples/x6-example-features/src/collaboration/containerCode.ts
  examples/x6-example-features/src/collaboration/dataObject.ts
  examples/x6-example-features/src/collaboration/index.ts
  examples/x6-example-features/src/collaboration/view.ts
  pnpm-lock.yaml
Due: none

feat: selection's pointerEvents support function type
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: stencil addGroup
  examples/x6-example-features/src/pages/stencil/index.tsx
  packages/x6-plugin-stencil/src/index.ts
Due: x6

fix: format keyboard arrow codes to Mousetrap special codes (#4065)
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

fix: remove `Vue` from named export
  packages/x6-vue-shape/src/teleport.ts
Due: x6

fix: avoid access document or window in server side
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/prefix.ts
  packages/x6-common/src/dom/selection.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/polyfill/index.ts
  packages/x6/src/util/index.ts
Due: x6, x6-common
