Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

fix: 🐛 fix allowNode option affects port connections
  packages/x6/src/graph/hook.ts
Due: x6

fix: 🐛 fix allowNode option affects port connections (#2279)
  packages/x6/src/graph/hook.ts
Due: x6

chore: 🔧 pin gitleaks-actions to v1.6.0
  .github/workflows/gitleaks.yml
Due: none

chore: 🔧 pin gitleaks-actions to v1.6.0 (#2281)
  .github/workflows/gitleaks.yml
Due: none

chore: 🔧 code format and update version
  packages/x6/package.json
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/global/version.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
Due: x6

chore: 🔧 code format and update version (#2282)
  packages/x6/package.json
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/global/version.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
Due: x6

chore: 🔧 update version in package.json
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore: 🔧 update version in package.json (#2283)
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Update custom-node.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-node.en.md
Due: none

docs: recorrect the docs of custom-node
  sites/x6-sites/docs/tutorial/intermediate/custom-node.en.md
Due: none

docs: recorrect the docs of custom-node (#2292)
  sites/x6-sites/docs/tutorial/intermediate/custom-node.en.md
Due: none

fix: 🐛 pick the max zindex node when frontOnly enabled in embending
  packages/x6/src/util/array/array.ts
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 pick the max zindex node when frontOnly enabled in embending (#2294)
  packages/x6/src/util/array/array.ts
  packages/x6/src/view/node.ts
Due: x6

fix: fix global keyboard event is invalid in some case
  packages/x6/src/graph/keyboard.ts
Due: x6

feat: support shift key multi-selection
  packages/x6/src/graph/selection.ts
Due: x6

fix: 🐛 add timeout for schedule
  examples/x6-example-features/src/pages/v2/data.ts
  examples/x6-example-features/src/pages/v2/graph-v1.tsx
  examples/x6-example-features/src/pages/v2/graph-v2.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-core/src/renderer/queueJob.ts
  packages/x6-core/src/renderer/scheduler.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/virtual-render.ts
  packages/x6/README.md
Due: x6

fix: 🐛 add timeout for schedule (#2303)
  examples/x6-example-features/src/pages/v2/data.ts
  examples/x6-example-features/src/pages/v2/graph-v1.tsx
  examples/x6-example-features/src/pages/v2/graph-v2.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-core/src/renderer/queueJob.ts
  packages/x6-core/src/renderer/scheduler.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/virtual-render.ts
  packages/x6/README.md
Due: x6

chore: 🔧 update package version
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
  packages/x6-react-shape/src/wrap.tsx
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  yarn.lock
Due: x6, x6-geometry

chore: 🔧 update package version (#2304)
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
  packages/x6-react-shape/src/wrap.tsx
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  yarn.lock
Due: x6, x6-geometry

fix: fix selection box incorrect position when enable snapline
  packages/x6/src/addon/snapline/index.less
Due: x6

fix: 🐛 Fixed the bug that node can't be draging.
  packages/x6/src/view/node.ts
Due: x6

fix: Compatible with custom port
  packages/x6/src/view/node.ts
Due: x6

fix: restore 2258
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 Fixed the bug that node can't be draging. (#2312)
  packages/x6/src/view/node.ts
Due: x6

feat(port): add group to x6-port classname
  packages/x6/src/view/node.ts
Due: x6

chore: 🔧 update x6 version
  packages/x6/package.json
  packages/x6/src/global/version.ts
  packages/x6/src/view/node.ts
Due: x6

chore: 🔧 update x6 version (#2314)
  packages/x6/package.json
  packages/x6/src/global/version.ts
  packages/x6/src/view/node.ts
Due: x6

fix: fix global keyboard event is invalid in some case (#2301)
  packages/x6/src/graph/keyboard.ts
Due: x6

docs: 📚️ add qa and changelog link
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
  sites/x6-sites/gatsby-config.js
Due: none

docs: 📚️ add qa and changelog link (#2327)
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
  sites/x6-sites/gatsby-config.js
Due: none

chore: 🔧 reduce the version gitleaks-actions to 1.6.0
  .github/workflows/gitleaks.yml
Due: none

chore: 🔧 reduce the version gitleaks-actions to 1.6.0 (#2328)
  .github/workflows/gitleaks.yml
Due: none

fix: 🐛 add x6-port-groupName class for port container
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 add x6-port-groupName class for port container (#2331)
  packages/x6/src/view/node.ts
Due: x6

feat: ✨ #2333 Set excludeNodes for manhattan args
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/api/registry/router.zh.md
Due: x6

feat: ✨ add clipboard:changed event
  packages/x6/src/graph/clipboard.ts
  packages/x6/src/graph/events.ts
  sites/x6-sites/docs/tutorial/basic/clipboard.en.md
  sites/x6-sites/docs/tutorial/basic/clipboard.zh.md
Due: x6
