Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-plugin-snapline@1.0.3 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  0b/a4e0f20c4c974c6d844e47f0df00ce81189e63
Due: none

chore(release): @antv/x6-plugin-stencil@1.0.3 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  e3/c0452acc5ca1da56faab38ec85183aea420920
Due: none

chore(release): @antv/x6-plugin-transform@1.0.3 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  ac/7d16370cb33911de01f7a493da3715a6e6a358
Due: none

chore(release): @antv/x6-react-components@1.1.1 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  7b/f4aa956bc6a8e25380c4ffb4ef3c2bcf493b93
Due: none

chore(release): @antv/x6-react-shape@1.0.3 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  c3/f8cf4b45fa84f8845391b3ef64a0b583701c4b
Due: none

chore(release): @antv/x6-vue-shape@1.1.1 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  84/982fa54a5e50fdc9f2719b797afe4776761fb7
Due: none

chore: release from v2.0
  .releaserc
  examples/x6-example-features/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6, x6-geometry

chore: config branches
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc
  packages/x6-vue-shape/CHANGELOG.md
Due: x6

chore: enable breaking changes
  .github/workflows/backup/create-release-branch.yml
  .releaserc
  scripts/finalize-release.js
Due: none

chore(release): @antv/x6-plugin-keyboard@1.0.2 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

chore: disable srm on v1
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc
Due: none

chore: update deps
  packages/x6-plugin-keyboard/package.json
  pnpm-lock.yaml
Due: x6

chore(release): @antv/x6-plugin-minimap@1.0.2 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

docs: refresh changelogs
  examples/x6-example-features/CHANGELOG.md
  packages/x6-common/CHANGELOG.md
  packages/x6-geometry/CHANGELOG.md
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-shape/CHANGELOG.md
  packages/x6/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-plugin-dnd@2.0.0 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  ae/de9b3ee206391e7e2394d4b2067921c9f115dc
Due: none

chore(release): @antv/x6@2.0.0 [skip ci]
  packages/x6/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  dc/0f905824fb32b3ece3bb95dad129e12ecd8288
Due: none

chore(release): @antv/x6-common@2.0.0 [skip ci]
  packages/x6-common/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  c3/600b642fe4999f909f5ec4a95ac6530b442119
Due: none

chore(release): @antv/x6-geometry@2.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

Notes added by 'git notes add'
  8f/91c96631720f9ed4eced695433732274f4d83b
Due: none

chore(release): @antv/x6-plugin-clipboard@2.0.0 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  69/f39ba526166a89ea807065e9eacbe369eb1fcf
Due: none

chore(release): @antv/x6-plugin-export@2.0.0 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  08/d4cd0b386298ad4a58b7dcd6fc27e7a9eb05dd
Due: none

chore(release): @antv/x6-plugin-history@2.0.0 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  41/cbeb189c962ef48478a8d98a4a27f5b0c11579
Due: none

chore(release): @antv/x6-plugin-keyboard@2.0.0 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  9c/ad409a981db0dcbda9a522c14d703ae1ff8966
Due: none

chore(release): @antv/x6-plugin-minimap@2.0.0 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  d0/28dbfa3e8b02f19f6ff599f5b24d4eec6f7aab
Due: none

chore(release): @antv/x6-plugin-scroller@2.0.0 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  ef/505fd8cf8b3528a9f6a0e5660d1e5f71e0c175
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
