Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

Notes added by 'git notes add'
  09/22e79637aa5887fee335d4acb0bd3b8a41049a
Due: none

chore: disable build job
  .github/workflows/release.yml
Due: none

fix: commit message for release
  .releaserc
Due: none

chore: bump to 2.0
  package.json
  packages/x6-common/CHANGELOG.md
  packages/x6-geometry/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  pnpm-lock.yaml
  scripts/x6-build-tools/CHANGELOG.md
Due: x6, x6-geometry

trigger semantic release...
  .releasing
Due: none

chore(release): @antv/x6-plugin-export@1.0.0 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
Due: x6

chore: bump to 2.0
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
  scripts/x6-build-tools/package.json
Due: x6, x6-geometry

chore: debug release
  .github/workflows/release.yml
Due: none

chore: add master branch
  .releaserc
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

feat: upgrade react to 18 in react-components
  examples/x6-example-features/package.json
  packages/x6-react-components/package.json
  packages/x6-react-components/src/auto-scroll-box/index.tsx
  packages/x6-react-components/src/context-menu/index.tsx
  packages/x6-react-components/src/dropdown/index.tsx
  packages/x6-react-components/src/menu/divider.tsx
  packages/x6-react-components/src/menu/item.tsx
  packages/x6-react-components/src/menu/menu.tsx
  packages/x6-react-components/src/menu/submenu.tsx
  packages/x6-react-components/src/menubar/item.tsx
  packages/x6-react-components/src/menubar/menubar.tsx
  packages/x6-react-components/src/scroll-box/index.tsx
  packages/x6-react-components/src/split-box/box.tsx
  packages/x6-react-components/src/split-box/splitbox.tsx
  packages/x6-react-components/src/toolbar/group.tsx
  packages/x6-react-components/src/toolbar/item.tsx
  packages/x6-react-components/src/toolbar/toolbar.tsx
  packages/x6/package.json
  packages/x6/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: x6

feat: upgrade react to 18 in react-components (#2836)
  examples/x6-example-features/package.json
  packages/x6-react-components/package.json
  packages/x6-react-components/src/auto-scroll-box/index.tsx
  packages/x6-react-components/src/context-menu/index.tsx
  packages/x6-react-components/src/dropdown/index.tsx
  packages/x6-react-components/src/menu/divider.tsx
  packages/x6-react-components/src/menu/item.tsx
  packages/x6-react-components/src/menu/menu.tsx
  packages/x6-react-components/src/menu/submenu.tsx
  packages/x6-react-components/src/menubar/item.tsx
  packages/x6-react-components/src/menubar/menubar.tsx
  packages/x6-react-components/src/scroll-box/index.tsx
  packages/x6-react-components/src/split-box/box.tsx
  packages/x6-react-components/src/split-box/splitbox.tsx
  packages/x6-react-components/src/toolbar/group.tsx
  packages/x6-react-components/src/toolbar/item.tsx
  packages/x6-react-components/src/toolbar/toolbar.tsx
  packages/x6/package.json
  packages/x6/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: x6

feat: sync some commit from v1
  packages/x6-common/src/array/array.ts
  packages/x6-common/src/dom/attr.ts
  packages/x6-common/src/platform/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-react-components/package.json
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/view.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/view.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/model.ts
  packages/x6/src/registry/attr/connection.ts
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
  packages/x6/src/registry/tool/button.ts
  packages/x6/src/registry/tool/editor.ts
  packages/x6/src/shape/base.ts
  packages/x6/src/style/index.less
  packages/x6/src/view/attr.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
Due: x6

chore: release on push to master
  .github/workflows/backup/create-release-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/release.yml
  .releaserc
Due: none

Notes added by 'git notes add'
  3c/4d5b837c79f9be35851065a53437724882e902
Due: none

chore(release): @antv/x6-example-features@1.0.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  ee/1653aecd095efc30f3d44bb0c053d72746fbb5
Due: none

chore(release): @antv/x6@1.0.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  80/c8fc57b20ddacb5692709057459df02119667a
Due: none

chore(release): @antv/x6-common@1.0.0 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

Notes added by 'git notes add'
  fa/c321d1031d6ecb0071418cc0af34b14f569a21
Due: none

chore(release): @antv/x6-geometry@1.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  ac/e488669360a003d36e54b7a0ff6525e56cf109
Due: none

chore(release): @antv/x6-plugin-clipboard@1.0.0 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  d0/04701772f491d96f877a44629c35e030c8e5f9
Due: none
