Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

feat(vue-shape): vue-shape's teleport is only registered once
  packages/x6-vue-shape/src/teleport.ts
Due: x6

Update attr.ts (#4303)
  packages/x6-common/src/dom/attr.ts
Due: x6, x6-common

fix: fix ci error
  packages/x6-react-components/src/color-picker/index.tsx
  pnpm-lock.yaml
Due: x6

docs(license): update copyright year(s)
  LICENSE
Due: none

Update LICENSE, fix license year
  LICENSE
Due: none

x6-vue-shape渲染自定义vue组件
  packages/x6-vue-shape/src/view.ts
Due: x6

修复在手机端上通过触摸事件对节点进行移动操作的时候，出现卡顿导致无法移动的问题。 Fixed an issue where when a node is moved through touch events on the mobile terminal, it is stuck and cannot be moved.
  packages/x6-plugin-selection/src/selection.ts
Due: x6

框选功能支持手机端的触摸事件。 The box selection function supports touch events on the phone.
  packages/x6-plugin-selection/src/index.ts
Due: x6

实现触摸模式下的多重选择功能，并且不影响鼠标模式下的多选功能
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6/src/view/view.ts
  pnpm-lock.yaml
Due: x6

修复存在两 graph 对象的情况下，触摸弹起事件被覆写导致无法响应框选结束的问题
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
Due: x6

修复存在两 graph 对象的情况下，触摸弹起事件被覆写导致无法响应框选结束的问题
  packages/x6-plugin-selection/src/selection.ts
Due: x6

refactor: 修正 Graph Options.onEdgeLabelRendered 的类型定义
  packages/x6/src/graph/options.ts
Due: x6

chore: update dependencies and add IDE files to .gitignore
  .gitignore
  pnpm-lock.yaml
  sites/x6-sites/package.json
Due: none

chore: enhance execution environment safety with safeWindow and safeDocument utilities
  packages/x6-react-components/src/util/dom/MouseMoveTracker.ts
  packages/x6-react-components/src/util/dom/animationFrame.ts
  packages/x6-react-components/src/util/dom/executionEnvironment.ts
Due: x6

docs: update configuration for site optimization
  .gitignore
  pnpm-lock.yaml
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/.gitignore
  sites/x6-sites/mako.config.json
Due: none

docs: update dumi configurations to optimize site SEO (#4605)
  .gitignore
  packages/x6-react-components/src/util/dom/MouseMoveTracker.ts
  packages/x6-react-components/src/util/dom/animationFrame.ts
  packages/x6-react-components/src/util/dom/executionEnvironment.ts
  pnpm-lock.yaml
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/.gitignore
  sites/x6-sites/mako.config.json
  sites/x6-sites/package.json
Due: x6

chore: relase @antv/x6-react-components 2.0.9
  packages/x6-react-components/package.json
Due: x6

docs: fix tutorial links invalid
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/basic/edge.zh.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
  sites/x6-sites/docs/tutorial/basic/node.zh.md
  sites/x6-sites/docs/tutorial/basic/port.zh.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
  sites/x6-sites/docs/tutorial/intermediate/connection-point.zh.md
  sites/x6-sites/docs/tutorial/intermediate/group.zh.md
  sites/x6-sites/docs/tutorial/intermediate/tools.zh.md
  sites/x6-sites/docs/tutorial/update.zh.md
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: after a node moved, auto offset when it overlaps with other nodes
  packages/x6/src/graph/options.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/graph.zh.md
Due: x6

Update README.md
  packages/x6-plugin-scroller/README.md
Due: x6

Update README.md (#4656)
  packages/x6-plugin-scroller/README.md
Due: x6

docs: 修复英文文档跳转错误的问题
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/grid.en.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/model/attrs.en.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/edge.en.md
  sites/x6-sites/docs/api/model/interaction.en.md
  sites/x6-sites/docs/api/model/labels.en.md
  sites/x6-sites/docs/api/model/marker.en.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/mvc/model.en.md
  sites/x6-sites/docs/api/registry/edge-anchor.en.md
  sites/x6-sites/docs/api/registry/filter.en.md
  sites/x6-sites/docs/api/registry/node-anchor.en.md
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/interacting.en.md
  sites/x6-sites/docs/tutorial/basic/node.en.md
  sites/x6-sites/docs/tutorial/basic/port.en.md
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/intermediate/connection-point.en.md
  sites/x6-sites/docs/tutorial/intermediate/group.en.md
  sites/x6-sites/docs/tutorial/intermediate/tools.en.md
  sites/x6-sites/docs/tutorial/update.en.md
Due: none

docs: 修复英文文档跳转错误的问题 (#4664)
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/grid.en.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/model/attrs.en.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/edge.en.md
  sites/x6-sites/docs/api/model/interaction.en.md
  sites/x6-sites/docs/api/model/labels.en.md
  sites/x6-sites/docs/api/model/marker.en.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/mvc/model.en.md
  sites/x6-sites/docs/api/registry/edge-anchor.en.md
  sites/x6-sites/docs/api/registry/filter.en.md
  sites/x6-sites/docs/api/registry/node-anchor.en.md
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/interacting.en.md
  sites/x6-sites/docs/tutorial/basic/node.en.md
  sites/x6-sites/docs/tutorial/basic/port.en.md
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/intermediate/connection-point.en.md
  sites/x6-sites/docs/tutorial/intermediate/group.en.md
  sites/x6-sites/docs/tutorial/intermediate/tools.en.md
  sites/x6-sites/docs/tutorial/update.en.md
Due: none

Update about.zh.md
  sites/x6-sites/docs/tutorial/about.zh.md
Due: none

Update about.en.md
  sites/x6-sites/docs/tutorial/about.en.md
Due: none

chore: update dingtalk group
  sites/x6-sites/docs/tutorial/about.zh.md
Due: none

chore: remove unused diff
  sites/x6-sites/docs/tutorial/about.zh.md
Due: none

chore: update dingtalk group qrcode (#4669)
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
Due: none

feat: after a node moved, auto offset when it overlaps with other nodes (#4625)
  packages/x6/src/graph/options.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/graph.zh.md
Due: x6

fix: panning cursor not match the behavior
  packages/x6/src/graph/panning.ts
Due: x6

fix: panning cursor not match the behavior (#4671)
  packages/x6/src/graph/panning.ts
Due: x6

fix: `exportPNG` not display image markup
  packages/x6-plugin-export/src/index.ts
Due: x6

fix: `exportPNG` not display image markup (#4672)
  packages/x6-plugin-export/src/index.ts
Due: x6

fix: 修复示例中react组件渲染报错的问题
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/examples/edge/label/demo/render-with-react.tsx
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  sites/x6-sites/examples/node/port/demo/render-port-with-react.tsx
  sites/x6-sites/examples/node/tool/demo/port-tooltip.tsx
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
