Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

Notes added by 'git notes add'
  5c/00e45d37c87bd21a299cf998345414ec2b6d41
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c3/134d5fd681671d91212a2c6f9dfd68375fbec9
Due: none

chore(release): @antv/x6-vector@1.3.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

Notes added by 'git notes add'
  a3/0d850c0ff23c0a7ba923e378ed911b466a8bbe
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a1/dbd1095ed77ec418f04ee4c5b04837b2f6133f
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c3/d54ad2e57bd7771c15284cc1b8a6db465de031
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  34/c82a1b45bd7c3605be230dc26cbe87cf54aba2
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5c/084bf8f01b1afa194951a8c265e3a23328f37a
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  35/a9531254d686aa9618fb418fcab720dd8a22d8
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  05/f86b52b23e329ae244911e51666fdf6b506b10
Due: none

fix: 🐛 fix scroller resize size miscalculation when graph resize
  packages/x6/src/addon/scroller/index.ts
Due: x6

feat: ✨ add version.ts
  packages/x6-common/package.json
  packages/x6-common/src/index.ts
  packages/x6-common/src/version.ts
  packages/x6-core/src/global/config.ts
  packages/x6-core/src/global/index.ts
  packages/x6-core/src/global/util.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/registry/highlighter/class.ts
  packages/x6-core/src/registry/highlighter/opacity.ts
  packages/x6-core/src/registry/highlighter/stroke.ts
  packages/x6-core/src/registry/tool/vertices.ts
  packages/x6-core/src/view/view.ts
Due: x6

fix: 🐛 export tools from x6-core
  packages/x6-core/src/registry/index.ts
Due: x6

feat: ✨ add version.ts (#1981)
  packages/x6-common/package.json
  packages/x6-common/src/index.ts
  packages/x6-common/src/version.ts
  packages/x6-core/src/global/config.ts
  packages/x6-core/src/global/index.ts
  packages/x6-core/src/global/util.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/registry/highlighter/class.ts
  packages/x6-core/src/registry/highlighter/opacity.ts
  packages/x6-core/src/registry/highlighter/stroke.ts
  packages/x6-core/src/registry/index.ts
  packages/x6-core/src/registry/tool/vertices.ts
  packages/x6-core/src/view/view.ts
Due: x6

fix: 🐛 fix scroller resize size miscalculation when graph resize (#1977)
  packages/x6/src/addon/scroller/index.ts
Due: x6

fix: 🐛 change copystyle not include number propery when toSvg
  packages/x6/src/graph/format.ts
Due: x6

fix: 🐛 change copystyle not include number propery when toSvg (#1985)
  packages/x6/src/graph/format.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  62/4838fe23b749b09960c42f98100208fa4482ad
Due: none

chore(release): @antv/x6@1.31.2 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  86/362513e7dde12d83f32b9bbdbd3b62f86b5e14
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  fe/0a81f6f246e9a21b96b375f9304166a8dd405b
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  2d/053f1bf61192101b83438f077b8576801d84c2
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  82/2310ecfab97eb33264676df9eeff1e0c52e7f9
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  5b/24ec1cee9a8de90102617d907fbee6c262c7a8
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  cd/6514abef0e0632455e056ebc01bba9c2591057
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  b3/89b5654f5376ed615dfc9501ac62741cfe1294
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
