Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

fix: 🐛 #2581 修复 scheduler 任务调度的问题 (#2581)
  packages/x6/src/util/scheduler/index.ts
Due: x6

refactor: ♻️ refactor x6 vue shape. close #2566 (#2569)
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

fix: 🐛 #2581 修复 style 问题
  packages/x6/src/util/scheduler/index.ts
Due: x6

feat: ✨ dnd support dndContainer. close #2562 #2572
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites-demos/packages/tutorial/basic/dnd/dnd/src/app.tsx
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Due: x6

docs: 📚️ add react-shape demos
  examples/x6-example-features/src/pages/react/index.less
  examples/x6-example-features/src/pages/react/index.tsx
  examples/x6-example-features/src/pages/react/portal.tsx
  examples/x6-example-features/src/pages/table/component.less
  examples/x6-example-features/src/pages/table/component.tsx
  examples/x6-example-features/src/pages/table/data.ts
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/table/view.ts
Due: none

fix: 🐛 #2581 修复 scheduler 任务调度的问题 (#2581) (#2582)
  packages/x6/src/util/scheduler/index.ts
Due: x6

docs: 📚️ add react-shape demos (#2590)
  examples/x6-example-features/src/pages/react/index.less
  examples/x6-example-features/src/pages/react/index.tsx
  examples/x6-example-features/src/pages/react/portal.tsx
  examples/x6-example-features/src/pages/table/component.less
  examples/x6-example-features/src/pages/table/component.tsx
  examples/x6-example-features/src/pages/table/data.ts
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/table/view.ts
Due: none

fix: 🐛修复 issue #2504问题 (#2540)
  packages/x6/src/graph/keyboard.ts
Due: x6

fix: 解决CASE_SENSITIVE_ATTR数组没有添加动画属性的问题
  packages/x6/src/view/attr.ts
Due: x6

feat: ✨ support inherit options for react-shape registry
  examples/x6-example-features/src/pages/react/extends.tsx
  examples/x6-example-features/src/pages/react/portal.tsx
  packages/x6-react-shape/src/registry.ts
Due: x6

feat: ✨ support inherit options for react-shape registry (#2596)
  examples/x6-example-features/src/pages/react/extends.tsx
  examples/x6-example-features/src/pages/react/portal.tsx
  packages/x6-react-shape/src/registry.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

chore: 🔧 update peerdeps for some package
  examples/x6-example-features/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update peerdeps for some package (#2597)
  examples/x6-example-features/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

docs: 📚️ remove update methods in scroller
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
Due: none

chore: 🔧 update x6-sites deps
  sites/x6-sites/package.json
  yarn.lock
Due: none

fix: 🐛 fix problem that selection rubberband cannot be created
  packages/x6/src/addon/selection/index.ts
Due: x6

fix: fix problem that selection rubberband cannot be created (#2606)
  packages/x6/src/addon/selection/index.ts
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
  sites/x6-sites/package.json
  yarn.lock
Due: x6

fix: 🐛 support percent in edge button tool
  packages/x6/src/registry/tool/button.ts
Due: x6

fix: 🐛 support percent in edge button tool (#2608)
  packages/x6/src/registry/tool/button.ts
Due: x6

fix: fix prop names of menu component in doc
  sites/x6-sites/docs/api/ui/menu.en.md
  sites/x6-sites/docs/api/ui/menu.zh.md
Due: none

doc: fix prop names of menu component in doc (#2615)
  sites/x6-sites/docs/api/ui/menu.en.md
  sites/x6-sites/docs/api/ui/menu.zh.md
Due: none

fix: 🐛 change the update function name to avoid unnecessary updates
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: 🐛 change the update function name to avoid unnecessary updates (#2620)
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: 🐛 update style
  packages/x6/src/style/raw.ts
Due: x6

fix: 🐛 update style (#2621)
  packages/x6/src/style/raw.ts
Due: x6

chore(release): 🚀 publish
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 add publish cmd
  examples/x6-example-features/package.json
  package.json
  packages/x6/src/global/version.ts
Due: x6

chore: 🔧 delete release-it cmd
  configs/package-json/cli.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6

chore: 🔧 add publish cmd (#2622)
  configs/package-json/cli.json
  examples/x6-example-features/package.json
  package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore: 🔧 set x6-next and x6-core to private
  package.json
  packages/x6-core/package.json
  packages/x6-next/src/version.ts
  packages/x6-vector/package.json
Due: x6, x6-vector

feat: ✨ add onPortRendered options
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/view/node.ts
  yarn.lock
Due: x6

feat: add onPortRendered options (#2649)
  package.json
  packages/x6-core/package.json
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/version.ts
  packages/x6-next/src/view/node.ts
  packages/x6-vector/package.json
  yarn.lock
Due: x6, x6-vector

chore(release): 🚀 publish
  lerna.json
  packages/x6-next/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

docs: 📚️ add qrcode for communication
  README.en-us.md
  README.md
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
Due: none

docs: 📚️ add qrcode for communication (#2651)
  README.en-us.md
  README.md
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
Due: none

chore: 🔧 update peerDeps for plugins
  lerna.json
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
