Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

docs: optimize cell.md (#3599)
  examples/x6-example-features/src/pages/basic/index.tsx
  sites/x6-sites/docs/api/model/cell.zh.md
Due: none

chore: release x6@2.11.1 and x6-react-shape@2.2.2
  packages/x6-react-shape/package.json
  packages/x6/package.json
Due: x6

chore: release x6@2.11.1 and x6-react-shape@2.2.2 (#3600)
  packages/x6-react-shape/package.json
  packages/x6/package.json
Due: x6

fix: widget ouside graph, close #3595 (#3597)
  packages/x6/src/style/index.less
Due: x6

Update .dumirc.ts
  sites/x6-sites/.dumirc.ts
Due: none

Update .dumirc.ts 统一官网消息配置，合并后官网发个版 (#3625)
  sites/x6-sites/.dumirc.ts
Due: none

fix: replace children prop to childNodes
  packages/x6-common/src/dom/text.ts
Due: x6, x6-common

fix($stencil): compact mode Cannot add odd nodes in mode
  packages/x6-plugin-stencil/src/grid.ts
Due: x6

docs: typo fix
  sites/x6-sites/docs/api/graph/panning.zh.md
Due: none

fix: replace children prop to childNodes (#3645)
  packages/x6-common/src/dom/text.ts
Due: x6, x6-common

fix($stencil): compact mode Cannot add odd nodes (#3647)
  packages/x6-plugin-stencil/src/grid.ts
Due: x6

docs: typo fix (#3648)
  sites/x6-sites/docs/api/graph/panning.zh.md
Due: none

docs: fixed the link to the homepage of the official website (#3651)
  sites/x6-sites/site/pages/index.zh.tsx
Due: none

docs: optimize docs for model
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
Due: none

docs: fixed the link to the homepage of the official website (#3651) (#3652)
  sites/x6-sites/site/pages/index.zh.tsx
Due: none

docs: optimize docs for model (#3653)
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
Due: none

fix: reset factor when calc factor is 1
  packages/x6/src/graph/mousewheel.ts
Due: x6

fix: reset factor when calc factor is 1 (#3658)
  packages/x6/src/graph/mousewheel.ts
Due: x6

fix(Group): add Condition:Embeds the edge if source and target are not same
  packages/x6/src/model/edge.ts
Due: x6

feat: clipboard plugin 增加 cutOnce 配置。
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
Due: x6

docs: typo fix
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
Due: none

feat: ✨ add `graph:scroll` event
  packages/x6-plugin-scroller/src/api.ts
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: `addEventListener` on scroller container
  packages/x6-plugin-scroller/src/api.ts
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: use `Dom.Event.on` instead of `addEventListener`
  packages/x6-plugin-scroller/src/api.ts
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: use `notify` for `graph:scroll`
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

chore: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_zh.yml
Due: none

chore: update username in commit whitelist
  .husky/pre-push
Due: none

chore: update basic demo
  examples/x6-example-features/src/pages/basic/index.tsx
Due: none

chore: update link in readme
  README.en-us.md
  README.md
Due: none

fix(Group): add Condition:Embeds the edge if source and target are not same (#3659)
  packages/x6/src/model/edge.ts
Due: x6

chore: format scripts
  scripts/run-test
Due: none

chore: format scripts (#3689)
  scripts/run-test
Due: none

docs: update marker.md
  packages/x6/src/util/index.ts
  sites/x6-sites/docs/api/model/marker.zh.md
  sites/x6-sites/src/api/marker/custom/index.less
  sites/x6-sites/src/api/marker/custom/index.tsx
  sites/x6-sites/src/api/marker/image/index.less
  sites/x6-sites/src/api/marker/image/index.tsx
  sites/x6-sites/src/api/marker/native/index.less
  sites/x6-sites/src/api/marker/native/index.tsx
  sites/x6-sites/src/api/marker/native/settings.tsx
  sites/x6-sites/src/api/marker/normalize-path/index.less
  sites/x6-sites/src/api/marker/normalize-path/index.tsx
  sites/x6-sites/src/api/marker/path/index.less
  sites/x6-sites/src/api/marker/path/index.tsx
  sites/x6-sites/src/api/marker/tagname/index.less
  sites/x6-sites/src/api/marker/tagname/index.tsx
Due: x6

docs: update marker.md (#3696)
  packages/x6/src/util/index.ts
  sites/x6-sites/docs/api/model/marker.zh.md
  sites/x6-sites/src/api/marker/custom/index.less
  sites/x6-sites/src/api/marker/custom/index.tsx
  sites/x6-sites/src/api/marker/image/index.less
  sites/x6-sites/src/api/marker/image/index.tsx
  sites/x6-sites/src/api/marker/native/index.less
  sites/x6-sites/src/api/marker/native/index.tsx
  sites/x6-sites/src/api/marker/native/settings.tsx
  sites/x6-sites/src/api/marker/normalize-path/index.less
  sites/x6-sites/src/api/marker/normalize-path/index.tsx
  sites/x6-sites/src/api/marker/path/index.less
  sites/x6-sites/src/api/marker/path/index.tsx
  sites/x6-sites/src/api/marker/tagname/index.less
  sites/x6-sites/src/api/marker/tagname/index.tsx
Due: x6

docs: optimize docs for mvc
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/docs/api/model/attrs.zh.md
  sites/x6-sites/docs/api/model/interaction.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
  sites/x6-sites/docs/api/mvc/model.zh.md
  sites/x6-sites/docs/api/mvc/view.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
  sites/x6-sites/src/api/attrs/edge-relative-position/index.less
  sites/x6-sites/src/api/attrs/edge-relative-position/index.tsx
  sites/x6-sites/src/api/attrs/edge-subelement-labels/index.less
  sites/x6-sites/src/api/attrs/edge-subelement-labels/index.tsx
  sites/x6-sites/src/api/attrs/ref-elem/index.less
  sites/x6-sites/src/api/attrs/ref-elem/index.tsx
  sites/x6-sites/src/api/attrs/ref-node/index.less
  sites/x6-sites/src/api/attrs/ref-node/index.tsx
Due: none

docs: optimize docs for mvc (#3701)
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/docs/api/model/attrs.zh.md
  sites/x6-sites/docs/api/model/interaction.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
  sites/x6-sites/docs/api/mvc/model.zh.md
  sites/x6-sites/docs/api/mvc/view.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
  sites/x6-sites/src/api/attrs/edge-relative-position/index.less
  sites/x6-sites/src/api/attrs/edge-relative-position/index.tsx
  sites/x6-sites/src/api/attrs/edge-subelement-labels/index.less
  sites/x6-sites/src/api/attrs/edge-subelement-labels/index.tsx
  sites/x6-sites/src/api/attrs/ref-elem/index.less
  sites/x6-sites/src/api/attrs/ref-elem/index.tsx
  sites/x6-sites/src/api/attrs/ref-node/index.less
  sites/x6-sites/src/api/attrs/ref-node/index.tsx
Due: none
