Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore: only support react18 in 2.1.x (#3034)
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6

chore: update build:watch script
  package.json
Due: none

chore: update build:watch script (#3035)
  package.json
Due: none

fix: :bug: char ghosting when edit text (#2560)
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: :bug: grammar style improvement
  packages/x6/src/registry/tool/editor.ts
Due: x6

docs: fix broken CI status badge
  README.md
Due: none

fix: :bug: char ghosting when edit text (#2560) (#3043)
  packages/x6/src/registry/tool/editor.ts
Due: x6

chore: update deprecated terser plugin
  examples/x6-example-features/package.json
  package.json
  pnpm-lock.yaml
  rollup.config.js
  sites/x6-site/package.json
Due: none

fix: remove useless repo url
  sites/x6-sites/package.json
Due: none

docs: update github url
  examples/x6-example-features/src/pages/basic/component.tsx
  sites/x6-site/docs/tutorial/getting-started.en.md
Due: none

fix: debounce update to improve performance
  examples/x6-example-features/src/pages/basic/component.tsx
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: debounce update to improve performance (#3061)
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
  sites/x6-site/docs/tutorial/getting-started.en.md
Due: x6

docs: update github url
  examples/x6-example-features/src/pages/basic/component.tsx
Due: none

fix: debounce update to improve performance
  examples/x6-example-features/src/pages/basic/component.tsx
Due: none

feat: add snapToGrid options for manhattan router
  packages/x6/src/registry/index.ts
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
Due: x6

feat: add snapToGrid options for manhattan router (#3062)
  packages/x6/src/registry/index.ts
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
Due: x6

fix: arrowhead not get options bug
  packages/x6/src/registry/tool/arrowhead.ts
Due: x6

fix: arrowhead not get options bug (#3065)
  packages/x6/src/registry/tool/arrowhead.ts
Due: x6

fix: set snapToGrid to false by default
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/view/node.ts
Due: x6

feat: init vite
  examples/vite-example/.gitignore
  examples/vite-example/index.html
  examples/vite-example/package.json
  examples/vite-example/public/antv.svg
  examples/vite-example/src/index.less
  examples/vite-example/src/index.tsx
  examples/vite-example/src/pages/_layout.module.less
  examples/vite-example/src/pages/_layout.tsx
  examples/vite-example/src/pages/animation/transition.tsx
  examples/vite-example/src/pages/auto-resize/index.tsx
  examples/vite-example/src/routes.tsx
  examples/vite-example/src/vite-env.d.ts
  examples/vite-example/tsconfig.json
  examples/vite-example/tsconfig.node.json
  examples/vite-example/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: none

chore: move file
  sites/x6-sites/docs/tutorial/getting-started.en.md
Due: none

fix: set snapToGrid to false by default (#3066)
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/view/node.ts
Due: x6

fix: fix window incompatibility problem
  packages/x6-common/src/polyfill/index.ts
Due: x6, x6-common

fix: fix window incompatibility problem (#3070)
  packages/x6-common/src/polyfill/index.ts
Due: x6, x6-common

fix: optimize snapToGrid options for manhattan
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
Due: x6

fix: add getGraph provide
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: add createView options
  packages/x6/src/graph/options.ts
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/view.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
Due: x6

fix: optimize snapToGrid options for manhattan (#3071)
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
Due: x6

fix: add getGraph provide (#3072)
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: add createView options (#3075)
  packages/x6/src/graph/options.ts
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/view.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
Due: x6

fix: get graph from right place
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: get graph from right place (#3078)
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: schedule edge when source and target is not ready
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
Due: x6

fix: schedule edge when source and target is not ready (#3090)
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
Due: x6

feat: add data processing dag example
  pnpm-lock.yaml
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/package.json
  sites/x6-sites/public/data/data-processing-dag.json
Due: none

fix: add defense for view in transform plugin
  packages/x6-plugin-transform/src/transform.ts
Due: x6

fix: add defense for view in transform plugin (#3092)
  packages/x6-plugin-transform/src/transform.ts
Due: x6

chore: force use pnpm package manager in this project
  package.json
  scripts/preinstall
Due: none

feat: add data processing dag example (#3091)
  pnpm-lock.yaml
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/package.json
  sites/x6-sites/public/data/data-processing-dag.json
Due: none
