Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

fix: "pnpm run build:watch" 在windows下无法正常运行
  package.json
Due: none

fix: "pnpm run build:watch" 在windows下无法正常运行 (#3888)
  package.json
Due: none

fix: trigger click event when click edge with vertices tool
  packages/x6/src/registry/tool/vertices.ts
Due: x6

fix: edge does not display the label after setting the label and textWrap (#3892)
  packages/x6/src/registry/attr/text.ts
Due: x6

fix: edge does not display the label after setting the label and text… (#3896)
  packages/x6/src/registry/attr/text.ts
Due: x6

fix: trigger click event when click edge with vertices tool (#3895)
  packages/x6/src/registry/tool/vertices.ts
Due: x6

chore: release x6@2.14.1
  packages/x6-angular-shape/package.json
  packages/x6/package.json
Due: x6

feat: breakText method support line wrapping text
  packages/x6-common/src/dom/text.ts
Due: x6, x6-common

fix: 节点选中框位置错误问题 (#3198)
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: plugin-dnd horizontal scroll compatibility (#3912)
  packages/x6-plugin-dnd/src/index.ts
Due: x6

fix: plugin-selection unmatch after scale graph (#3907)
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: plugin-dnd horizontal scroll compatibility (#3912) (#3913)
  packages/x6-plugin-dnd/src/index.ts
Due: x6

fix: plugin-selection unmatch after scale graph (#3907) (#3918)
  packages/x6-plugin-selection/src/selection.ts
Due: x6

chore: release selection and dnd plugin
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-selection/package.json
  pnpm-lock.yaml
Due: x6

feat: breakText method support line wrapping text (#3910)
  packages/x6-common/src/dom/text.ts
Due: x6, x6-common

feat: add render:done event
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Due: x6

feat: add render:done event (#3919)
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Due: x6

chore: release x6
  packages/x6/package.json
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Due: x6

fix: judge interacting after remove tools
  packages/x6/src/view/cell.ts
Due: x6

fix: 🐛 stop listen event when transform removed
  packages/x6/src/addon/transform/index.ts
Due: x6

fix: judge interacting after remove tools (#3933)
  packages/x6/src/view/cell.ts
Due: x6

fix: stop listener event when transform dispose
  packages/x6-plugin-transform/src/transform.ts
Due: x6

fix: stop listener event when transform dispose (#3934)
  packages/x6-plugin-transform/src/transform.ts
Due: x6

fix: 🐛 add judge when call renderHTMLComponent
  packages/x6/package.json
  packages/x6/src/shape/standard/html.ts
Due: x6

chore(release): 🚀 publish
  packages/x6/package.json
Due: x6

docs: optimize examples for tools
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

docs: optimize examples for tools (#3942)
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

fix: optimize dispoese minimap
  packages/x6-common/src/common/disposable.ts
  packages/x6-plugin-minimap/src/index.ts
  packages/x6/src/graph/graph.ts
Due: x6, x6-common

fix: optimize dispoese minimap (#3950)
  packages/x6-common/src/common/disposable.ts
  packages/x6-plugin-minimap/src/index.ts
  packages/x6/src/graph/graph.ts
Due: x6, x6-common

fix: recoginze dirty flag on undefined attr
  packages/x6-plugin-history/src/index.ts
Due: x6

fix: recoginze dirty flag on undefined attr (#3951)
  packages/x6-plugin-history/src/index.ts
Due: x6

chore: release some packages
  packages/x6-common/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-transform/package.json
  packages/x6/package.json
Due: x6, x6-common

fix: subtract draggingContainer offset when position
  packages/x6-plugin-dnd/src/index.ts
Due: x6

fix: subtract draggingContainer offset when position (#3953)
  packages/x6-plugin-dnd/src/index.ts
Due: x6

fix: plugin-selection edge selection when moving, close #3084
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-selection/src/selection.ts
Due: x6

feat(selection): add the eventTypes option which allows specifying selection listening buttons
  packages/x6-plugin-selection/src/index.ts
Due: x6

feat(panning): add a new eventType 'mouseWheelDown'
  packages/x6/src/graph/panning.ts
Due: x6

test(selection): allow panning with mouseWheelDown in the selection example
  examples/x6-example-features/src/pages/selection/index.tsx
Due: none

docs(selection): add document for new option 'eventTypes'
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
