Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

docs: optimize connector docs
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/docs/api/mvc/model.zh.md
  sites/x6-sites/docs/api/mvc/view.zh.md
  sites/x6-sites/docs/api/registry/connector.zh.md
  sites/x6-sites/src/api/connector/jumpover/index.less
  sites/x6-sites/src/api/connector/jumpover/index.tsx
  sites/x6-sites/src/api/connector/jumpover/settings.tsx
  sites/x6-sites/src/api/connector/normal/index.less
  sites/x6-sites/src/api/connector/normal/index.tsx
  sites/x6-sites/src/api/connector/rounded/index.less
  sites/x6-sites/src/api/connector/rounded/index.tsx
  sites/x6-sites/src/api/connector/rounded/settings.tsx
  sites/x6-sites/src/api/connector/smooth/index.less
  sites/x6-sites/src/api/connector/smooth/index.tsx
  sites/x6-sites/src/api/connector/wobble/index.less
  sites/x6-sites/src/api/connector/wobble/index.tsx
Due: none

docs: optimize docs for node-anchor
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
  sites/x6-sites/src/api/node-anchor/playground/index.less
  sites/x6-sites/src/api/node-anchor/playground/index.tsx
  sites/x6-sites/src/api/node-anchor/playground/settings.tsx
Due: none

docs: add demo for edge anchor
  sites/x6-sites/docs/api/registry/edge-anchor.zh.md
  sites/x6-sites/src/api/edge-anchor/playground/index.less
  sites/x6-sites/src/api/edge-anchor/playground/index.tsx
  sites/x6-sites/src/api/edge-anchor/playground/settings.tsx
Due: none

docs: add demo for connection point
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/edge-anchor.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
  sites/x6-sites/src/api/connection-point/playground/index.less
  sites/x6-sites/src/api/connection-point/playground/index.tsx
  sites/x6-sites/src/api/connection-point/playground/settings.tsx
Due: none

docs: add demo for attrs
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/src/api/attrs/text-anchor/index.less
  sites/x6-sites/src/api/attrs/text-anchor/index.tsx
  sites/x6-sites/src/api/attrs/text-anchor/settings.tsx
  sites/x6-sites/src/api/attrs/text-wrap/index.less
  sites/x6-sites/src/api/attrs/text-wrap/index.tsx
  sites/x6-sites/src/api/attrs/x-align/index.less
  sites/x6-sites/src/api/attrs/x-align/index.tsx
  sites/x6-sites/src/api/attrs/x-align/settings.tsx
Due: none

docs: add demos for filter
  sites/x6-sites/docs/api/registry/filter.zh.md
  sites/x6-sites/docs/api/registry/highlighter.zh.md
  sites/x6-sites/src/api/filter/blur/index.less
  sites/x6-sites/src/api/filter/blur/index.tsx
  sites/x6-sites/src/api/filter/blur/settings.tsx
  sites/x6-sites/src/api/filter/brightness/index.less
  sites/x6-sites/src/api/filter/brightness/index.tsx
  sites/x6-sites/src/api/filter/brightness/settings.tsx
  sites/x6-sites/src/api/filter/contrast/index.less
  sites/x6-sites/src/api/filter/contrast/index.tsx
  sites/x6-sites/src/api/filter/contrast/settings.tsx
  sites/x6-sites/src/api/filter/drop-shadow/index.less
  sites/x6-sites/src/api/filter/drop-shadow/index.tsx
  sites/x6-sites/src/api/filter/drop-shadow/settings.tsx
  sites/x6-sites/src/api/filter/gray-scale/index.less
  sites/x6-sites/src/api/filter/gray-scale/index.tsx
  sites/x6-sites/src/api/filter/gray-scale/settings.tsx
  sites/x6-sites/src/api/filter/highlight/index.less
  sites/x6-sites/src/api/filter/highlight/index.tsx
  sites/x6-sites/src/api/filter/highlight/settings.tsx
  sites/x6-sites/src/api/filter/hue-rotate/index.less
  sites/x6-sites/src/api/filter/hue-rotate/index.tsx
  sites/x6-sites/src/api/filter/hue-rotate/settings.tsx
  sites/x6-sites/src/api/filter/invert/index.less
  sites/x6-sites/src/api/filter/invert/index.tsx
  sites/x6-sites/src/api/filter/invert/settings.tsx
  sites/x6-sites/src/api/filter/outline/index.less
  sites/x6-sites/src/api/filter/outline/index.tsx
  sites/x6-sites/src/api/filter/outline/settings.tsx
  sites/x6-sites/src/api/filter/saturate/index.less
  sites/x6-sites/src/api/filter/saturate/index.tsx
  sites/x6-sites/src/api/filter/saturate/settings.tsx
  sites/x6-sites/src/api/filter/sepia/index.less
  sites/x6-sites/src/api/filter/sepia/index.tsx
  sites/x6-sites/src/api/filter/sepia/settings.tsx
Due: none

docs: add demos for port layout
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/api/registry/filter.zh.md
  sites/x6-sites/docs/api/registry/highlighter.zh.md
  sites/x6-sites/docs/api/registry/port-label-layout.zh.md
  sites/x6-sites/docs/api/registry/port-layout.zh.md
  sites/x6-sites/src/api/port-label-layout/inside-outside/index.less
  sites/x6-sites/src/api/port-label-layout/inside-outside/index.tsx
  sites/x6-sites/src/api/port-label-layout/inside-outside/settings.tsx
  sites/x6-sites/src/api/port-label-layout/radial/index.less
  sites/x6-sites/src/api/port-label-layout/radial/index.tsx
  sites/x6-sites/src/api/port-label-layout/radial/settings.tsx
  sites/x6-sites/src/api/port-label-layout/side/index.less
  sites/x6-sites/src/api/port-label-layout/side/index.tsx
  sites/x6-sites/src/api/port-label-layout/side/settings.tsx
  sites/x6-sites/src/api/port-layout/absolute/index.less
  sites/x6-sites/src/api/port-layout/absolute/index.tsx
  sites/x6-sites/src/api/port-layout/absolute/settings.tsx
  sites/x6-sites/src/api/port-layout/ellipse-spread/index.less
  sites/x6-sites/src/api/port-layout/ellipse-spread/index.tsx
  sites/x6-sites/src/api/port-layout/ellipse-spread/settings.tsx
  sites/x6-sites/src/api/port-layout/ellipse/index.less
  sites/x6-sites/src/api/port-layout/ellipse/index.tsx
  sites/x6-sites/src/api/port-layout/ellipse/settings.tsx
  sites/x6-sites/src/api/port-layout/line/index.less
  sites/x6-sites/src/api/port-layout/line/index.tsx
  sites/x6-sites/src/api/port-layout/line/settings.tsx
  sites/x6-sites/src/api/port-layout/side/index.less
  sites/x6-sites/src/api/port-layout/side/index.tsx
  sites/x6-sites/src/api/port-layout/side/settings.tsx
  sites/x6-sites/src/api/port-layout/sin/index.less
  sites/x6-sites/src/api/port-layout/sin/index.tsx
Due: none

docs: add demos for port label layout
  sites/x6-sites/docs/api/registry/port-label-layout.zh.md
Due: none

docs: fix port-layout zh doc typos
  sites/x6-sites/docs/api/registry/port-layout.zh.md
Due: none

docs: fix port-layout zh doc typos (#3717)
  sites/x6-sites/docs/api/registry/port-layout.zh.md
Due: none

docs: Add notes in the scroller plugin doc
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
Due: none

docs: Add notes in the scroller plugin doc (#3722)
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
Due: none

fix: set some function to own attrs
  packages/x6-common/src/dom/event/object.ts
  packages/x6/src/view/view.ts
Due: x6, x6-common

chore: change dnd to deps for stencil plugin
  packages/x6-plugin-stencil/package.json
Due: x6

fix: set some function to own attrs (#3726)
  packages/x6-common/src/dom/event/object.ts
  packages/x6-plugin-stencil/package.json
  packages/x6/src/view/view.ts
Due: x6, x6-common

chore: release some packages
  packages/x6-common/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6/package.json
Due: x6, x6-common

chore: release some packages (#3727)
  packages/x6-common/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6/package.json
Due: x6, x6-common

fix: render edge when source or target in render area
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/edge.ts
Due: x6

fix: render edge when source or target in render area (#3730)
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/edge.ts
Due: x6

chore: release x6@2.12.1
  packages/x6/package.json
Due: x6

docs: modify the sample style error
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: none

chore: release x6@2.11.3
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

docs: modify the sample style error (#3731)
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: none

fix: check labelNode existed before change postion
  packages/x6/src/view/edge.ts
Due: x6

fix: 🐛 check label node existed before change position
  packages/x6/src/view/edge.ts
Due: x6

fix: check labelNode existed before change postion (#3737)
  packages/x6/src/view/edge.ts
Due: x6

chore(release): 🚀 publish
  packages/x6/package.json
Due: x6

fix: change update prioriy in render
  packages/x6/src/renderer/queueJob.ts
Due: x6

fix: change update prioriy in render (#3740)
  packages/x6/src/renderer/queueJob.ts
Due: x6

chore: release @antv/x6-common@2.0.14
  examples/x6-example-features/CHANGELOG.md
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
  packages/x6-common/src/dom/attr.ts
  packages/x6-geometry/CHANGELOG.md
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-vue-shape/CHANGELOG.md
  sites/x6-sites/CHANGELOG.md
Due: x6, x6-common, x6-geometry

chore: release @antv/x6-common@2.0.14 (#3742)
  examples/x6-example-features/CHANGELOG.md
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
  packages/x6-common/src/dom/attr.ts
  packages/x6-geometry/CHANGELOG.md
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-vue-shape/CHANGELOG.md
  sites/x6-sites/CHANGELOG.md
Due: x6, x6-common, x6-geometry

feat: x6-vue-shape supports getting nodes and graph in the props
  packages/x6-vue-shape/src/view.ts
Due: x6

feat: x6-vue-shape supports getting nodes and graph in the props
  packages/x6-vue-shape/src/teleport.ts
Due: x6

fix: fix transitionToPoint call error
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: fix transitionToPoint call error (#3763)
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

feat: [x6-vue-shape] Pass the value directly instead of the function
  packages/x6-vue-shape/src/view.ts
Due: x6

feat: [x6-vue-shape] Pass the value directly instead of the function
  packages/x6-vue-shape/src/teleport.ts
Due: x6

fix: fix invalid history on vertices tool
  packages/x6/src/registry/tool/vertices.ts
Due: x6
