Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

test: add test specs for geometry (#1172)
  packages/x6-geometry/src/ellipse.test.ts
  packages/x6-geometry/src/line.test.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/point.test.ts
  packages/x6-geometry/src/polyline.test.ts
  packages/x6-geometry/src/polyline.ts
Due: x6, x6-geometry

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.2 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.2.0 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/stylelint-config@1.0.1 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

docs: 📚️ optimize edge-editor demo (#1426)
  examples/x6-example-features/src/pages/edge/edge-editor.tsx
  sites/x6-sites/examples/showcase/practices/demo/path-editor.ts
Due: none

chore(release): @antv/x6-geometry@1.0.10 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-sites-demos@1.2.0 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

ci(fix): 👷 🐛 cib (#1448)
  .github/workflows/create-issue-branch.yml
Due: none

chore(release): @antv/eslint-config@1.0.1 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-angular-shape@1.1.2 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
Due: x6

chore(release): @antv/x6-geometry@1.0.10 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-react-shape@1.5.2 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

perf: ⚡️ add simple config to remove rect and text element (#1449)
  examples/x6-example-features/src/pages/performance/v2.tsx
  packages/x6-react-shape/src/node.ts
Due: x6

fix: 🐛 release new x6-angular-shape version (#1453)
  .github/workflows/delete-stale-releases.yml
  packages/x6-angular-shape/src/view.ts
Due: x6

fix: 🐛 upate x6-angular-shape version (#1456)
  packages/x6-angular-shape/package.json
Due: x6
