Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

fix(plugin:export): it should have default value 'true' across its doc's description
  packages/x6-plugin-export/src/index.ts
Due: x6

fix(plugin:export): it should have default value 'true' through doc
  packages/x6-plugin-export/src/index.ts
Due: x6

fix(plugin:export): more logical condition after last fix
  packages/x6-plugin-export/src/index.ts
Due: x6

fix: memory leak of graph view dispose(introduce by #4023)
  packages/x6/src/graph/view.ts
  packages/x6/src/view/view.ts
Due: x6

docs: fix the container name in the configuration
  sites/x6-sites/docs/api/graph/graph.zh.md
Due: none

fix:node-anchor的orth锚点，angle为负值导致数值计算为无穷
  packages/x6/src/registry/node-anchor/orth.ts
Due: x6

feat: allow calculate distance by bbox when snap to node
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/api/model/interaction.zh.md
Due: x6

fix: bind minimap plugin to graph without scroller
  packages/x6-plugin-minimap/src/index.ts
Due: x6

docs(license): update copyright year(s)
  LICENSE
Due: none

fix: bind dragstart after add group
  package.json
  packages/x6-plugin-stencil/src/index.ts
  pnpm-lock.yaml
Due: x6

fix: bind dragstart after add group (#4131)
  package.json
  packages/x6-plugin-stencil/src/index.ts
  pnpm-lock.yaml
Due: x6

docs: fix the container name (#4117)
  sites/x6-sites/docs/api/graph/graph.zh.md
Due: none

fix: format keyboard arrow codes to Mousetrap special codes (#4065) (#4080)
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

fix(vue-shape): remove deprecated `Vue` from import (#4099)
  packages/x6-vue-shape/src/teleport.ts
Due: x6

fix: avoid access document or window in server side (#4101)
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/prefix.ts
  packages/x6-common/src/dom/selection.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/polyfill/index.ts
  packages/x6/src/util/index.ts
Due: x6, x6-common

fix: memory leak of graph view dispose(introduce by #4023) (#4114)
  packages/x6/src/graph/view.ts
  packages/x6/src/view/view.ts
Due: x6

fix:node-anchor的orth锚点，angle为负值导致数值计算为无穷 (#4124)
  packages/x6/src/registry/node-anchor/orth.ts
Due: x6

fix: rename snap anchor API
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/api/model/interaction.zh.md
Due: x6

feat: allow calculate distance by bbox when snap to node (#4126)
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/api/model/interaction.zh.md
Due: x6

fix: destroy custom label before render
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
Due: x6

fix: destroy custom label before render (#4146)
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
Due: x6

chore: release packages
  packages/x6-common/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6/package.json
Due: x6, x6-common

fix: refDResetOffset、refDKeepOffset、refPointsResetOffset、refPointsKeepOffset 增加针对refBBox的相对平移
  packages/x6/src/registry/attr/ref.ts
Due: x6

fix: snap anchor should be optional
  packages/x6/src/graph/options.ts
Due: x6

fix: snap anchor should be optional (#4152)
  packages/x6/src/graph/options.ts
Due: x6

fix: extracting function getPointerEventsValue
  packages/x6-plugin-selection/src/selection.ts
Due: x6

feat: panning.options.modifiers add space
  packages/x6/src/graph/panning.ts
Due: x6

docs: update panning modifiers type
  sites/x6-sites/docs/api/graph/panning.zh.md
Due: none

feat: update xflow docs
  sites/x6-sites/.dumirc.ts
Due: none

fix: update xflow docs img
  sites/x6-sites/docs/xflow/guide/introduction.md
Due: none

fix: edge rendering correct label attrs
  packages/x6/src/view/edge.ts
Due: x6

fix: bind minimap plugin to graph without scroller (#4167)
  packages/x6-plugin-minimap/src/index.ts
Due: x6

feat: selection's pointerEvents support function type (#4067)
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix(plugin:export): it should have default value 'true' through doc (#4111)
  packages/x6-plugin-export/src/index.ts
Due: x6

feat: panning modifiers add space (#4166)
  packages/x6/src/graph/panning.ts
  sites/x6-sites/docs/api/graph/panning.zh.md
Due: x6

fix: edge rendering correct label attrs (#4177)
  packages/x6/src/view/edge.ts
Due: x6

chore: update npm registry
  .npmrc
  pnpm-lock.yaml
Due: none
