Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

perf: ⚡️ check whether label existed in port (#2063)
  examples/x6-example-features/src/pages/v2/1.tsx
  packages/x6-core/src/view/node.ts
Due: x6

docs: update doc api
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Due: none

docs: update doc api (#2076)
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  47/e7e6757443c433f7e7c325461ceb54b59eaf49
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  32/2dec6a4a81d98b8013d558fc62e69b3bc93132
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  cd/006184c390b23e27da0d2c7bf0e4ee0ef76149
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f4/3edba970245aa3146ce6c636750ce790a0f41d
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  74/d3b24c6f0e31abc20ef064a10162f55aad2081
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  88/f04625ed5f0f7f9d4350072f712cacb6236b57
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bb/07735f363ea805eccfa51c3fe2ed04eb3e3c50
Due: none

feat: ✨ vue3支持使用useTeleport
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/teleport.ts
Due: x6

feat: ✨ 更新文档使用useTeleport
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: none

feat: ✨ 兼容vue2.x
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/teleport.ts
Due: x6

feat: ✨ 更新文档使用useTeleport
  sites/x6-sites/docs/tutorial/advanced/react.en.md
Due: none

feat: ✨ reset package.json
  packages/x6-vue-shape/package.json
Due: x6

fix: remove the browserslist configuration in package.json
  packages/x6-geometry/package.json
  packages/x6-vector/package.json
  packages/x6/package.json
Due: x6, x6-vector, x6-geometry

fix: remove the browserslist configuration in package.json (#2084)
  packages/x6-geometry/package.json
  packages/x6-vector/package.json
  packages/x6/package.json
Due: x6, x6-vector, x6-geometry

docs: 📚️ add selection options description
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Due: none

docs: update api desciption of addTools
  sites/x6-sites/docs/api/model/cell.zh.md
Due: none

chore: 🔧 delete browserslist config
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-vector/package.json
Due: x6, x6-vector, x6-geometry

docs: update api desciption of addTools (#2087)
  sites/x6-sites/docs/api/model/cell.zh.md
Due: none

docs: 📚️ add selection options description (#2086)
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Due: none

chore: 🔧 delete browserslist config (#2088)
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-vector/package.json
Due: x6, x6-vector, x6-geometry

feat: vue3支持使用useTeleport (#2078)
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/teleport.ts
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

fix: :bug: fix the graph function zoomTo not return the graph instance.
  packages/x6/src/graph/graph.ts
Due: x6

fix: :bug: fix the graph function zoomTo not return the graph instance. (#2090)
  packages/x6/src/graph/graph.ts
Due: x6

fix: 🐛 not rerender tools when edge update
  packages/x6/src/view/edge.ts
  packages/x6/src/view/tool.ts
Due: x6

fix: 🐛 not rerender tools when edge update (#2095)
  packages/x6/src/view/edge.ts
  packages/x6/src/view/tool.ts
Due: x6

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  ac/56327b414aa1ccb9a6c90aa009908dfc50fc23
Due: none

chore(release): @antv/x6-geometry@1.0.12 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  78/a2a0bfe040dbd877a3b920b700f05711ec1909
Due: none

chore(release): @antv/x6-vector@1.3.2 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
