Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

docs: add security policy
  SECURITY.md
Due: none

docs: add security policy (#1911)
  AUTHORS
  SECURITY.md
  packages/x6/src/registry/tool/editor.ts
Due: x6

chore: 🔧 update the directory of test case
  packages/x6-geometry/__tests__/ellipse.test.ts
  packages/x6-geometry/__tests__/line.test.ts
  packages/x6-geometry/__tests__/path/normalize.test.ts
  packages/x6-geometry/__tests__/point.test.ts
  packages/x6-geometry/__tests__/polyline.test.ts
  packages/x6-geometry/__tests__/rectangle.test.ts
  packages/x6-geometry/__tests__/version.test.ts
  packages/x6-geometry/jest.config.js
  packages/x6-geometry/karma.conf.js
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
Due: x6, x6-geometry

chore: 🔧 update the directory of test case (#1914)
  packages/x6-geometry/__tests__/ellipse.test.ts
  packages/x6-geometry/__tests__/line.test.ts
  packages/x6-geometry/__tests__/path/normalize.test.ts
  packages/x6-geometry/__tests__/point.test.ts
  packages/x6-geometry/__tests__/polyline.test.ts
  packages/x6-geometry/__tests__/rectangle.test.ts
  packages/x6-geometry/__tests__/version.test.ts
  packages/x6-geometry/jest.config.js
  packages/x6-geometry/karma.conf.js
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
Due: x6, x6-geometry

feat: ✨ delete the new Function mode to avoid the CSP policy
  packages/x6/src/util/object/inherit.ts
Due: x6

feat: ✨ delete the new Function mode to avoid the CSP policy (#1921)
  packages/x6/src/util/object/inherit.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  a7/b7f0bc43e27e65063aada380178fc74d474624
Due: none

Notes added by 'git notes add'
  fb/a8cf0ce649cb9c3dc8f86671a24e39a46f5ec0
Due: none

chore(release): @antv/x6@1.31.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  6e/b4e4fafd9806e709666fe4b39431e628dc2b42
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  9f/342b68d03e7a6b2273cb415149a1618dadaa49
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  e4/2f4fe2d45f308ddd358a827921a2a8deb3eb03
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  6a/006f3dcd7301afb47d4f8dd0255b8aa4b79e51
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  f7/9151abd00495977568b9d914c783892ce8a725
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  99/e42a95b1df0b624827fc03808f1cd34df4f63f
Due: none

fix: 🐛 export util methods
  packages/x6-geometry/__tests__/path/normalize.test.ts
  packages/x6-geometry/src/index.ts
  packages/x6-geometry/src/path/index.ts
Due: x6, x6-geometry

doc: QR code in one line
  README.md
Due: none

feat: ✨ add events module in common
  packages/x6-common/__tests__/event/events.test.ts
  packages/x6-common/package.json
  packages/x6-common/src/dictionary/dictionary.ts
  packages/x6-common/src/dictionary/index.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/event/index.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/size-sensor/index.ts
  packages/x6-common/src/size-sensor/sensors/object.ts
  packages/x6-common/src/size-sensor/sensors/observer.ts
  packages/x6-common/src/size-sensor/sensors/types.ts
  packages/x6-common/src/types.ts
Due: x6

feat: ✨ add events module in common (#1932)
  packages/x6-common/__tests__/event/events.test.ts
  packages/x6-common/package.json
  packages/x6-common/src/dictionary/dictionary.ts
  packages/x6-common/src/dictionary/index.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/event/index.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/size-sensor/index.ts
  packages/x6-common/src/size-sensor/sensors/object.ts
  packages/x6-common/src/size-sensor/sensors/observer.ts
  packages/x6-common/src/size-sensor/sensors/types.ts
  packages/x6-common/src/types.ts
Due: x6

chore: 🔧 only include src in tsconfig
  packages/x6-common/package.json
  packages/x6-common/tsconfig.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-geometry/tsconfig.json
  scripts/build-dev
  yarn.lock
Due: x6, x6-geometry

chore: 🔧 only include src in tsconfig (#1934)
  packages/x6-common/package.json
  packages/x6-common/tsconfig.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-geometry/tsconfig.json
  scripts/build-dev
  yarn.lock
Due: x6, x6-geometry

chore: 🔧 migrate registry to common
  packages/x6-common/index.ts
  packages/x6-common/package.json
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/registry/index.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-common/tsconfig.json
  packages/x6-geometry/index.ts
  packages/x6-geometry/tsconfig.json
Due: x6, x6-geometry

chore: 🔧 migrate registry to common (#1941)
  packages/x6-common/index.ts
  packages/x6-common/package.json
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/registry/index.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-common/tsconfig.json
  packages/x6-geometry/index.ts
  packages/x6-geometry/tsconfig.json
Due: x6, x6-geometry

feat: ✨ init x6-next repo
  packages/x6-next/README.md
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/index.ts
  packages/x6-next/karma.conf.js
  packages/x6-next/package.json
  packages/x6-next/rollup.config.js
  packages/x6-next/scripts/readme.js
  packages/x6-next/scripts/style.js
  packages/x6-next/src/index.less
  packages/x6-next/src/index.ts
  packages/x6-next/src/style/index.less
  packages/x6-next/src/style/raw.ts
  packages/x6-next/src/style/themes/default.less
  packages/x6-next/src/style/themes/index.less
  packages/x6-next/src/version.ts
  packages/x6-next/tsconfig.json
Due: x6

feat: ✨ init x6-next repo (#1943)
  packages/x6-next/README.md
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/index.ts
  packages/x6-next/karma.conf.js
  packages/x6-next/package.json
  packages/x6-next/rollup.config.js
  packages/x6-next/scripts/readme.js
  packages/x6-next/scripts/style.js
  packages/x6-next/src/index.less
  packages/x6-next/src/index.ts
  packages/x6-next/src/style/index.less
  packages/x6-next/src/style/raw.ts
  packages/x6-next/src/style/themes/default.less
  packages/x6-next/src/style/themes/index.less
  packages/x6-next/src/version.ts
  packages/x6-next/tsconfig.json
Due: x6

fix wrong url of quick-start
  sites/x6-sites/docs/tutorial/basic/node.zh.md
Due: none

fix wrong url of quick-start (#1944)
  sites/x6-sites/docs/tutorial/basic/node.zh.md
Due: none

docs: 📚️ add alt for img in readme
  README.md
  packages/x6-next/README.md
Due: x6

feat: ✨ add configs module for x6-next
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/src/global/config.ts
  packages/x6-next/src/global/index.ts
  packages/x6-next/src/global/version.ts
  packages/x6-next/src/index.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
