Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

feat: add config module for x6-next (#1945)
  README.md
  packages/x6-next/README.md
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/src/global/config.ts
  packages/x6-next/src/global/index.ts
  packages/x6-next/src/global/version.ts
  packages/x6-next/src/index.ts
Due: x6

chore: 🔧 unnamespace the types
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
Due: x6

chore: 🔧 unnamespace the types (#1950)
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
Due: x6

feat: ✨ init x6-core repo
  README.en-us.md
  README.md
  packages/x6-common/src/types.ts
  packages/x6-core/README.md
  packages/x6-core/__tests__/version.test.ts
  packages/x6-core/index.ts
  packages/x6-core/karma.conf.js
  packages/x6-core/package.json
  packages/x6-core/rollup.config.js
  packages/x6-core/src/index.ts
  packages/x6-core/tsconfig.json
Due: x6

feat: ✨ init x6-core repo (#1954)
  README.en-us.md
  README.md
  packages/x6-common/src/types.ts
  packages/x6-core/README.md
  packages/x6-core/__tests__/version.test.ts
  packages/x6-core/index.ts
  packages/x6-core/karma.conf.js
  packages/x6-core/package.json
  packages/x6-core/rollup.config.js
  packages/x6-core/src/index.ts
  packages/x6-core/tsconfig.json
Due: x6

chore: 🔧 add importsNotUsedAsValues tsconfig
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/hook.ts
  packages/x6-common/src/dom/event/listener.ts
  packages/x6-common/src/dom/event/main.ts
  packages/x6-common/src/dom/event/object.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/types.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/types.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/rectangle.ts
  tsconfig.json
Due: x6, x6-geometry

chore: 🔧 add utility-types deps
  packages/x6-common/package.json
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
Due: x6

chore: 🔧 add importsNotUsedAsValues tsconfig (#1955)
  packages/x6-common/package.json
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/hook.ts
  packages/x6-common/src/dom/event/listener.ts
  packages/x6-common/src/dom/event/main.ts
  packages/x6-common/src/dom/event/object.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/types.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/rectangle.ts
  tsconfig.json
Due: x6, x6-geometry

feat: ✨ add css method for dom
  .gitignore
  packages/x6-common/__tests__/dom/attr.test.ts
  packages/x6-common/__tests__/dom/css.test.ts
  packages/x6-common/__tests__/dom/prefix.test.ts
  packages/x6-common/__tests__/dom/style.test.ts
  packages/x6-common/src/dom/css.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/prefix.ts
  packages/x6-common/src/types.ts
  tsconfig.json
Due: x6

feat: ✨ add css method for dom (#1959)
  .gitignore
  packages/x6-common/__tests__/dom/attr.test.ts
  packages/x6-common/__tests__/dom/css.test.ts
  packages/x6-common/__tests__/dom/prefix.test.ts
  packages/x6-common/__tests__/dom/style.test.ts
  packages/x6-common/src/dom/css.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/prefix.ts
  packages/x6-common/src/types.ts
  tsconfig.json
Due: x6

chore: 🔧 replace import type to import
  packages/x6-common/src/dom/data.ts
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/hook.ts
  packages/x6-common/src/dom/event/index.ts
  packages/x6-common/src/dom/event/listener.ts
  packages/x6-common/src/dom/event/main.ts
  packages/x6-common/src/dom/event/object.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/types.ts
  packages/x6-common/src/dom/event/util.ts
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/size-sensor/index.ts
  packages/x6-common/src/size-sensor/sensors/object.ts
  packages/x6-common/src/size-sensor/sensors/observer.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/util.ts
Due: x6, x6-geometry

chore: 🔧 replace import type to import (#1963)
  packages/x6-common/src/dom/data.ts
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/hook.ts
  packages/x6-common/src/dom/event/index.ts
  packages/x6-common/src/dom/event/listener.ts
  packages/x6-common/src/dom/event/main.ts
  packages/x6-common/src/dom/event/object.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/types.ts
  packages/x6-common/src/dom/event/util.ts
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/size-sensor/index.ts
  packages/x6-common/src/size-sensor/sensors/object.ts
  packages/x6-common/src/size-sensor/sensors/observer.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/util.ts
Due: x6, x6-geometry

feat: ✨ add dom data methods
  packages/x6-common/__tests__/dom/data.test.ts
  packages/x6-common/src/dom/data.ts
  packages/x6-common/src/dom/main.ts
Due: x6

feat: ✨ add dom data methods (#1969)
  packages/x6-common/__tests__/dom/data.test.ts
  packages/x6-common/src/dom/data.ts
  packages/x6-common/src/dom/main.ts
Due: x6

fix(x6-vue-shape): 🐛 error on removing fragment node
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: 🐛 prevents malicious properties
  packages/x6-common/src/object/object.ts
Due: x6

fix(x6-vue-shape): 🐛 error on removing fragment node (#1974)
  packages/x6-vue-shape/src/view.ts
Due: x6

fix: 🐛 fix lgtm alert
  packages/x6-vector/src/dom/common/adopter.ts
  packages/x6/src/util/object/object.ts
Due: x6, x6-vector

fix: 🐛 fix lgtm alert (#1975)
  packages/x6-vector/src/dom/common/adopter.ts
  packages/x6/src/util/object/object.ts
Due: x6, x6-vector

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  bf/d48e644e49d1f993b614e569f904f5aadf2bdb
Due: none

chore(release): @antv/x6-vector@1.3.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Notes added by 'git notes add'
  5f/2b46b34c91da635193e80c21db1940bbf4784c
Due: none

chore(release): @antv/x6-vue-shape@1.3.2 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  96/271dc298362f747b48ebb125c10cebe876c1dd
Due: none

chore(release): @antv/x6@1.31.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/README.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  bd/33449b2dce0855e533a04cc27cbb35f0726f16
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  12/ab1057fe9b32a0d64518e71c3824099eb75203
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  40/f6496aea733fef9352d76c2c32e1051257ba4e
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  45/cdd0980c00170b086069b1432288805fb8682b
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  ea/4ea45e46b50236fa3d15c9e7509778ee6aa17c
Due: none

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  3e/c0d432a3dc614b37b700e730e05fb6d081b825
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none
