Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-sites@1.3.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

test: ✅ update test specs (#1163)
  packages/x6-geometry/src/curve.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/point.test.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-geometry/src/rectangle.test.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/version.ts
Due: x6, x6-geometry

fix: 🐛 fix delete node connection not delete (#1167)
  examples/x6-app-dag/src/pages/rx-models/experiment-graph.tsx
Due: none

chore: config threshold
  .codecov.yml
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.3.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

docs: 📚️ fix layout usage (#1169)
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

fix: 🐛 revert optimze find snap elem (#1192)
  packages/x6/src/view/edge.ts
Due: x6

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6@1.24.7 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

fix: 🐛 auto scroller when selection over graph (#1197)
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/addon/selection/index.ts
Due: x6

chore(release): @antv/x6-sites-demos@1.1.5 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

feat: ✨ add cell-editor tool (#1202)
  packages/x6/src/graph/graph.ts
  packages/x6/src/index.less
  packages/x6/src/registry/tool/editor.less
  packages/x6/src/registry/tool/editor.ts
  packages/x6/src/registry/tool/index.ts
  packages/x6/src/style/raw.ts
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/.env
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/.gitignore
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/package.json
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/public/index.html
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/app.css
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/app.tsx
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/index.css
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/index.tsx
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/tsconfig.json
  sites/x6-sites/docs/api/registry/edge-tool.en.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/api/registry/node-tool.en.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
Due: x6

docs: fix menu spelling mistake (#1200)
  sites/x6-sites/examples/edge/tool/demo/meta.json
Due: none

chore(release): @antv/x6@1.24.8 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
