Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

feat: add angualr shape (#1141)
  package-lock.json
  package.json
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

chore(release): @antv/x6-geometry@1.0.7 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

fix: 🐛 add toolsAddable config for interacting (#1124)
  packages/x6/src/view/cell.ts
Due: x6

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

docs: 📚️ add group demo (#1143)
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.less
  examples/x6-example-features/src/pages/group/index.tsx
Due: none

chore(release): @antv/x6-vector@1.2.2 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

refactor: ♻️ auto format by eslint tool
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
Due: x6

chore(release): @antv/x6@1.24.5 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-sites@1.3.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.2 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

build: 📦️ build angular shape
  package.json
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  scripts/build-dev
  yarn.lock
Due: x6

fix: fix angular typo (#1154)
  package-lock.json
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  sites/x6-sites/CHANGELOG.md
Due: x6

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
  configs/package-json/package.json
Due: none

chore(release): @antv/x6-angular-shape@1.0.0 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
Due: x6

fix: 🐛 unified panning api (#1151)
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: x6

docs: 📚️ delete design docs in demo (#1153)
  examples/x6-app-dag/src/layout/header/index.tsx
  examples/x6-app-er/src/pages/ERGraph/Toolbar/index.tsx
Due: none

chore: config threshold
  .codecov.yml
Due: none

build: 📦️ add angular dependencies
  configs/package-json/angular.json
Due: none

chore(release): @antv/x6-sites-demos@1.1.5 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.5 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

style: 🎨 optimize find snap methods (#1189)
  packages/x6/src/view/edge.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-geometry@1.0.8 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6@1.24.6 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
