Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore: release
  .github/workflows/release.yml
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  7e/98813096a10de2140548432346cb6c0b2e6e2c
Due: none

chore(release): 2.0.6-beta.5 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  01/7335a09d59dc386a568e2b791d939163c30ba4
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

Notes added by 'git notes add'
  00/de968951efc1f6200364545f168c479df231ee
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  79/3363510bac22867ee2f3f6bdcc222177fa22fd
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  fb/d3241db0843cfbf441090911af9e058498af69
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  e8/4c5f76d4c46c53d0cc17d82e4d2ba74884b88e
Due: none

chore(release): 2.0.6-beta.4 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  fe/4f7bc4ed8283c39281fee24c1d5afe6073994b
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  5b/b1d2574516732b756b086b0a7dc2c099217be9
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  1e/d217476fb21f2a6c7cedfc74db0c040c39b124
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  55/a2de96ca57979f6fccae62ad6f4f9cd0c6d395
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  d3/8f90641127b062530d774dcac1d1dd99c427b7
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  69/c4b185c6a6aa73f0a58d32b082b93bb1980075
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  03/6a5ff42cbedc006381e79763adabc08b24732e
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  80/728ac28f47e2b45f9eebe3199eed53b3d037a4
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  6b/ae04fb681a8f0c7c0264143f6343f9e141822c
Due: none

chore: add release comment footer message
  .github/workflows/release.yml
Due: none

fix: bump rule
  package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

chore: add pnpm rules
  package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  60/9a234501b2ee54c257968666531bf3684cb6f1
Due: none

chore(release): 2.0.6-beta.6 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  ff/b79054b0e595a719fb4b2c81d6b2359920b96d
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  13/c44ebb1f3b541ef0a2b721c7343c6330a5d6ee
Due: none
