Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

docs(license): update copyright year(s)
  LICENSE
Due: none

fix: optimize rendering logic to prevent loops
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/package.json
Due: x6

fix: optimize rendering logic to prevent loops (#3108)
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/package.json
Due: x6

chore: update badge style
  README.md
Due: none

docs: add LEGAL for sites
  sites/x6-sites/LEGAL.md
  sites/x6-sites/package.json
Due: none

docs: add LEGAL for sites (#3112)
  sites/x6-sites/LEGAL.md
  sites/x6-sites/package.json
Due: none

fix: update group even group is empty
  packages/x6/src/view/node.ts
  sites/x6-sites/package.json
Due: x6

fix: update group even group is empty (#3117)
  packages/x6/src/view/node.ts
  sites/x6-sites/package.json
Due: x6

feat: button tool支持悬浮事件
  packages/x6/src/registry/tool/button.ts
Due: x6

feat: 修改悬浮事件类型
  packages/x6/src/registry/tool/button.ts
Due: x6

feat: button tool add mouse move event config
  packages/x6/src/registry/tool/button.ts
Due: x6

fix: fix format
  sites/x6-sites/docs/api/registry/router.zh.md
Due: none

docs: fix document formatting (#3135)
  sites/x6-sites/docs/api/registry/router.zh.md
Due: none

fix: change dragging container options
  packages/x6-plugin-dnd/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
Due: x6

fix: change dragging container options (#3139)
  packages/x6-plugin-dnd/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
Due: x6

refactor: mindmap demo remove resetCells
  examples/x6-example-features/src/pages/case/mind.tsx
Due: none

refactor: mindmap demo remove resetCells (#3141)
  examples/x6-example-features/src/pages/case/mind.tsx
Due: none

fix(mindmap demo): can not find target id when create edge
  examples/x6-example-features/src/pages/case/mind.tsx
Due: none

fix: stop propagation when click menu item
  packages/x6-react-components/src/menubar/item.tsx
Due: x6

fix(mindmap demo): can not find target id when create edge (#3144)
  examples/x6-example-features/src/pages/case/mind.tsx
Due: none

fix: stop propagation when click menu item (#3147)
  packages/x6-react-components/src/menubar/item.tsx
Due: x6

refactor: refactor cell remove schedule
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: optimize css loader
  packages/x6-common/src/css-loader/loader.ts
Due: x6, x6-common

fix: optimize css loader (#3156)
  packages/x6-common/src/css-loader/loader.ts
Due: x6, x6-common

refactor: refactor cell remove schedule (#3154)
  packages/x6/src/renderer/scheduler.ts
Due: x6

feat: code optimize
  packages/x6/src/graph/graph.ts
Due: x6

chore: use find to repalce forEach
  packages/x6/src/graph/graph.ts
Due: x6

fix: dnd use absolute cause migration problem
  packages/x6-plugin-dnd/src/index.less
  packages/x6-plugin-stencil/src/index.less
Due: x6

chore: use find to repalce forEach (#3159)
  packages/x6/src/graph/graph.ts
Due: x6

fix: onMousedown add event notify
  packages/x6/src/view/edge.ts
Due: x6

fix: onMousedown add super event notify
  packages/x6/src/view/edge.ts
Due: x6

fix: prevent highlighting new edge
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
Due: x6

fix: prevent highlighting new edge (#3170)
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
Due: x6

fix: use notifyMouseDown
  packages/x6/src/view/edge.ts
Due: x6

fix: graph plugin support disable and enable
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6/src/graph/graph.ts
Due: x6

fix: graph plugin support disable and enable
  packages/x6/src/graph/graph.ts
Due: x6

Fix/edge mousedown (#3169)
  packages/x6/src/view/edge.ts
Due: x6

fix: graph plugin support disable and enable and add getPlugins
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6/src/graph/graph.ts
Due: x6

fix: deal compatibility problem
  packages/x6/src/graph/graph.ts
Due: x6
