Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

fix: 🐛 fix the error in selected nodes position when snapline enabled
  examples/x6-example-features/src/pages/case/dag.tsx
  packages/x6/src/addon/selection/index.ts
Due: x6

fix: 🐛 fix the error in selected nodes position when snapline enabled (#2797)
  examples/x6-example-features/src/pages/case/dag.tsx
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix: 🐛 fix the error in selected nodes position when snapline enabled (#2798)
  examples/x6-example-features/src/pages/case/dag.tsx
  packages/x6/src/addon/selection/index.ts
Due: x6

fix: 🐛 add warn when use fallback router
  packages/x6/src/registry/router/manhattan/router.ts
Due: x6

fix: 🐛 add warn when use fallback router (#2799)
  packages/x6/src/registry/router/manhattan/router.ts
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-selection/package.json
Due: x6

fix: 🐛 fix multiple selection drag error
  packages/x6-plugin-selection/src/selection.ts
Due: x6

fix:🐛fix the bug cannot read properties of null when cell is not exit
  packages/x6/src/graph/history.ts
Due: x6

fix: 🐛 fix nodes moved error when snapped
  packages/x6/src/addon/selection/index.ts
Due: x6

fix:🐛fix the bug cannot read properties of null when cell is not exit (#2802)
  packages/x6/src/graph/history.ts
Due: x6

fix: 🐛 fix nodes moved error when snapped (#2805)
  packages/x6/src/addon/selection/index.ts
Due: x6

docs: 📚️ add tips for insertPort api
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
Due: none

docs: 📚️ add tips for insertPort api (#2806)
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
Due: none

feat: ✨ add clipboard plugin
  examples/x6-example-features/src/pages/clipboard/index.tsx
  packages/x6-plugin-clipboard/LICENSE
  packages/x6-plugin-clipboard/README.md
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-clipboard/rollup.config.js
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-clipboard/tsconfig.json
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/graph/size.ts
  packages/x6/src/view/node.ts
Due: x6

feat: ✨ add dnd plugin
  examples/x6-example-features/src/pages/connector/multi.tsx
  examples/x6-example-features/src/pages/connector/offset-rounded.tsx
  examples/x6-example-features/src/pages/dnd/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-dnd/LICENSE
  packages/x6-plugin-dnd/README.md
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/rollup.config.js
  packages/x6-plugin-dnd/scripts/style.js
  packages/x6-plugin-dnd/src/index.less
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-dnd/src/style/raw.ts
  packages/x6-plugin-dnd/tsconfig.json
  packages/x6-plugin-snapline/src/index.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/renderer.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore: 🔧 optimize example
  examples/x6-example-features/src/pages/edge/custom-connector.tsx
  examples/x6-example-features/src/pages/edge/custom-edge.tsx
  examples/x6-example-features/src/pages/edge/custom-marker.tsx
  examples/x6-example-features/src/pages/edge/custom-router.tsx
  examples/x6-example-features/src/pages/edge/data-mapping/index.tsx
  examples/x6-example-features/src/pages/edge/data-mapping/shapes.ts
  examples/x6-example-features/src/pages/edge/edge-connected.tsx
  examples/x6-example-features/src/pages/edge/index.tsx
  examples/x6-example-features/src/pages/edge/jump-over.tsx
  examples/x6-example-features/src/pages/edge/loop.tsx
  examples/x6-example-features/src/pages/edge/loop2.tsx
  examples/x6-example-features/src/pages/edge/tool/arrowhead.tsx
  examples/x6-example-features/src/pages/edge/tools.tsx
  examples/x6-example-features/src/pages/edge/validate-connection-count.tsx
  examples/x6-example-features/src/pages/edge/validate-connection.tsx
  examples/x6-example-features/src/pages/embed/dnd.tsx
  examples/x6-example-features/src/pages/embed/group/index.tsx
  examples/x6-example-features/src/pages/embed/nested-clone.tsx
  examples/x6-example-features/src/pages/embed/nested.tsx
  examples/x6-example-features/src/pages/embed/nested2.tsx
  examples/x6-example-features/src/pages/expand/index.less
  examples/x6-example-features/src/pages/expand/index.tsx
  examples/x6-example-features/src/pages/expand/tree/data.ts
  examples/x6-example-features/src/pages/expand/tree/index.tsx
  examples/x6-example-features/src/pages/expand/tree/shape.ts
  examples/x6-example-features/src/pages/fta/index.tsx
  examples/x6-example-features/src/pages/fta/shapes.ts
  examples/x6-example-features/src/pages/graph/effect.ts
  examples/x6-example-features/src/pages/graph/grid-card.tsx
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.less
  examples/x6-example-features/src/pages/group/index.tsx
  examples/x6-example-features/src/pages/group/shape.ts
  examples/x6-example-features/src/pages/halo/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/position/position.tsx
  packages/x6/src/graph/graph.ts
  packages/x6/src/model/cell.ts
Due: x6

fix: 🐛 change jobqueue to transient
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/position/position.tsx
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

feat: ✨ add html shape
  examples/x6-example-features/src/pages/html/index.less
  examples/x6-example-features/src/pages/html/index.tsx
  examples/x6-example-features/src/pages/html/rerender.tsx
  examples/x6-example-features/src/pages/hull/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-react-shape/src/registry.ts
  packages/x6-vue-shape/src/registry.ts
  packages/x6/src/shape/html.ts
  packages/x6/src/shape/index.ts
  scripts/build-dev
Due: x6

chore(release): 🚀 publish
  lerna.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
Due: x6

feat: ✨ add minimap plugin
  examples/x6-example-features/src/pages/scroller/index.tsx
  packages/x6-common/src/dom/css.ts
  packages/x6-common/src/dom/elem.ts
  packages/x6-common/src/dom/position.ts
  packages/x6-plugin-minimap/LICENSE
  packages/x6-plugin-minimap/README.md
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-minimap/rollup.config.js
  packages/x6-plugin-minimap/scripts/style.js
  packages/x6-plugin-minimap/src/index.less
  packages/x6-plugin-minimap/src/index.ts
  packages/x6-plugin-minimap/src/style/raw.ts
  packages/x6-plugin-minimap/tsconfig.json
  packages/x6-plugin-scroller/src/index.ts
  packages/x6/src/graph/graph.ts
Due: x6

chore: 🔧 optimize demos
  examples/x6-example-features/src/pages/embed/dnd.less
  examples/x6-example-features/src/pages/embed/dnd.tsx
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/position/coord.tsx
  examples/x6-example-features/src/pages/selection/custom-style.tsx
  examples/x6-example-features/src/pages/shape/basic.tsx
  examples/x6-example-features/src/pages/shape/flowchart/index.tsx
  examples/x6-example-features/src/pages/shape/flowchart/shapes/card.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/collate.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/database.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/delay.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/direct-data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/display.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/document.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/extract-or-measurement.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/internal-storage.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/loop-limit.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/manual-input.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/manual-operation.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/merge-or-storage.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/multi-document.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/off-page-reference.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/paper-tape.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/parallel-mode.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/predefined-process.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/preparation.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/process.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/sort.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/stored-data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/summing-function.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/terminator.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/transfer.ts
  examples/x6-example-features/src/pages/shape/standard.tsx
Due: none

feat: ✨ add stencil plugin
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/stencil/index.tsx
  packages/x6-plugin-stencil/LICENSE
  packages/x6-plugin-stencil/README.md
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-stencil/rollup.config.js
  packages/x6-plugin-stencil/scripts/style.js
  packages/x6-plugin-stencil/src/grid.ts
  packages/x6-plugin-stencil/src/index.less
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-stencil/src/style/raw.ts
  packages/x6-plugin-stencil/tsconfig.json
  scripts/build-dev
Due: x6

feat: ✨ add stencil plugin (#2815)
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/stencil/index.tsx
  packages/x6-plugin-stencil/LICENSE
  packages/x6-plugin-stencil/README.md
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-stencil/rollup.config.js
  packages/x6-plugin-stencil/scripts/style.js
  packages/x6-plugin-stencil/src/grid.ts
  packages/x6-plugin-stencil/src/index.less
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-stencil/src/style/raw.ts
  packages/x6-plugin-stencil/tsconfig.json
  scripts/build-dev
Due: x6

feat: ✨ add transform plugin
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/table/component.tsx
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/token/index.tsx
  examples/x6-example-features/src/pages/tools/clean.tsx
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  examples/x6-example-features/src/pages/transform/index.tsx
  packages/x6-plugin-transform/LICENSE
  packages/x6-plugin-transform/README.md
  packages/x6-plugin-transform/package.json
  packages/x6-plugin-transform/rollup.config.js
  packages/x6-plugin-transform/scripts/style.js
  packages/x6-plugin-transform/src/index.less
  packages/x6-plugin-transform/src/index.ts
  packages/x6-plugin-transform/src/style/raw.ts
  packages/x6-plugin-transform/src/transform.ts
  packages/x6-plugin-transform/src/util.ts
  packages/x6-plugin-transform/tsconfig.json
Due: x6

feat: ✨ add transform plugin (#2818)
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/table/component.tsx
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/token/index.tsx
  examples/x6-example-features/src/pages/tools/clean.tsx
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  examples/x6-example-features/src/pages/transform/index.tsx
  packages/x6-plugin-transform/LICENSE
  packages/x6-plugin-transform/README.md
  packages/x6-plugin-transform/package.json
  packages/x6-plugin-transform/rollup.config.js
  packages/x6-plugin-transform/scripts/style.js
  packages/x6-plugin-transform/src/index.less
  packages/x6-plugin-transform/src/index.ts
  packages/x6-plugin-transform/src/style/raw.ts
  packages/x6-plugin-transform/src/transform.ts
  packages/x6-plugin-transform/src/util.ts
  packages/x6-plugin-transform/tsconfig.json
Due: x6

feat: ✨ add history plugin
  examples/x6-example-features/src/pages/shape/switch.tsx
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/transitions/data.ts
  examples/x6-example-features/src/pages/transitions/index.tsx
  examples/x6-example-features/src/pages/transitions/model.ts
  examples/x6-example-features/src/pages/transitions/shapes.ts
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6-plugin-history/LICENSE
  packages/x6-plugin-history/README.md
  packages/x6-plugin-history/package.json
  packages/x6-plugin-history/rollup.config.js
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-history/tsconfig.json
  scripts/build-dev
Due: x6

feat: ✨ add history plugin (#2819)
  examples/x6-example-features/src/pages/shape/switch.tsx
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/transitions/data.ts
  examples/x6-example-features/src/pages/transitions/index.tsx
  examples/x6-example-features/src/pages/transitions/model.ts
  examples/x6-example-features/src/pages/transitions/shapes.ts
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6-plugin-history/LICENSE
  packages/x6-plugin-history/README.md
  packages/x6-plugin-history/package.json
  packages/x6-plugin-history/rollup.config.js
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-history/tsconfig.json
  scripts/build-dev
Due: x6

fix: 🐛 optimize performance example
  examples/x6-example-features/src/pages/v2/data.ts
  examples/x6-example-features/src/pages/v2/graph-v1.tsx
  examples/x6-example-features/src/pages/v2/graph.tsx
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
Due: none

feat: ✨ export common and geometry in x6 package
  packages/x6-common/src/index.ts
  packages/x6-common/src/registry/index.ts
  packages/x6-geometry/src/path/normalize.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/util.ts
  packages/x6-plugin-clipboard/rollup.config.js
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6/src/index.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/model/registry.ts
  packages/x6/src/registry/attr/index.ts
  packages/x6/src/registry/background/index.ts
  packages/x6/src/registry/connection-point/index.ts
  packages/x6/src/registry/connection-strategy/index.ts
  packages/x6/src/registry/connector/index.ts
  packages/x6/src/registry/edge-anchor/index.ts
  packages/x6/src/registry/filter/index.ts
  packages/x6/src/registry/grid/index.ts
  packages/x6/src/registry/highlighter/index.ts
  packages/x6/src/registry/marker/index.ts
  packages/x6/src/registry/node-anchor/index.ts
  packages/x6/src/registry/port-label-layout/index.ts
  packages/x6/src/registry/port-layout/index.ts
  packages/x6/src/registry/registry.ts
  packages/x6/src/registry/router/index.ts
  packages/x6/src/registry/router/manhattan/util.ts
  packages/x6/src/registry/tool/index.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/node.ts
Due: x6, x6-geometry

feat: ✨ export common and geometry in x6 package (#2820)
  examples/x6-example-features/src/pages/v2/data.ts
  examples/x6-example-features/src/pages/v2/graph-v1.tsx
  examples/x6-example-features/src/pages/v2/graph.tsx
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-common/src/index.ts
  packages/x6-common/src/registry/index.ts
  packages/x6-geometry/src/path/normalize.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/util.ts
  packages/x6-plugin-clipboard/rollup.config.js
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6/src/index.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/model/registry.ts
  packages/x6/src/registry/attr/index.ts
  packages/x6/src/registry/background/index.ts
  packages/x6/src/registry/connection-point/index.ts
  packages/x6/src/registry/connection-strategy/index.ts
  packages/x6/src/registry/connector/index.ts
  packages/x6/src/registry/edge-anchor/index.ts
  packages/x6/src/registry/filter/index.ts
  packages/x6/src/registry/grid/index.ts
  packages/x6/src/registry/highlighter/index.ts
  packages/x6/src/registry/marker/index.ts
  packages/x6/src/registry/node-anchor/index.ts
  packages/x6/src/registry/port-label-layout/index.ts
  packages/x6/src/registry/port-layout/index.ts
  packages/x6/src/registry/registry.ts
  packages/x6/src/registry/router/index.ts
  packages/x6/src/registry/router/manhattan/util.ts
  packages/x6/src/registry/tool/index.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/node.ts
Due: x6, x6-geometry

chore: v8
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepush
Due: none

chore: force to use pnpm
  scripts/monorepo-semantic-release/package.json
  scripts/monorepo-semantic-release/src/blork.ts
  scripts/monorepo-semantic-release/src/commits.ts
  scripts/monorepo-semantic-release/src/config.ts
  scripts/monorepo-semantic-release/src/index.ts
  scripts/monorepo-semantic-release/src/logger.ts
  scripts/monorepo-semantic-release/src/manifest.ts
  scripts/monorepo-semantic-release/src/plugin.ts
  scripts/monorepo-semantic-release/src/release.ts
  scripts/monorepo-semantic-release/src/runner.ts
  scripts/monorepo-semantic-release/src/stream.ts
  scripts/monorepo-semantic-release/src/synchronizer.ts
  scripts/monorepo-semantic-release/src/types.ts
  scripts/monorepo-semantic-release/src/typing.d.ts
  scripts/monorepo-semantic-release/src/util.ts
  scripts/monorepo-semantic-release/src/workspace.ts
  scripts/monorepo-semantic-release/tsconfig.json
  scripts/monorepo-semantic-release/yarn.lock
  scripts/preinstall.js
Due: none

chore: sharable config
  .eslintrc
  .stylelintrc
  karma.conf.js
  rollup.config.mjs
Due: none
