Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites@1.5.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  fd/b7563d21e5d3a3799f3360733c3130390ad289
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.7 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  cd/e133781a8cce1d67809ca36fbbcafa268ad2ec
Due: none

fix: 🐛 auto zoom minimap graph to fit content
  packages/x6/src/addon/minimap/index.ts
Due: x6

fix: 🐛 auto zoom minimap graph to fit content (#2111)
  packages/x6/src/addon/minimap/index.ts
Due: x6

chore(release): @antv/x6-sites-demos@1.2.1 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

Notes added by 'git notes add'
  5b/2020d4d0bc0b7a4e972b55e9ba7d6402d0c06e
Due: none

chore(release): @antv/x6-geometry@1.0.12 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

Notes added by 'git notes add'
  08/2c5e04cf472437a783947c837d6c2c1afd6a50
Due: none

chore(release): @antv/x6-vector@1.4.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

Notes added by 'git notes add'
  61/9a6df36edc43b32967cf69ac66de360611e382
Due: none

chore(release): @antv/x6@1.32.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  76/e0f973e65eadf2ecb570c999e668a5d715e235
Due: none

chore(release): @antv/x6-app-dag@1.1.7 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  01/444b46779c1d96781bb87744ad9b6e471f8096
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  85/2843ba59f33c3ac1765876b4f99b6567046272
Due: none

chore(release): @antv/x6-app-er@1.1.7 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  52/b7b51b45a2d1b517d6a5aa2c21c1fc8aa9529f
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  58/6eb4903295e786f199fd7f82aa629c073174f0
Due: none

chore(release): @antv/x6-sites@1.5.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  40/15bb6667b8882218043628a7155524067dab49
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.6 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  3e/e97bef6527099ce14bce13a8b1f384ec8c9df1
Due: none

fix: 🐛 fix minimap error in after resize graph
  packages/x6/src/addon/minimap/index.ts
Due: x6

fix: 🐛 fix minimap error in after resize graph (#2117)
  packages/x6/src/addon/minimap/index.ts
Due: x6

Notes added by 'git notes add'
  4a/fc9df1edea1bb3122efb01bbd91e121c13a24c
Due: none

chore(release): @antv/x6@1.32.2 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  86/333981495bd9c3cfc371eae45bf331202651c1
Due: none

Notes added by 'git notes add'
  a6/54adf88f0810b406f63468dd8b76e2ebbe30bb
Due: none

Notes added by 'git notes add'
  2f/d1033009c1d7ff50a63e63802d2a7c5604c61b
Due: none

Notes added by 'git notes add'
  eb/81f1b8562df72f2e7b1ff16994adc597dd7594
Due: none

Notes added by 'git notes add'
  56/234ae8d7fda418972fc3bc39767a1ff5e42c9f
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
