Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore: demo support node 16
  examples/x6-example-features/package.json
  pnpm-lock.yaml
Due: none

fix: react-shape this.selectors must valid
  packages/x6-react-shape/src/view.ts
Due: x6

fix: react-shape this.selectors must valid (#4374)
  packages/x6-react-shape/src/view.ts
Due: x6

chore: 🔧 release x6-react-shape@1.6.6
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Due: x6

feat:windows下编译修改
  examples/x6-example-features/package.json
Due: none

bug:x6小地图定位不准
  packages/x6-plugin-minimap/src/index.ts
Due: x6

feat:部分源码备注
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/minimap/index.less
  examples/x6-example-features/src/pages/minimap/index.tsx
  packages/x6-common/src/dom/event/core.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/transform.ts
  packages/x6/src/index.ts
  packages/x6/src/model/cell.ts
Due: x6, x6-common, x6-geometry

feat:x6-plugin-history，撤销回退插件原理
  packages/x6-plugin-history/src/index.ts
Due: x6

feat: Dom公共方法封装（可借鉴）
  packages/x6-common/src/dom/index.ts
  packages/x6-common/src/dom/position.ts
Due: x6, x6-common

feat:对象属性mixins
  packages/x6-common/src/object/mixins.ts
Due: x6, x6-common

feat:Dom事件注册与Graph本身的事件注册区分开
  packages/x6-common/src/dom/event/core.ts
Due: x6, x6-common

feat: Renderer渲染器渲染原理
  packages/x6/src/renderer/renderer.ts
Due: x6

feat:调试
  examples/x6-example-features/src/pages/minimap/index.tsx
  packages/x6/src/graph/graph.ts
Due: x6

feat:鼠标交互，及元素捕捉+事件触发
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/view.ts
Due: x6

feat:事件处理，构建自定义event
  packages/x6-common/src/dom/event/core.ts
Due: x6, x6-common

feat: render及queueJob 任务队列
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/renderer.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

feat:model中创建Node、Edge模型
  packages/x6/src/model/edge.ts
  packages/x6/src/model/model.ts
  packages/x6/src/model/node.ts
Due: x6

feat:元素捕捉逻辑(当前元素向上递归拥有data-cell-id的父元素的id值)
  packages/x6/src/graph/view.ts
  packages/x6/src/renderer/renderer.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/view.ts
Due: x6

feat: view层，事件handler，触发对应的CellView(NodeView/EdgeView)的事件监听
  packages/x6/src/graph/view.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
Due: x6

feat:事件触发，通过store存储之前event中的data数据，下次操作同类型事件能取到相应数据
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/util.ts
Due: x6, x6-common

feat:关于自定义事件event，存储自定义data的部分场景
  packages/x6/src/view/node.ts
Due: x6

feat: CellView（NodeView/EdgeView）中包含Cell（Node/Edge）
  packages/x6/src/view/cell.ts
Due: x6

feat: Model中的Collection添加Cell，通过事件告知Scheduler调度器，进行相应的CellView的创建，并通过queueJob任务队列进行视图渲染
  packages/x6/src/model/collection.ts
Due: x6

feat：事件委托，触发流程备注
  packages/x6/src/graph/view.ts
Due: x6

feat: coord 坐标转换
  packages/x6/src/graph/graph.ts
Due: x6

feat: dnd（drag and drop） 拖拽进入插件
  packages/x6-plugin-dnd/src/index.ts
Due: x6

feat: coord坐标系统
  packages/x6-common/src/dom/matrix.ts
  packages/x6/src/graph/coord.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/view.ts
  packages/x6/src/util/index.ts
Due: x6, x6-common

fix x6/src/shape/index.ts repeated export
  packages/x6/src/shape/index.ts
Due: x6

fix x6/src/shape/index.ts repeated export (#4404)
  packages/x6/src/shape/index.ts
Due: x6

fix: optimizes selection nodes when strict box selection is enabled
  packages/x6/src/model/model.ts
Due: x6

fix: new Graph option nullable
  .gitignore
  packages/x6/src/__tests__/graph/index.test.ts
  packages/x6/src/graph/options.ts
  pnpm-lock.yaml
Due: x6

chore: remove pnpm-lock.yaml from .gitignore
  .gitignore
Due: none

feat: 支持自定义节点/边的唯一标识 #4442
  packages/x6/src/model/cell.ts
  sites/x6-sites/docs/api/model/cell.zh.md
Due: x6

fix(x6-plugin-keyboard): triggerKey should use formatKey before call mousetrap
  packages/x6-plugin-keyboard/src/keyboard.ts
Due: x6

fix: 修复问题：开启snapline后，当我们框选圆形组件、node2矩形组件（node2中有一个node3被embedding时）,translateby是node2时，导致node2和组合在一起的node3移动错乱，并且node1移动错误的bug
  packages/x6-plugin-selection/src/selection.ts
Due: x6

feat(vue-shape): export `clearItemsCache`, `VueNodeTeleport`
  packages/x6-vue-shape/src/teleport.ts
Due: x6
