Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore: 🔧 release 2.0.1-beta.4
  packages/x6-common/package.json
Due: x6

chore: 🔧 update commit msg for release
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
Due: x6, x6-geometry

chore: 🔧 update commit msg for release (#2413)
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
Due: x6, x6-geometry

chore: 🔧 release @antv/x6-geometry@2.0.1-beta.4
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore: 🔧 release @antv/x6-geometry@2.0.1-beta.4 (#2414)
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore: 🔧 release @antv/x6-next@2.0.1-beta.4
  packages/x6-next/package.json
Due: x6

chore: 🔧 update x6-next version
  packages/x6-next/src/version.ts
Due: x6

chore: 🔧 update x6-next version (#2416)
  packages/x6-next/src/version.ts
Due: x6

chore: 🔧 release @antv/x6-common@2.0.1-beta.5
  packages/x6-common/package.json
Due: x6

chore: 🔧 release @antv/x6-next@2.0.1-beta.5
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/animation/1.tsx
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-geometry

fix(history): 🐛 try to merge move+embed into 1 undo
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6/src/graph/history.ts
  packages/x6/src/view/node.ts
Due: x6

fix: 升级vue-demi版本
  packages/x6-vue-shape/package.json
Due: x6

fix: 1、处理点击画布时，画布以外的元素无法失去焦点 2、添加“touch-action: none;” 处理在移动端，移动节点时页面会跟着手势移动
  packages/x6/src/graph/view.ts
  packages/x6/src/style/index.less
Due: x6

refactor: ♻️ adjust preventDefaultContextMenu function param
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/view.ts
Due: x6

feat: ✨ preventDefaultContextMenu support function (#2410)
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/view.ts
Due: x6

fix: 升级vue-demi版本 (#2435)
  packages/x6-vue-shape/package.json
Due: x6

docs(README.md): fix typo of CDN
  README.md
Due: none

docs: add addCells method for model documentation
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: add some methods for model documentation
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: add more description for model documentation
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs: add some methods for model documentation (#2451)
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Due: none

docs(README.md): fix typo of CDN (#2450)
  README.md
Due: none

chore: 🔧 update x6 version
  packages/x6/README.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
  yarn.lock
Due: x6

chore: 🔧 update x6 version (#2468)
  packages/x6/README.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
  yarn.lock
Due: x6

chore: 🔧 add release-it
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 add release-it (#2469)
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update git tag for release-it
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 update git tag for release-it (#2470)
  packages/x6-vue-shape/package.json
Due: x6

chore: 🔧 release @antv/x6-vue-shape@1.4.2
  packages/x6-vue-shape/package.json
Due: x6

fix: 🐛 fix set edge target error
  packages/x6/src/model/edge.ts
  packages/x6/src/model/model.ts
Due: x6

fix: 🐛 sort views after cell visible changed
  packages/x6/src/graph/renderer.ts
Due: x6

fix: 🐛 filter empty cells in selection:changed event
  packages/x6/src/addon/selection/index.ts
Due: x6

chore: 🔧 update release tag name
  packages/x6/package.json
Due: x6

fix: fix some issue (#2472)
  packages/x6/package.json
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/graph/renderer.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/model.ts
Due: x6

chore: 🔧 release @antv/x6@1.33.0
  packages/x6/package.json
Due: x6

docs: 📚️ specify createEdge description
  packages/x6/src/global/version.ts
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
Due: x6

docs: 📚️ specify createEdge description (#2473)
  packages/x6/src/global/version.ts
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
