Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-plugin-selection@2.0.0 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  f1/30b416596680e7c71ce85c60f301a3358dc11b
Due: none

chore(release): @antv/x6-plugin-snapline@2.0.0 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  af/7993dedaa574f262ed7a8e58a1f30f94738c17
Due: none

chore(release): @antv/x6-plugin-stencil@2.0.0 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  a0/1f71730dc1c5072c93d91ef1a09eadff2573d9
Due: none

chore(release): @antv/x6-plugin-transform@2.0.0 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  14/8807ce4f92a81e50db80b20b80a3db13d668d3
Due: none

chore(release): @antv/x6-react-components@2.0.0 [skip ci]
  packages/x6-react-components/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  c2/f5c75b2b281ed6a40c64f8368544d5365cf486
Due: none

chore(release): @antv/x6-react-shape@2.0.0 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  27/27cab0398cfc44ef694c60da1a8c9b22a15fc4
Due: none

chore(release): @antv/x6-vue-shape@1.1.0 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore: update deps
  package.json
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
  pnpm-lock.yaml
Due: x6

chore(release): @antv/x6-vue-shape@2.0.0 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  09/e8dfda8b0a293173a85b5664f7022d4c17680d
Due: none

chore: let's start v2
  packages/x6-common/CHANGELOG.md
  packages/x6-geometry/CHANGELOG.md
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
  packages/x6/CHANGELOG.md
Due: x6, x6-geometry

chore: update commit message of update contributor
  .github/workflows/update-authors.yml
Due: none

docs: fix url of embeded CONTRIBUTORS.svg
  README.md
Due: none

refactor: remove unused methods
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/string/string.ts
  sites/x6-sites-demos/packages/tutorial/basic/selection/playground/src/app.tsx
Due: x6

fix: Cannot use "this" here: #2824
  packages/x6/src/view/tool.ts
Due: x6

chore: remove unused util methdos
  packages/x6-common/src/__tests__/dom/af.test.ts
  packages/x6-common/src/__tests__/json/index.test.ts
  packages/x6-common/src/dom/af.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/json/index.ts
  packages/x6-common/src/types.ts
  packages/x6/src/model/animation.ts
Due: x6

fix: Cannot use "this" here: #2824 (#2855)
  packages/x6/src/view/tool.ts
Due: x6

refactor: put rss scripts into root package.json
  package.json
  scripts/x6-build-tools/bin/rss.js
  scripts/x6-build-tools/bin/test.js
  scripts/x6-build-tools/lib/scripts.json
  scripts/x6-build-tools/package.json
Due: none

refactor: remove unused methods
  packages/x6-common/src/__tests__/function/function.test.ts
  packages/x6-common/src/function/function.ts
Due: x6

chore: update devdeps
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  pnpm-lock.yaml
Due: x6

chore: update build cache
  turbo.json
Due: none

chore: forbidden push to master with whitelist
  .husky/pre-push
  .husky/prepush
  scripts/pre-push-check
Due: none

chore: config rss
  package.json
  pnpm-lock.yaml
  scripts/build-less
  scripts/preinstall.js
  scripts/run-test
  scripts/x6-build-tools/.gitignore
  scripts/x6-build-tools/CHANGELOG.md
  scripts/x6-build-tools/bin/rss.js
  scripts/x6-build-tools/package.json
Due: none

fix: add missing script for building style
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
Due: x6

fix: 🐛 add timeout for animation setup
  packages/x6/src/util/dom/geom.ts
Due: x6

fix: sync change node position
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: x6

fix: 🐛 add timeout for animation setup (#2858)
  packages/x6/src/util/dom/geom.ts
Due: x6

chore(release): 🚀 publish
  packages/x6/package.json
Due: x6

fix: sync render when change position
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
Due: x6

fix: sync render when change position (#2860)
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
Due: x6

feat: attach api and event to graph for clipboard
  packages/x6-plugin-clipboard/src/api.ts
  packages/x6-plugin-clipboard/src/index.ts
Due: x6

feat: attach export api and event to graph instance
  examples/x6-example-features/src/pages/scroller/index.tsx
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-export/src/index.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
