Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-plugin-dnd@1.0.0 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  db/5422cbed728ecaee7175d477ef4d2a913a48dc
Due: none

chore(release): @antv/x6-plugin-history@1.0.0 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  48/73dce11dde162e7d6a17b77d081111fd194628
Due: none

chore(release): @antv/x6-plugin-keyboard@1.0.0 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  e5/a3753e71f5486b360c3a2ab7e6e2bb9635ba65
Due: none

chore(release): @antv/x6-plugin-minimap@1.0.0 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  3d/10f1f87de2054d24b817fb5d51361b91d22c09
Due: none

chore(release): @antv/x6-plugin-scroller@1.0.0 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  49/ecc06fc68eb77abf55248336736abeaa509c9d
Due: none

Notes added by 'git notes add'
  e3/514ebe782f1b1d0302f2cacd3dc1643db15dc0
Due: none

chore(release): @antv/x6-plugin-selection@1.0.0 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

chore(release): @antv/x6-plugin-snapline@1.0.0 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  54/844d84e51e8911a874261cda1cbdbf30d2420b
Due: none

chore(release): @antv/x6-plugin-stencil@1.0.0 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  76/717b5c8623651826877a69d84cb3168fb06754
Due: none

chore(release): @antv/x6-plugin-transform@1.0.0 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  2f/10b355f05f272eda87fe430e41d23d65479440
Due: none

chore(release): @antv/x6-react-components@1.0.0 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  2f/7ed18c4e98ab86817d4d69166a9df283d9a9be
Due: none

chore(release): @antv/x6-react-shape@1.0.0 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  df/246b4045b1f70fa07ddcb078c8a3ecdd735ea0
Due: none

chore(release): @antv/x6-vue-shape@1.0.0 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  d2/e53e9b2f02045880e9338fe0a79c11bab393d8
Due: none

chore(release): @antv/x6-build-tools@1.0.0 [skip ci]
  scripts/x6-build-tools/CHANGELOG.md
  scripts/x6-build-tools/package.json
Due: none

Notes added by 'git notes add'
  cc/13d80d762c7ce470a877b2a67f6f8ed5090f1b
Due: none

chore: move delete-stale-releases to backup dir
  .github/workflows/backup/delete-stale-releases.yml
Due: none

chore: bump to 2.0
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: x6, x6-geometry

chore(release): @antv/x6-geometry@1.0.1 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  97/e5adf6e9525c27aee13a038803e9902bf4f528
Due: none

Notes added by 'git notes add'
  77/72e7ffe3de2cb138b7dc5521a264657e47c9d3
Due: none

chore(release): @antv/x6@1.0.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

chore(release): @antv/x6-common@1.0.1 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

Notes added by 'git notes add'
  73/92a48585ae15bf8081d78497740e1ff24efeaf
Due: none

chore(release): @antv/x6-plugin-clipboard@1.0.1 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  fa/d7bec85c3423ffc4baf53a4edb4db50cc5fd61
Due: none

Notes added by 'git notes add'
  b8/84b795a93f2ee7bb3c91e3e7914649e5d47de6
Due: none

chore(release): @antv/x6-plugin-dnd@1.0.1 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

chore(release): @antv/x6-plugin-export@1.0.1 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
Due: x6

Notes added by 'git notes add'
  75/0242ce922b82e2742256d2ab9dc5d78d1aa94e
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
