Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

chore: not required should use optional
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/index.ts
  pnpm-lock.yaml
Due: x6

chore: add awesome-x6 link
  README.md
Due: none

docs: getstart
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Due: none

docs: getstart (#3318)
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Due: none

chore: not required plugin should use optional options (#3313)
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/index.ts
Due: x6

chore: add awesome-x6 link
  README.en-us.md
Due: none

feat: plugin get size
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: x6

chore: add awesome-x6 link (#3314)
  README.en-us.md
  README.md
Due: none

feat: should limit pnpm >= 7
  package.json
Due: none

chore: should toast pnpm >= 7 (#3325)
  package.json
Due: none

feat: add doc
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: none

docs: update screenshot for curve demo
  sites/x6-sites/examples/edge/connector/demo/meta.json
  sites/x6-sites/package.json
Due: none

docs: update screenshot for curve demo (#3329)
  sites/x6-sites/examples/edge/connector/demo/meta.json
  sites/x6-sites/package.json
Due: none

fix: throw error when render edge without terminal
  packages/x6/package.json
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

docs: remove freeze call
  sites/x6-sites/examples/showcase/practices/demo/orgchart.ts
Due: none

docs: remove freeze call (#3332)
  sites/x6-sites/examples/showcase/practices/demo/orgchart.ts
Due: none

fix: throw error when render edge without terminal (#3331)
  packages/x6/package.json
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore: add src to files
  packages/x6-angular-shape/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-common, x6-geometry

Feat/history add getSize (#3291)
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: x6

chore: add src to files (#3333)
  packages/x6-angular-shape/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Due: x6, x6-common, x6-geometry

fix: add excludeShapes options for manhattan router
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.zh.md
Due: x6

docs: fix error in cylinder shape
  sites/x6-sites/examples/node/custom-node/demo/cylinder.ts
  sites/x6-sites/examples/node/custom-node/demo/meta.json
  sites/x6-sites/examples/node/native-node/demo/cylinder.ts
  sites/x6-sites/examples/node/native-node/demo/meta.json
Due: none

fix: add excludeShapes options for manhattan router (#3334)
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.zh.md
Due: x6

docs: fix error in cylinder shape (#3335)
  sites/x6-sites/examples/node/custom-node/demo/cylinder.ts
  sites/x6-sites/examples/node/custom-node/demo/meta.json
  sites/x6-sites/examples/node/native-node/demo/cylinder.ts
  sites/x6-sites/examples/node/native-node/demo/meta.json
Due: none

chore: release 2 packages
  packages/x6-common/package.json
  packages/x6/package.json
  sites/x6-sites/.gitignore
Due: x6, x6-common

chore: release 2 packages (#3336)
  packages/x6-common/package.json
  packages/x6/package.json
  sites/x6-sites/.gitignore
Due: x6, x6-common

feat: createWidget and clearWidget
  packages/x6-plugin-transform/src/api.ts
  packages/x6-plugin-transform/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Due: x6

feat: createWidget and clearWidget
  packages/x6-plugin-transform/src/api.ts
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Due: x6

feat: renderArea add buffer
  packages/x6/src/renderer/renderer.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

feat: add default buffer
  packages/x6/src/renderer/scheduler.ts
Due: x6

docs: transform
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Due: none

docs: transform (#3339)
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Due: none

docs: update warning block style
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
Due: none

docs: update warning block style (#3343)
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
Due: none

fix: reset all views when fromjson
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: reset all views when fromjson (#3346)
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore: release 1 packages
  packages/x6/package.json
Due: x6

chore: release 1 packages (#3347)
  packages/x6/package.json
Due: x6

chore: release 1 packages (x6-angular-shape)
  packages/x6-angular-shape/package.json
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
