Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-common:
        threshold: 1%
        flags:
          - x6-common
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-common:
    paths:
      - packages/x6-common
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore: unify plugin disable and enable return value
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/index.ts
Due: x6

chore: unify plugin disable and enable return value
  packages/x6-plugin-transform/src/index.ts
Due: x6

fix: don't hide when click on color picker
  packages/x6-react-components/src/color-picker/index.tsx
Due: x6

fix: don't hide when click on color picker (#3172)
  packages/x6-react-components/src/color-picker/index.tsx
Due: x6

feat: the node can align by port
  examples/x6-example-features/src/pages/snapline/index.tsx
  examples/x6-example-features/src/pages/snapline/port-node.tsx
  packages/x6-plugin-snapline/src/snapline.ts
Due: x6

feat: add demo node for align by port
  examples/x6-example-features/src/pages/snapline/index.tsx
  examples/x6-example-features/src/pages/snapline/port-node.tsx
Due: none

feat: modify the return value of the on function to off
  examples/x6-example-features/src/pages/graph/index.tsx
  packages/x6-common/src/event/events.ts
Due: x6, x6-common

docs: 📚️ show corrected demos in gallery
  sites/x6-sites/gatsby-config.js
Due: none

docs: 📚️ show corrected demos in gallery (#3178)
  sites/x6-sites/gatsby-config.js
Due: none

fix: fix index error for priorityQueue
  packages/x6-common/src/algorithm/priorityqueue.ts
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
Due: x6, x6-common

fix: 🐛 fix index error for priorityQueue
  packages/x6/src/common/algorithm/priorityqueue.ts
Due: x6

fix: 🐛 fix index error for priorityQueue (#3180)
  packages/x6/src/common/algorithm/priorityqueue.ts
Due: x6

fix: fix index error for priorityQueue (#3179)
  packages/x6-common/src/algorithm/priorityqueue.ts
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
Due: x6, x6-common

chore: 🔧 release new version
  packages/x6/package.json
Due: x6

chore: 🔧 release new version (#3181)
  packages/x6/package.json
Due: x6

chore(release): 🚀 publish
  packages/x6/package.json
Due: x6

feat: add port events
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Due: x6

feat: add port events (#3185)
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Due: x6

feat: add byPort setting to snapline option
  examples/x6-example-features/src/pages/snapline/index.tsx
  packages/x6-plugin-snapline/src/snapline.ts
  sites/x6-sites/docs/tutorial/plugins/snapline.zh.md
Due: x6

fix(dnd): change dragging container options
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Due: x6

fix: get correct clipboard content when useLocalStorage enabed
  packages/x6-plugin-clipboard/src/api.ts
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
Due: x6

fix(dnd): change dragging container options (#3186)
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Due: x6

fix: get correct clipboard content when useLocalStorage enabed (#3189)
  packages/x6-plugin-clipboard/src/api.ts
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
Due: x6

fix: clear old background when background enabled in background
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

fix: clear old background when background enabled in background (#3192)
  packages/x6-plugin-scroller/src/scroller.ts
Due: x6

feat: add disposePlugins and isEnabled
  packages/x6/src/graph/graph.ts
Due: x6

fix: set correct scroller options
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/package.json
Due: x6

fix: set correct scroller options (#3195)
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/package.json
Due: x6

fix: ensure the container in html view
  packages/x6/src/shape/html.ts
Due: x6

fix: ensure the container in html view (#3196)
  packages/x6/src/shape/html.ts
Due: x6

fix: 🐛 change execludeNodes typo
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
Due: x6

fix: 🐛 change execludeNodes typo (#3199)
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
Due: x6

feat: optimize test form
  packages/x6/src/graph/graph.ts
Due: x6

fix: remove spammy console.log
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore: checkout repo without credentials
  .github/workflows/release.yml
Due: none

chore: remove empty line in comment
  .github/workflows/welcome.yml
Due: none

Feat plugins dis and en (#3171)
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/index.ts
  packages/x6/src/graph/graph.ts
Due: x6
