Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

fix: resize graph when scale scroller (#2903)
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6/package.json
Due: x6

fix: export snap methods from snapline
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/src/index.ts
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/src/app.css
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/src/app.css
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/plugins/minimap/playground/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/scroller/playground/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/snapline/playground/package.json
Due: x6

fix: export snap methods from snapline (#2904)
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/src/index.ts
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/src/app.css
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/src/app.css
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/plugins/minimap/playground/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/scroller/playground/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/snapline/playground/package.json
Due: x6

feat: add exportSVG methods
  packages/x6-plugin-export/package.json
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-export/src/index.ts
Due: x6

feat: add exportSVG methods (#2906)
  packages/x6-plugin-export/package.json
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-export/src/index.ts
Due: x6

fix: add execute permission
  scripts/preinstall
Due: none

chore: use wow-actions/use-app-token v2
  .github/workflows/auto-close-fixed-issues.yml
  .github/workflows/auto-comment.yml
  .github/workflows/backup/auto-assign.yml
  .github/workflows/backup/delete-stale-releases.yml
  .github/workflows/ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/label-commands.yml
  .github/workflows/lock.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-label-branch-name.yml
  .github/workflows/pr-label-file-paths.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/pr-label-status.yml
  .github/workflows/pr-label-title-body.yml
  .github/workflows/preview.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/report-monthly.yml
  .github/workflows/report-weekly.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-authors.yml
  .github/workflows/update-contributors.yml
  .github/workflows/update-license.yml
  .github/workflows/welcome.yml
Due: none

fix: input required and not supplied: GITHUB_TOKEN
  .github/workflows/update-authors.yml
Due: none

Remove CSS import because of antdv5 CSS-in-JS
  packages/x6-react-components/src/toolbar/item.tsx
Due: x6

fix: deep clone instead of shallow clone
  packages/x6-plugin-history/src/index.ts
Due: x6

docs: add performance demos
  sites/x6-sites-demos/packages/performance/react-flow/.gitignore
  sites/x6-sites-demos/packages/performance/react-flow/package.json
  sites/x6-sites-demos/packages/performance/react-flow/public/index.html
  sites/x6-sites-demos/packages/performance/react-flow/src/app.css
  sites/x6-sites-demos/packages/performance/react-flow/src/app.tsx
  sites/x6-sites-demos/packages/performance/react-flow/src/custom-node.tsx
  sites/x6-sites-demos/packages/performance/react-flow/src/index.css
  sites/x6-sites-demos/packages/performance/react-flow/src/index.tsx
  sites/x6-sites-demos/packages/performance/react-flow/tsconfig.json
  sites/x6-sites-demos/packages/performance/x6/.env
  sites/x6-sites-demos/packages/performance/x6/.gitignore
  sites/x6-sites-demos/packages/performance/x6/package.json
  sites/x6-sites-demos/packages/performance/x6/public/index.html
  sites/x6-sites-demos/packages/performance/x6/src/app.css
  sites/x6-sites-demos/packages/performance/x6/src/app.tsx
  sites/x6-sites-demos/packages/performance/x6/src/index.css
  sites/x6-sites-demos/packages/performance/x6/src/index.tsx
  sites/x6-sites-demos/packages/performance/x6/tsconfig.json
Due: none

docs: add performance demos (#2925)
  sites/x6-sites-demos/packages/performance/react-flow/.gitignore
  sites/x6-sites-demos/packages/performance/react-flow/package.json
  sites/x6-sites-demos/packages/performance/react-flow/public/index.html
  sites/x6-sites-demos/packages/performance/react-flow/src/app.css
  sites/x6-sites-demos/packages/performance/react-flow/src/app.tsx
  sites/x6-sites-demos/packages/performance/react-flow/src/custom-node.tsx
  sites/x6-sites-demos/packages/performance/react-flow/src/index.css
  sites/x6-sites-demos/packages/performance/react-flow/src/index.tsx
  sites/x6-sites-demos/packages/performance/react-flow/tsconfig.json
  sites/x6-sites-demos/packages/performance/x6/.env
  sites/x6-sites-demos/packages/performance/x6/.gitignore
  sites/x6-sites-demos/packages/performance/x6/package.json
  sites/x6-sites-demos/packages/performance/x6/public/index.html
  sites/x6-sites-demos/packages/performance/x6/src/app.css
  sites/x6-sites-demos/packages/performance/x6/src/app.tsx
  sites/x6-sites-demos/packages/performance/x6/src/index.css
  sites/x6-sites-demos/packages/performance/x6/src/index.tsx
  sites/x6-sites-demos/packages/performance/x6/tsconfig.json
Due: none

Notes added by 'git notes add'
  66/2f138fca8b28ccdceca995d85787be30e1a034
Due: none

chore(release): @antv/x6-geometry@2.0.1 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore(release): @antv/x6@2.0.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  75/51e782c11199dfb7463e83903e736efcf37497
Due: none

chore(release): @antv/x6-common@2.0.1 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6, x6-common

Notes added by 'git notes add'
  58/853d9ac246ae167d991c2277600ec53b293d4a
Due: none

chore(release): @antv/x6-plugin-clipboard@2.1.0 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  8a/f0f1c676a1d18eccb77509424048f8659855ab
Due: none

chore(release): @antv/x6-plugin-dnd@2.0.1 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  14/acda8f4b906167a4c425a1e207dbd18baa3edc
Due: none

chore(release): @antv/x6-plugin-export@2.1.0 [skip ci]
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-export/package.json
Due: x6

Notes added by 'git notes add'
  a4/a1b3741317ed7a8f868b25fe5d45bbcfb27846
Due: none

chore(release): @antv/x6-plugin-history@2.1.0 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  2c/eee7d067db05f8ba199e4e737ecb7f92d96729
Due: none

chore(release): @antv/x6-plugin-keyboard@2.1.0 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  86/fed91719345a8d386182c72abadc4133def2e7
Due: none

chore(release): @antv/x6-plugin-minimap@2.0.1 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  6f/c0344552b317049f331ae59c987d3cbfe0d6f7
Due: none

chore(release): @antv/x6-plugin-scroller@2.0.1 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  9b/6c5420aa65dd34605c89b9902baf126dbe3b07
Due: none

chore(release): @antv/x6-plugin-selection@2.1.0 [skip ci]
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-selection/package.json
Due: x6

Notes added by 'git notes add'
  b5/8ced43f684bea575ed4214a53a2cca89d59d53
Due: none

chore(release): @antv/x6-plugin-snapline@2.1.0 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  85/308db9a023dcea365fa4c3d4c990f6dce4f415
Due: none

chore(release): @antv/x6-plugin-stencil@2.0.1 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  28/111565fa0b498a35948882116a455add074518
Due: none

chore(release): @antv/x6-plugin-transform@2.1.0 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  da/99354379528c296a8ae535c12c13b1166f3925
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
