Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  a0/045ca739db29cf3d7ab9cd5eab6a1e24a1bf63
Due: none

chore(release): 2.0.6-beta.5 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  c4/920f6d4bf1d085becfa902fabc7da561d29c39
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  a5/8cb3d2a4a6fff92f226cb7fc72d4a774d8398f
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  f4/123517e2ed31a8b27fb7e2b4d2757dccb613c5
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  41/ba28ede701f262af8889cfc029980b463cbba6
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-snapline/package.json
Due: x6

Notes added by 'git notes add'
  32/44778000ad228bdaf09f2bdbf6174ee3568900
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-stencil/package.json
Due: x6

Notes added by 'git notes add'
  5b/13832d0dc67515cc83a6a339931c28ceeeea17
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-plugin-transform/package.json
Due: x6

Notes added by 'git notes add'
  e1/521224ec9f9039663da0728a2cc9574d86b314
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  f1/60a692a4b66aaf76a04486063d3d52c0a30c55
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

Notes added by 'git notes add'
  dc/a56222a47def82776bfd40d5b5e97d63003dde
Due: none

chore(release): 1.0.1 [skip ci]
  scripts/x6-build-tools/CHANGELOG.md
  scripts/x6-build-tools/package.json
Due: none

Notes added by 'git notes add'
  95/b529dbb429867c7ce0b40d9566182d13becdd1
Due: none

chore(release): 2.0.0 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  91/5d6e1af3bcbfb1ae98da163a68deea4186b340
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
Due: x6

Notes added by 'git notes add'
  d2/d1af444199bd0bb707026a80ab62c2f134ae13
Due: none

chore(release): 2.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  61/ec648afe49aa0dc2c8d8b569a401a00468cac6
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-clipboard/package.json
Due: x6

Notes added by 'git notes add'
  c6/aee77d011771f5ddca1eaf0b08365b2e10f054
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-dnd/package.json
Due: x6

Notes added by 'git notes add'
  a3/c2c7720240eafbe8e4f2736a7b141806631cba
Due: none

chore(release): 2.0.0 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  cc/080bede2dc6ef43b84897f2f7ac23fbd3f5fc5
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-keyboard/package.json
Due: x6

Notes added by 'git notes add'
  b3/f484756ccb0cb5b98dee41c0c3811b0e0cf65c
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-minimap/package.json
Due: x6

Notes added by 'git notes add'
  6b/864128fb883c191e53adb464cb5c2da18617b6
Due: none

chore(release): 1.0.0 [skip ci]
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-scroller/package.json
Due: x6

Notes added by 'git notes add'
  e9/5acaec0deb0f4c18845f7e85f0c1accf7091e0
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
