Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-common, x6-geometry, x6-vector

chore: release 2 packages
  packages/x6-common/package.json
  packages/x6/package.json
Due: x6, x6-common

chore: change docsearch appid
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Due: none

fix: add textLength & lengthAdjust to CASE_SENSITIVE_ATTR
  packages/x6-common/src/dom/attr.ts
Due: x6, x6-common

chore: release 2 packages (#3279)
  packages/x6-common/package.json
  packages/x6/package.json
Due: x6, x6-common

chore: change docsearch appid (#3280)
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Due: none

fix: add judgment for edge view
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: add judgment for edge view (#3282)
  packages/x6/src/renderer/scheduler.ts
Due: x6

chore: release x6@2.5.1
  packages/x6/package.json
Due: x6

chore: release x6@2.5.1 (#3284)
  packages/x6/package.json
Due: x6

fix(tool): 修复 node-editor 在 edge 上使用时，会出现 label 位置错乱和丢失问题
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix(tool): 修复 node-editor 在 edge 上使用时，删除 label 中的文本后，标签不消失的问题
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/tools/node-editor.tsx
  packages/x6/src/registry/tool/editor.ts
Due: x6

docs: update docs
  sites/x6-sites/docs/tutorial/intermediate/angular.md
Due: none

feat: add getSize api
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
Due: x6

doc: history doc
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: none

feat: add setSize api
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: x6

feat: change order
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: none

doc: 修复graph文档
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: none

doc: 修复graph文档 (#3293)
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: none

docs: fix warning display style
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
Due: none

docs: fix warning display style (#3294)
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
Due: none

fix: cannot be invoked without new
  tsconfig.json
Due: none

feat: fix setSize
  packages/x6-plugin-history/src/index.ts
Due: x6

fix: transform
  packages/x6-plugin-transform/src/transform.ts
Due: x6

fix: add get hisotry undo stack remain size
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Due: x6

fix: transform active-handle class should remove when active removed (#3298)
  packages/x6-plugin-transform/src/transform.ts
Due: x6

fix: add textLength & lengthAdjust to CASE_SENSITIVE_ATTR (#3281)
  packages/x6-common/src/dom/attr.ts
Due: x6, x6-common

docs: set version list to 2.x and 1.x
  sites/x6-sites/.dumirc.ts
Due: none

docs: set version list to 2.x and 1.x (#3301)
  sites/x6-sites/.dumirc.ts
Due: none

docs: optimize examples style for doc
  package.json
  sites/x6-sites/package.json
  sites/x6-sites/src/tutorial/basic/graph/auto-resize/index.less
  sites/x6-sites/src/tutorial/basic/graph/auto-resize/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/background-grid/index.less
  sites/x6-sites/src/tutorial/basic/graph/background-grid/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.less
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/transform/index.less
  sites/x6-sites/src/tutorial/basic/graph/transform/index.tsx
  sites/x6-sites/src/tutorial/getting-started/helloworld/index.less
  sites/x6-sites/src/tutorial/getting-started/helloworld/index.tsx
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.less
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.tsx
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.less
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.tsx
Due: none

docs: optimize examples style for doc (#3306)
  package.json
  sites/x6-sites/package.json
  sites/x6-sites/src/tutorial/basic/graph/auto-resize/index.less
  sites/x6-sites/src/tutorial/basic/graph/auto-resize/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/background-grid/index.less
  sites/x6-sites/src/tutorial/basic/graph/background-grid/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.less
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/transform/index.less
  sites/x6-sites/src/tutorial/basic/graph/transform/index.tsx
  sites/x6-sites/src/tutorial/getting-started/helloworld/index.less
  sites/x6-sites/src/tutorial/getting-started/helloworld/index.tsx
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.less
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.tsx
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.less
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.tsx
Due: none

feat: add view:mounted and view:unmounted event
  packages/x6/src/graph/events.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: cannot be invoked without new (#3296)
  tsconfig.json
Due: none

feat: add view:mounted and view:unmounted event (#3307)
  packages/x6/src/graph/events.ts
  packages/x6/src/renderer/scheduler.ts
Due: x6

fix: fix editor-tool for edge
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: fix editor-tool for edge (#3308)
  packages/x6/src/registry/tool/editor.ts
Due: x6

fix: 修复无法在 shape 内部安装依赖的问题
  packages/x6-angular-shape/package.json
  pnpm-lock.yaml
Due: x6

feat: support angular shape for 2.x (#3278)
  packages/x6-angular-shape/LICENSE
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  pnpm-lock.yaml
  sites/x6-sites/docs/tutorial/intermediate/angular.md
  sites/x6-sites/docs/tutorial/intermediate/html.md
Due: x6

chore: update license
  packages/x6-angular-shape/LICENSE
  packages/x6-common/LICENSE
  packages/x6-geometry/LICENSE
  packages/x6-plugin-clipboard/LICENSE
  packages/x6-plugin-dnd/LICENSE
  packages/x6-plugin-export/LICENSE
  packages/x6-plugin-history/LICENSE
  packages/x6-plugin-keyboard/LICENSE
  packages/x6-plugin-minimap/LICENSE
  packages/x6-plugin-scroller/LICENSE
  packages/x6-plugin-selection/LICENSE
  packages/x6-plugin-snapline/LICENSE
  packages/x6-plugin-stencil/LICENSE
  packages/x6-plugin-transform/LICENSE
  packages/x6-react-components/LICENSE
  packages/x6-react-shape/LICENSE
  packages/x6-vue-shape/LICENSE
  packages/x6/LICENSE
  pnpm-lock.yaml
Due: x6, x6-common, x6-geometry

chore: update license (#3309)
  packages/x6-angular-shape/LICENSE
  packages/x6-common/LICENSE
  packages/x6-geometry/LICENSE
  packages/x6-plugin-clipboard/LICENSE
  packages/x6-plugin-dnd/LICENSE
  packages/x6-plugin-export/LICENSE
  packages/x6-plugin-history/LICENSE
  packages/x6-plugin-keyboard/LICENSE
  packages/x6-plugin-minimap/LICENSE
  packages/x6-plugin-scroller/LICENSE
  packages/x6-plugin-selection/LICENSE
  packages/x6-plugin-snapline/LICENSE
  packages/x6-plugin-stencil/LICENSE
  packages/x6-plugin-transform/LICENSE
  packages/x6-react-components/LICENSE
  packages/x6-react-shape/LICENSE
  packages/x6-vue-shape/LICENSE
  packages/x6/LICENSE
  pnpm-lock.yaml
Due: x6, x6-common, x6-geometry

Path conditions:
  x6: any of: packages/x6
  x6-common: any of: packages/x6-common
  x6-geometry: any of: packages/x6-geometry
  x6-vector: any of: packages/x6-vector
