Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.2.0 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

chore(release): @antv/x6-vector@1.2.4 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.1 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/stylelint-config@1.0.1 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.2 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6-vector@1.2.4 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

docs: 📚️ update tooltip demo
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

chore(release): @antv/x6-geometry@1.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

docs: :memo: update custom-dege
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Due: none

docs: :memo: update custom-dege (#1546)
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Due: none

fix: import css replace less
  packages/x6-react-components/src/color-picker/index.tsx
  packages/x6-react-components/src/toolbar/item.tsx
Due: x6

fix: import css replace less (#1548)
  packages/x6-react-components/src/color-picker/index.tsx
  packages/x6-react-components/src/toolbar/item.tsx
Due: x6

Notes added by 'git notes add'
  ed/a7fc332542ece2a15f9970699d85a35262c35f
Due: none

Notes added by 'git notes add'
  96/b23d07ee8b6da7982117a1c900593a8ab31278
Due: none

Notes added by 'git notes add'
  a2/461735c5a26cc73ef654536191fe4a334b7b47
Due: none

Notes added by 'git notes add'
  04/a5faabfe3aa05d0672eba28354552c264ad076
Due: none

chore(release): @antv/x6-geometry@1.0.11 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  62/445e8b889858a666ca31e1230c169bfa3f9835
Due: none

chore(release): @antv/x6-react-components@1.1.15 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  6c/ae6b56bf2ccfe7ed856f36915b7eee1a06dad2
Due: none

docs: 📚️ add animation demo
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/case/mind.tsx
  sites/x6-sites/examples/animation/smil/demo/animateAlongPath.ts
  sites/x6-sites/examples/animation/smil/demo/meta.json
  sites/x6-sites/examples/animation/smil/index.en.md
  sites/x6-sites/examples/animation/smil/index.zh.md
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  sites/x6-sites/examples/graph/interaction/demo/meta.json
  sites/x6-sites/examples/graph/interaction/demo/zoom-background-image.ts
  sites/x6-sites/examples/graph/interaction/index.en.md
  sites/x6-sites/examples/graph/interaction/index.zh.md
  sites/x6-sites/examples/interaction/edge/demo/create.tsx
  sites/x6-sites/examples/interaction/edge/demo/meta.json
  sites/x6-sites/examples/interaction/edge/demo/meta.ts
  sites/x6-sites/examples/interaction/edge/demo/selection.ts
  sites/x6-sites/examples/interaction/edge/index.en.md
  sites/x6-sites/examples/interaction/edge/index.zh.md
  sites/x6-sites/examples/interaction/port/demo/meta.json
  sites/x6-sites/examples/interaction/port/demo/visible.ts
  sites/x6-sites/examples/interaction/port/index.en.md
  sites/x6-sites/examples/interaction/port/index.zh.md
  sites/x6-sites/examples/node/tool/demo/editable.ts
  sites/x6-sites/examples/node/tool/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/gatsby-config.js
Due: none

docs: 📚️ add animation demo (#1551)
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/case/mind.tsx
  sites/x6-sites/examples/animation/smil/demo/animateAlongPath.ts
  sites/x6-sites/examples/animation/smil/demo/meta.json
  sites/x6-sites/examples/animation/smil/index.en.md
  sites/x6-sites/examples/animation/smil/index.zh.md
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  sites/x6-sites/examples/graph/interaction/demo/meta.json
  sites/x6-sites/examples/graph/interaction/demo/zoom-background-image.ts
  sites/x6-sites/examples/graph/interaction/index.en.md
  sites/x6-sites/examples/graph/interaction/index.zh.md
  sites/x6-sites/examples/interaction/edge/demo/create.tsx
  sites/x6-sites/examples/interaction/edge/demo/meta.json
  sites/x6-sites/examples/interaction/edge/demo/meta.ts
  sites/x6-sites/examples/interaction/edge/demo/selection.ts
  sites/x6-sites/examples/interaction/edge/index.en.md
  sites/x6-sites/examples/interaction/edge/index.zh.md
  sites/x6-sites/examples/interaction/port/demo/meta.json
  sites/x6-sites/examples/interaction/port/demo/visible.ts
  sites/x6-sites/examples/interaction/port/index.en.md
  sites/x6-sites/examples/interaction/port/index.zh.md
  sites/x6-sites/examples/node/tool/demo/editable.ts
  sites/x6-sites/examples/node/tool/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/gatsby-config.js
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
