Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

.codecov.yml:

# Setting coverage targets per flag
coverage:
  round: down
  range: 60..95
  precision: 2
  status:
    patch: off
    project:
      default: off
      x6:
        threshold: 1%
        flags:
          - x6
      x6-vector:
        threshold: 1%
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-vector
      x6-geometry:
        threshold: 1%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: false

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

Notes added by 'git notes add'
  38/acc5a1ea95077985742f1e83147572fba3b5c4
Due: none

Notes added by 'git notes add'
  82/42f9246c9f3168ab5dfc4253166fc33bca4a5f
Due: none

chore: make master as prerelease branch
  .releaserc
Due: none

chore: release beta
  examples/x6-example-features/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6, x6-geometry

chore: add branches rule
  .releaserc
Due: none

fix: error -> ETXTBSY: text file is busy
  scripts/x6-build-tools/bin/rss.js
Due: none

feat: adjust event source and package deps
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-history/package.json
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-minimap/src/index.ts
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-transform/package.json
  packages/x6-plugin-transform/src/index.ts
  packages/x6-plugin-transform/src/transform.ts
  packages/x6-plugin-transform/src/util.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/node.ts
  packages/x6/src/view/node.ts
Due: x6

chore(release): 1.0.1-beta.1 [skip ci]
  scripts/x6-build-tools/CHANGELOG.md
  scripts/x6-build-tools/package.json
Due: none

Notes added by 'git notes add'
  d3/5dce75507afaa839f561f4f0ff918dcb4a1ed9
Due: none

chore(release): 1.31.0-beta.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

chore: turbo caching
  .github/workflows/ci.yml
Due: none

chore: ignore .turbo
  .gitignore
Due: none

chore: turbo pipeline
  turbo.json
Due: none

fix: unique cmd file name
  scripts/x6-build-tools/bin/rss.js
  scripts/x6-build-tools/lib/scripts.json
Due: none

feat: support turbo
  package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-components/rollup.config.js
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/scripts/style.js
  pnpm-lock.yaml
Due: x6, x6-geometry

chore: update version
  package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

chore(release): 1.0.1-beta.2 [skip ci]
  scripts/x6-build-tools/CHANGELOG.md
  scripts/x6-build-tools/package.json
Due: none

Notes added by 'git notes add'
  27/10f2920402afc2a02b8e627e5e4f1918b188d6
Due: none

chore(release): 2.0.0-beta.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  d7/bd568f83787cf008a85c926feac0a5057db738
Due: none

chore: ignore test/coverage
  .gitignore
Due: none

chore: cache test/coverage
  turbo.json
Due: none

chore: update version
  packages/x6-plugin-clipboard/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

chore(release): 2.0.0-beta.1 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  74/7374aedc759dca6900864106de5d2e8076e68b
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  e5/444aeb79b99105886cfa57345167eded37a286
Due: none

chore: update deps
  packages/x6-plugin-history/package.json
  packages/x6/package.json
Due: x6

feat: force release 2.0-beta
  examples/x6-example-features/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  pnpm-lock.yaml
Due: x6

chore: disable debug
  .github/workflows/ci.yml
Due: none

fix: cache auto generated style file
  turbo.json
Due: none

chore(release): 2.0.6-beta.1 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  2f/a7b6dd102b20187cd5cc15e52ab78793d6b7f1
Due: none

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  e5/02ca2515984a723bff27e1fef8956b9d5b3bb0
Due: none

chore: ignore private packages
  .github/workflows/ci.yml
  packages/x6-plugin-history/package.json
  packages/x6-react-components/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Due: x6

chore(release): 2.0.6-beta.2 [skip ci]
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-history/package.json
Due: x6

Notes added by 'git notes add'
  ab/c29b5e0311ab1930fb852482e29352398834ce
Due: none

chore(release): 2.0.6-beta.3 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
Due: x6

Notes added by 'git notes add'
  9c/1989ad6fc89b11927976b410e3207bf49f9e23
Due: none
