Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

# Setting coverage targets per flag
coverage:
  range: 60..95
  round: down
  precision: 2
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-vector@1.0.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

test: ✅ add test specs
  packages/x6-vector/src/global/global.test.ts
  packages/x6-vector/src/global/global.ts
  packages/x6-vector/src/global/index.ts
  packages/x6-vector/src/struct/point.test.ts
  packages/x6-vector/src/struct/point.ts
  packages/x6-vector/src/struct/svg-array.test.ts
  packages/x6-vector/src/struct/svg-array.ts
  packages/x6-vector/src/struct/svg-number.test.ts
  packages/x6-vector/src/struct/svg-number.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

build: 📦️ config external modules manually
  packages/x6-react-components/rollup.config.js
  packages/x6-react-shape/rollup.config.js
  packages/x6-react/rollup.config.js
  packages/x6-vue-shape/rollup.config.js
Due: x6

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Update interacting.zh.md
  sites/x6-sites/docs/tutorial/intermediate/interacting.zh.md
Due: none

fix: 🐛 update yarn.lock file
  packages/x6-react-components/rollup.config.js
  yarn.lock
Due: x6

chore(release): @antv/x6-react@1.1.5 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

fix: 🐛 revert yarn.lock tmp
  yarn.lock
Due: none

build: 📦️ add missing global variable name
  packages/x6-vue-shape/rollup.config.js
Due: x6

test: ✅ config codecov
  codecov.yml
Due: none

chore(release): @antv/x6-vue-shape@1.2.2 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-react-components@1.1.3 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

build: 📦️ build packages for dev after bootstrap
  package.json
  scripts/build-dev
Due: none

fix: 🐛 update .lock file
  packages/x6-react-components/rollup.config.js
  packages/x6-react-components/src/dropdown/index.tsx
  yarn.lock
Due: x6

chore(release): @antv/x6-react-shape@1.3.3 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

ci: 👷 update cache as needed
  .github/workflows/cache.yaml
Due: none

ci: 👷 fix typos
  .github/workflows/ci.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/release.yml
Due: none

chore(release): @antv/x6-geometry@1.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

chore(release): @antv/x6-react-components@1.1.4 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Create wip.yml
  .github/workflows/wip.yml
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none
