Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

fix: segments & vertices tool add onChanged callback (#1348)
  packages/x6/src/registry/tool/segments.ts
  packages/x6/src/registry/tool/vertices.ts
Due: x6

fix: 🐛 check wip status
  src/wip/status.ts
Due: none

docs: 📚️ update edge tooltip dmeo
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

docs: 📚️ update edge tooltip dmeo (#1364)
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Due: none

chore(release): @antv/x6@1.26.3 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  62/fb71b193a000404838eb478cf44318c845db84
Due: none

chore(release): @antv/eslint-config@1.0.1 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1e/7d5e1eec5edfb5c1e1b01967ed83800602ae43
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1a/28c30f7524f35e0b517fc2243cdaad4a51be51
Due: none

chore(release): @antv/stylelint-config@1.0.1 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b2/602b366c56d2c3cdb377782c5f304adbf8b2b8
Due: none

chore(release): @antv/x6-angular-shape@1.1.1 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  3a/f5f25a67853ddba584f8f47b87bca8259010fb
Due: none

chore(release): @antv/x6-geometry@1.0.9 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

Notes added by 'git notes add'
  56/0c8fef968c3298fd4e0898a86456a590654eee
Due: none

chore(release): @antv/x6-react-shape@1.5.0 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  bb/481263f3491cc4b035ae70c36290d7eec6d998
Due: none

chore(release): @antv/x6-vector@1.2.3 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

Notes added by 'git notes add'
  d5/096c17eb6b2a664bf3d209aac59ae00405973a
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  3d/0385adbaae25c5a17dc5336faa77dc7c47e4de
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  67/5e7047d20ac12b6eaff44941f79e88eed24d83
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

Notes added by 'git notes add'
  2c/73fdf4a417b7b9b267f742caaad51d3b401e93
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
