Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore: 🛠️ add "test:debug", "test:watch" scripts
  packages/x6-vector/package.json
Due: x6, x6-vector

ci: 👷 upload test coverage report to codecov
  .github/workflows/ci.yml
Due: none

build: 📦️ add react 17.x to peerDependencies
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-react-shape@1.3.4 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-react-components@1.1.6 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

test: ✅ add specs and fix tests errors
  packages/x6-vector/src/element/base.ts
  packages/x6-vector/src/element/container/container-geometry.ts
  packages/x6-vector/src/element/container/container-mixins.ts
  packages/x6-vector/src/element/container/defs-mixins.ts
  packages/x6-vector/src/element/container/gradient-stop.ts
  packages/x6-vector/src/element/container/gradient.ts
  packages/x6-vector/src/element/container/marker.ts
  packages/x6-vector/src/element/dom/primer.ts
  packages/x6-vector/src/element/element-mixins.ts
  packages/x6-vector/src/element/element.ts
  packages/x6-vector/src/element/shape/circle.ts
  packages/x6-vector/src/element/shape/ellipse.ts
  packages/x6-vector/src/element/shape/line-mixins.ts
  packages/x6-vector/src/element/shape/path-mixins.ts
  packages/x6-vector/src/element/shape/poly-mixins.ts
  packages/x6-vector/src/element/shape/text-base.ts
  packages/x6-vector/src/element/shape/text-mixins.ts
  packages/x6-vector/src/element/shape/text.ts
  packages/x6-vector/src/element/util.ts
  packages/x6-vector/src/struct/box.test.ts
  packages/x6-vector/src/struct/color-util.ts
  packages/x6-vector/src/struct/color.test.ts
  packages/x6-vector/src/struct/color.ts
  packages/x6-vector/src/struct/matrix.test.ts
  packages/x6-vector/src/struct/matrix.ts
  packages/x6-vector/src/struct/number-array.test.ts
  packages/x6-vector/src/struct/number-array.ts
  packages/x6-vector/src/struct/path-array.test.ts
  packages/x6-vector/src/struct/path-array.ts
  packages/x6-vector/src/struct/point-array.test.ts
  packages/x6-vector/src/struct/point-array.ts
  packages/x6-vector/src/struct/svg-array.ts
  packages/x6-vector/src/struct/tarray.ts
  packages/x6-vector/src/struct/unumber.test.ts
  packages/x6-vector/src/struct/unumber.ts
  packages/x6-vector/src/util/obj.ts
Due: x6, x6-vector

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-vector@1.0.2 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-react@1.1.6 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6-vue-shape@1.2.3 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

ci: 👷 upload coverage file with flag
  .github/workflows/ci.yml
Due: none

chore(release): @antv/x6-react-components@1.1.8 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/x6-vector@1.0.2 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

ci: 👷 add icon for action
  .github/workflows/report-monthly.yml
  .github/workflows/report-weekly.yml
Due: none

chore(release): @antv/x6-geometry@1.0.2 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-react-shape@1.3.5 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore: 🛠️ bump husky from 5.2.0 to 6.0.0
  package.json
Due: none

ci: 👷 fix path of coverage files
  .github/workflows/ci.yml
Due: none

chore: 🛠️ update deps
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/jest.json
  configs/package-json/karma.json
  configs/package-json/package.json
  configs/package-json/react.json
  configs/package-json/rollup.json
  configs/package-json/vue.json
  configs/stylelint-config/package.json
  packages/x6-geometry/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
