Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): 🚀 @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): 🚀 @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

fix: 🐛 fix package name
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): 🚀 @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): 🚀 @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): 🚀 @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): 🚀 @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): 🚀 @antv/x6@1.17.5 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): 🚀 @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): 🚀 x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): 🚀 @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): 🚀 @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

feat: ✨ sharing stylelint configurations
  .stylelintrc
  configs/stylelint-config/package.json
  configs/stylelint-config/src/index.ts
  configs/stylelint-config/tsconfig.json
Due: none

chore: 🛠️ add overrides
  .prettierrc
Due: none

build: 📦️ generate version file
  scripts/version.js
Due: none

feat: ✨ update vue deps
  configs/package-json/vue.json
  configs/package-json/vue2.json
  configs/package-json/vue3.json
Due: none

chore: 🛠️ move husky config
  configs/husky-config/.gitignore
  configs/husky-config/commit-msg
  configs/husky-config/pre-commit
  configs/husky-config/prepare-commit-msg
  configs/husky-config/prepush
Due: none

chore: 🛠️ remove unused deps
  configs/eslint-config/package.json
  configs/stylelint-config/package.json
Due: none

feat: ✨ sharing partial(devDependencies, peerDependencies, dependencies, scripts) package.json
  configs/package-json/antd.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/react.json
  configs/package-json/rollup.json
  configs/package-json/vue2.json
  configs/package-json/vue3.json
  scripts/pkg-inherit.js
Due: none

chore: 🛠️ add common action for husky
  configs/husky-config/commit-msg
  configs/husky-config/common.sh
  configs/husky-config/pre-commit
  configs/husky-config/prepare-commit-msg
  configs/husky-config/prepush
Due: none

chore: 🛠️ sharing karma configurations
  configs/karma-config.js
  configs/package-json/karma.json
  packages/x6/karma.conf.js
  packages/x6/package.json
Due: x6

chore: 🛠️ do not ignore json files
  .prettierignore
Due: none

refactor: ♻️ more readable pre-commit commands
  configs/husky-config/common.sh
  configs/husky-config/pre-commit
  package.json
Due: none

chore: 🛠️ inherits package.json
  configs/eslint-config/package.json
Due: none

refactor: ♻️ auto formatted by eslint
  packages/x6/src/graph/css.ts
Due: x6

chore: 🛠️ update deps
  packages/x6-react-components/package.json
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6

build: 📦️ sharing rollup configurations
  configs/rollup-config.js
  packages/x6-react-components/rollup.config.js
  packages/x6-react-shape/rollup.config.js
  packages/x6-react/rollup.config.js
  packages/x6-vue-shape/rollup.config.js
  packages/x6/rollup.config.js
Due: x6

docs: 📚️ update code style guide
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Due: none

chore: 🛠️ use eslint-config-umi
  examples/x6-app-dag/.eslintrc
  examples/x6-app-er/.eslintrc
Due: none

fix: 🐛 missing global variable names
  packages/x6-vue-shape/rollup.config.js
Due: x6

fix: 🐛 type errors
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/view.ts
Due: x6

chore: 🛠️ update eslint configuration
  configs/eslint-config/src/index.ts
  configs/package-json/eslint.json
  configs/package-json/package.json
  configs/stylelint-config/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vue-shape/package.json
  sites/x6-sites-demos-helper/package.json
Due: x6, x6-vector

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
