Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

fix: 🐛 fix type definitions
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
Due: x6

chore(release): @antv/x6-vue-shape@1.2.8 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.5 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-react-shape@1.4.5 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

fix: 🐛 revert add unmont method (#1125)
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/view.ts
Due: x6

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.5 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

fix: 🐛 auto scroll graph when drag magnet (#1121)
  packages/x6/src/graph/panning.ts
  packages/x6/src/view/node.ts
Due: x6

chore: rename codecov.yml to .codecov.yml
  .codecov.yml
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6@1.24.2 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.2 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore: do not carryforward flags
  .codecov.yml
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.2 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6@1.24.4 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

chore: disable status check for patch
  .codecov.yml
Due: none

chore(release): @antv/x6-angualr-shape@1.0.0 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
Due: x6

docs: 📚️ update version of sites template (#1137)
  packages/x6-geometry/README.md
  packages/x6-vector/README.md
  sites/x6-sites/gatsby-config.js
  sites/x6-sites/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
