Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-geometry@1.0.5 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore: disable verbose log
  .github/workflows/ci.yml
Due: none

fix: 🐛 typos
  packages/x6-vector/src/vector/gradient/linear.test.ts
  packages/x6-vector/src/vector/gradient/radial.test.ts
  packages/x6-vector/src/vector/marker/marker.test.ts
Due: x6, x6-vector

fix: 🐛 translateSelectionNodes is only triggered manually
  packages/x6/src/addon/selection/index.ts
Due: x6

chore(release): @antv/x6-app-draw@1.1.5 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore: 🛠️ config target coverage for x6-vector
  codecov.yml
Due: none

fix: 🐛 not clean selection when mousedown
  packages/x6/src/graph/selection.ts
Due: x6

chore(release): @antv/x6@1.23.9 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

test: ✅ add spec for `Filter`
  packages/x6-vector/src/vector/filter/filter.test.ts
Due: x6, x6-vector

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-vector@1.1.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

chore(release): @antv/x6@1.23.8 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

fix: 🐛 specify return type
  packages/x6/src/model/cell.ts
Due: x6

refactor: ♻️ remove unused variables
  examples/x6-app-dag/src/pages/common/graph-common/connector/index.ts
  examples/x6-example-features/src/pages/edge/index.tsx
  examples/x6-example-features/src/pages/measurement/distance.tsx
  examples/x6-example-features/src/pages/react/input.tsx
  examples/x6-example-features/src/pages/react/port.tsx
  examples/x6-example-features/src/pages/shape/flowchart/shapes/terminator.ts
  sites/x6-sites/examples/node/tool/demo/button-remove.ts
  sites/x6-sites/examples/showcase/faq/demo/flex-image.ts
  sites/x6-svg-to-shape/src/pages/components/content.tsx
  sites/x6-svg-to-shape/src/pages/components/svgo.js
Due: none

fix: update dependencies and fix type errors (#1103)
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/karma.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  examples/x6-example-features/src/pages/path/drawer/drawer.less
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/drawer/index.tsx
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vector/src/vector/tspan/tspan.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/addon/index.ts
  packages/x6/src/addon/path/index.less
  packages/x6/src/addon/path/index.ts
  packages/x6/src/index.less
  packages/x6/src/model/cell.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/types/csstype.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6-vector@1.1.2 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

fix: 🐛 fix the embedded triggered source
  packages/x6/src/view/node.ts
Due: x6

fix: 🐛 fix node:move event triggered source
  packages/x6/src/view/node.ts
Due: x6

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

style: 🎨 auto fixed by eslint
  packages/x6/src/addon/selection/index.ts
Due: x6

fix: 🐛 optimize cell remove method
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.tsx
  packages/x6/src/model/cell.ts
Due: x6

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
