Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-vector@1.1.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

test: ✅ add test spec for timing functions
  packages/x6-vector/src/animating/scheduler/timing.test.ts
  packages/x6-vector/src/global/mock-raf.ts
Due: x6, x6-vector

chore(release): @antv/x6-react-components@1.1.11 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/x6-geometry@1.0.4 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

fix: 🐛 fix apply mixins
  packages/x6-vector/src/animating/scheduler/timeline-ext.ts
  packages/x6-vector/src/animation/mixins.ts
  packages/x6-vector/src/animation/vector/container-geometry.ts
  packages/x6-vector/src/vector/a/a.ts
  packages/x6-vector/src/vector/container/geometry.ts
  packages/x6-vector/src/vector/container/mixins.ts
  packages/x6-vector/src/vector/defs/mixins.ts
  packages/x6-vector/src/vector/g/g.ts
  packages/x6-vector/src/vector/line/mixins.ts
  packages/x6-vector/src/vector/path/mixins.ts
  packages/x6-vector/src/vector/poly/mixins.ts
  packages/x6-vector/src/vector/text/mixins.ts
  packages/x6-vector/src/vector/vector/mixins.ts
Due: x6, x6-vector

test: ✅ add test specs for `attr()` and fix test errors
  packages/x6-vector/src/dom/attributes/attributes.test.ts
  packages/x6-vector/src/dom/attributes/attributes.ts
  packages/x6-vector/src/dom/attributes/core.ts
  packages/x6-vector/src/dom/attributes/hook.ts
  packages/x6-vector/src/dom/attributes/special.ts
  packages/x6-vector/src/dom/attributes/util.ts
  packages/x6-vector/src/dom/primer/classname.test.ts
  packages/x6-vector/src/dom/style/style.test.ts
  packages/x6-vector/src/util/string.ts
Due: x6, x6-vector

refactor: ♻️ refactor vector add add test specs
  packages/x6-vector/src/dom/attributes/attributes.test.ts
  packages/x6-vector/src/dom/attributes/base.ts
  packages/x6-vector/src/dom/attributes/core.ts
  packages/x6-vector/src/dom/attributes/hook.ts
  packages/x6-vector/src/dom/dom.test.ts
  packages/x6-vector/src/dom/dom.ts
  packages/x6-vector/src/dom/primer/affix.test.ts
  packages/x6-vector/src/dom/transform/transform.test.ts
  packages/x6-vector/src/dom/transform/transform.ts
  packages/x6-vector/src/struct/box.test.ts
  packages/x6-vector/src/struct/box.ts
  packages/x6-vector/src/struct/matrix.ts
  packages/x6-vector/src/vector/text/exts.ts
  packages/x6-vector/src/vector/text/overrides.ts
  packages/x6-vector/src/vector/text/text.ts
  packages/x6-vector/src/vector/textpath/exts.ts
  packages/x6-vector/src/vector/tspan/exts.ts
  packages/x6-vector/src/vector/tspan/tspan.ts
  packages/x6-vector/src/vector/vector/bbox.test.ts
  packages/x6-vector/src/vector/vector/bbox.ts
  packages/x6-vector/src/vector/vector/fillstroke.test.ts
  packages/x6-vector/src/vector/vector/fillstroke.ts
  packages/x6-vector/src/vector/vector/font.test.ts
  packages/x6-vector/src/vector/vector/font.ts
  packages/x6-vector/src/vector/vector/mixins.ts
  packages/x6-vector/src/vector/vector/overrides.ts
  packages/x6-vector/src/vector/vector/transform.test.ts
  packages/x6-vector/src/vector/vector/transform.ts
  packages/x6-vector/src/vector/vector/vector.test.ts
  packages/x6-vector/src/vector/vector/vector.ts
Due: x6, x6-vector

test: ✅ add test specs and fix test errors
  packages/x6-vector/src/dom/primer/affix.test.ts
  packages/x6-vector/src/dom/primer/affix.ts
  packages/x6-vector/src/dom/primer/classname.test.ts
Due: x6, x6-vector

fix: 🐛 should cache the instance and restore affix after inited
  packages/x6-vector/src/dom/primer/primer.ts
Due: x6, x6-vector

test: ✅ add test specs for Dom and refactor Fragment
  packages/x6-vector/src/dom/common/adopter.ts
  packages/x6-vector/src/dom/common/base.ts
  packages/x6-vector/src/dom/common/registry.ts
  packages/x6-vector/src/dom/dom.test.ts
  packages/x6-vector/src/dom/dom.ts
  packages/x6-vector/src/dom/fragment.ts
  packages/x6-vector/src/dom/index.ts
  packages/x6-vector/src/dom/primer/primer.ts
  packages/x6-vector/src/types/element.ts
  packages/x6-vector/src/types/lib.dom.ts
  packages/x6-vector/src/vector/common/base.ts
  packages/x6-vector/src/vector/fragment/fragment.test.ts
  packages/x6-vector/src/vector/fragment/fragment.ts
  packages/x6-vector/src/vector/fragment/mixins.ts
  packages/x6-vector/src/vector/index.ts
  packages/x6-vector/src/vector/svg/svg.ts
  packages/x6-vector/src/vector/text/text.ts
  packages/x6-vector/src/vector/tspan/tspan.ts
Due: x6, x6-vector

fix: 🐛 typos
  packages/x6-vector/src/dom/attributes/util.ts
Due: x6, x6-vector

refactor: ♻️ remove useless hooks and add test specs
  packages/x6-vector/src/dom/events/core.ts
  packages/x6-vector/src/dom/events/emitter.test.ts
  packages/x6-vector/src/dom/events/emitter.ts
  packages/x6-vector/src/dom/events/hook.ts
  packages/x6-vector/src/dom/events/listener.ts
  packages/x6-vector/src/dom/events/object.ts
  packages/x6-vector/src/dom/events/special.ts
  packages/x6-vector/src/dom/events/store.ts
  packages/x6-vector/src/dom/events/util.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-app-draw@1.1.5 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6@1.23.5 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore: 🛠️ update version of size-label-action
  .github/workflows/pr-label-patch-size.yml
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-vector@1.1.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

refactor: ♻️ scale background image with graph
  packages/x6/src/graph/background.ts
Due: x6

chore(release): @antv/x6-geometry@1.0.4 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6@1.23.6 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.1 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

fix: 🐛 fix background size when not defined, fixed #1070 (#1072)
  packages/x6/src/graph/background.ts
Due: x6
