Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

# Setting coverage targets per flag
coverage:
  range: 60..95
  round: down
  precision: 2
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

build: 📦️ fallback to root "src" dir when "global" dir not exists
  scripts/version.js
Due: none

feat: ✨ add lint rules for *.js files
  configs/eslint-config/package.json
  configs/eslint-config/src/index.ts
  yarn.lock
Due: none

ci: 👷 auto update cache
  .github/workflows/cache.yaml
Due: none

feat: ✨ add deps for jest
  configs/package-json/jest.json
Due: none

feat: ✨ support bitwise
  configs/eslint-config/src/index.ts
Due: none

ci: 👷 report test coverage to codecov
  .github/workflows/ci.yml
Due: none

chore: 🛠️ update deps
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/package-json/vue.json
  configs/stylelint-config/package.json
  package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector

build: 📦️ generate version file for public packages
  scripts/version.js
Due: none

feat: ✨ add package inherit, compare commands
  configs/package-json/bin/package-compare.js
  configs/package-json/bin/package-inherit.js
  configs/package-json/src/.eslintrc
  configs/package-json/src/compare/cli.ts
  configs/package-json/src/inherit/check.ts
  configs/package-json/src/inherit/cli.ts
  configs/package-json/src/inherit/collect.ts
  configs/package-json/src/inherit/index.ts
  configs/package-json/src/inherit/update.ts
  configs/package-json/tsconfig.json
  scripts/pkg-inherit.js
Due: none

feat: ✨ add geometry library
  packages/x6-geometry/README.md
  packages/x6-geometry/jest.config.js
  packages/x6-geometry/package.json
  packages/x6-geometry/rollup.config.js
  packages/x6-geometry/src/angle.ts
  packages/x6-geometry/src/curve.ts
  packages/x6-geometry/src/ellipse.test.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/index.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/curveto.ts
  packages/x6-geometry/src/path/index.ts
  packages/x6-geometry/src/path/lineto.ts
  packages/x6-geometry/src/path/moveto.ts
  packages/x6-geometry/src/path/normalize.test.ts
  packages/x6-geometry/src/path/normalize.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/path/util.ts
  packages/x6-geometry/src/point.test.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-geometry/src/rectangle.test.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/types.ts
  packages/x6-geometry/src/util.ts
  packages/x6-geometry/src/version.test.ts
  packages/x6-geometry/src/version.ts
  packages/x6-geometry/tsconfig.json
Due: x6, x6-geometry

ci: 👷 add test coverage
  .github/workflows/ci.yml
Due: none

chore: 🛠️ remove invalid message
  configs/husky-config/common.sh
Due: none

chore: 🛠️ ignore es/**, lib/**, dist/**
  .eslintignore
Due: none

fix: 🐛 should only read json files
  configs/package-json/src/compare/cli.ts
Due: none

fix: 🐛 fix karma can not process lodash-es
  configs/karma-config.js
  configs/package-json/karma.json
  configs/package-json/karma.md
  packages/x6-vector/karma.conf.js
  packages/x6-vector/package.json
  packages/x6/karma.conf.js
  packages/x6/package.json
Due: x6, x6-vector

feat: ✨ add "cobertura" coverage report
  configs/karma-config.js
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

feat: ✨ revert a lint fix commit
  packages/x6/src/util/dom/matrix.ts
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-react@1.1.4 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

do not run lint in "preinstall" script
  configs/package-json/package.json
Due: none

chore(release): @antv/x6-geometry@1.0.0 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-vector@1.0.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

chore(release): @antv/x6-vue-shape@1.2.1 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-react-components@1.1.2 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6@1.17.7 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none
