Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

fix: 🐛 x6-app-draw支持windows下ctrl组合快捷键
  examples/x6-app-draw/src/pages/components/ToolBar/index.tsx
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

chore(release): @antv/x6-geometry@1.0.1 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

docs: 📚️ add name specification for menuitem
  sites/x6-sites/docs/api/ui/menu.en.md
  sites/x6-sites/docs/api/ui/menu.zh.md
Due: none

docs: 📚️ add embed event
  sites/x6-sites/docs/tutorial/intermediate/events.en.md
  sites/x6-sites/docs/tutorial/intermediate/events.zh.md
Due: none

ci: 👷 add wip configuration
  .github/apps/wip.yml
  .github/workflows/wip.yml
Due: none

ci: 👷 add weekly and monthly report action
  .github/weekly-digest.yml
  .github/workflows/report-monthly.yml
  .github/workflows/report-weekly.yml
Due: none

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-vector@1.0.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-geometry@1.0.2 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

docs: 📚️ update badges
  packages/x6-geometry/src/version.ts
  packages/x6/README.md
Due: x6, x6-geometry

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-react-components@1.1.7 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

test: ✅ add test specs
  packages/x6-vector/src/struct/color.test.ts
  packages/x6-vector/src/struct/color.ts
  packages/x6-vector/src/types/index.test.ts
Due: x6, x6-vector

chore: 🛠️ bump react-resize-detector@6.6.4
  packages/x6-react-components/package.json
  yarn.lock
Due: x6

chore(release): @antv/x6@1.18.1 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore: 🛠️ do not add instrumentations for code coverage when --debug
  configs/karma-config.js
Due: none
