Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

fix: 🐛 fix running error of x6-example-demo (#1111)
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/drawer/index.tsx
Due: none

chore(release): @antv/x6-vector@1.2.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.5 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-vector@1.2.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

chore(release): @antv/x6-svg-to-shape@1.0.1 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

fix: 🐛 fix demo error in x6 sites (#1108)
  package.json
  packages/x6/src/style/.gitignore
  packages/x6/src/style/raw.ts
  yarn.lock
Due: x6

refactor: ♻️ add missing types
  packages/x6-vector/src/types/lib.dom.ts
  packages/x6-vector/src/vector/animate-motion/types.ts
  packages/x6-vector/src/vector/animate-transform/types.ts
  packages/x6-vector/src/vector/animate/types.ts
  packages/x6-vector/src/vector/container/container-mixins.ts
  packages/x6-vector/src/vector/index.ts
  packages/x6-vector/src/vector/switch/exts.ts
  packages/x6-vector/src/vector/switch/switch.test.ts
  packages/x6-vector/src/vector/switch/switch.ts
  packages/x6-vector/src/vector/types/attributes-core.ts
  packages/x6-vector/src/vector/types/attributes-map.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-draw@1.1.5 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.1 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.5 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-dag@1.1.5 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

fix: optimize flow chart demo (#1110)
  examples/x6-app-draw/.umirc.ts
  examples/x6-app-draw/src/global.css
  examples/x6-app-draw/src/pages/Graph/data.ts
  examples/x6-app-draw/src/pages/Graph/index.ts
  examples/x6-app-draw/src/pages/Graph/shape.ts
  examples/x6-app-draw/src/pages/components/ToolBar/index.tsx
  examples/x6-app-draw/src/pages/index.less
  examples/x6-app-draw/src/pages/index.tsx
  examples/x6-app-draw/src/reset.less
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6@1.23.12 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-vue-shape@1.2.7 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-app-er@1.1.6 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6@1.23.13 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-sites@1.2.2 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
