Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites@1.4.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  c6/38b91d49070949e638e16415988b3607338d55
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

Notes added by 'git notes add'
  14/dc9927888596a9cde26f0a94f76b0e9e642775
Due: none

fix: curve demo
  sites/x6-sites/examples/edge/connector/demo/curve.ts
Due: none

feat(react-shape): ✨ add throttle to size and position
  packages/x6-react-shape/src/wrap.ts
Due: x6

fix: curve demo (#1306)
  sites/x6-sites/examples/edge/connector/demo/curve.ts
Due: none

chore: 🛠️ update deps
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/jest.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  package.json
  packages/x6-angular-shape/package.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-components/src/util/dom/animationFrame.ts
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/style/raw.ts
  packages/x6/src/util/datauri/index.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore: 🛠️ update deps (#1336)
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/jest.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  package.json
  packages/x6-angular-shape/package.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-components/src/util/dom/animationFrame.ts
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/style/raw.ts
  packages/x6/src/util/datauri/index.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore(release): @antv/x6-vector@1.2.3 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Notes added by 'git notes add'
  54/2eefa0d53370ccf9fc74d52a944804ead73a7d
Due: none

chore(release): @antv/eslint-config@1.0.1 [skip ci]
  configs/eslint-config/CHANGELOG.md
  configs/eslint-config/package.json
Due: none

Notes added by 'git notes add'
  0d/060d4584130c2d2a79e3cf99640cdf739c9a1e
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a1/4ec0a1edce92435f0dce6e7682677a530237a6
Due: none

chore(release): @antv/stylelint-config@1.0.1 [skip ci]
  configs/stylelint-config/CHANGELOG.md
  configs/stylelint-config/package.json
Due: none

Notes added by 'git notes add'
  de/9d36320cc0c41f3d295c2116b84977c2ec962a
Due: none

chore(release): @antv/x6-angular-shape@1.1.1 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
Due: x6

Notes added by 'git notes add'
  6d/5f6d2d0ce2faf8e01ab1976236fa2c5ca6bcf2
Due: none

chore(release): @antv/x6-geometry@1.0.9 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  1c/b669dcdd87f3213ac6d2c134cae42925040f50
Due: none

chore(release): @antv/x6-react-components@1.1.14 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  d5/75a348aa5bda125c9cfd401160ee56dd0804f7
Due: none

chore(release): @antv/x6-react-shape@1.4.6 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  0b/1bda03be38b0d79c4031d01566c6569ff0d0a2
Due: none

chore(release): @antv/x6-react@1.1.10 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

Notes added by 'git notes add'
  5c/b467b98766e527447f69f0116f2a3341018cba
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
