Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

fix: 修复x6-react-component antd引入的问题
  packages/x6-react-components/src/color-picker/index.tsx
  packages/x6-react-components/src/toolbar/item.tsx
Due: x6

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

fix: 🐛 release x6-react-components 1.1.3
  packages/x6-react-components/src/dropdown/index.tsx
Due: x6

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-vector@1.0.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

docs: 📚️ update badges
  README.md
  packages/x6-geometry/README.md
  packages/x6-vector/README.md
  packages/x6-vector/package.json
Due: x6, x6-vector, x6-geometry

docs: 📚️ update log
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
Due: none

ci: 👷 update job names
  .github/workflows/auto-close-fixed-issues.yml
  .github/workflows/auto-comment.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/label-commands.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/pr-label-branch-name.yml
  .github/workflows/pr-label-file-paths.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/slash-commands.yml
  .github/workflows/sync-labels.yml
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Update custom-node.zh.md
  sites/x6-sites/docs/tutorial/intermediate/custom-node.zh.md
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

chore(release): @antv/x6-react-components@1.1.5 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

ci: 👷 more readable job names
  .github/workflows/authors.yml
  .github/workflows/auto-close-fixed-issues.yml
  .github/workflows/auto-comment.yml
  .github/workflows/contributors.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/issue-label-assignee.yml
  .github/workflows/label-commands.yml
  .github/workflows/lock.yml
  .github/workflows/mirror.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/pr-label-branch-name.yml
  .github/workflows/pr-label-file-paths.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/welcome.yml
Due: none

chore(release): @antv/x6-geometry@1.0.1 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
