Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

fix: 🐛 fix type errors
  packages/x6/src/model/cell.ts
Due: x6

chore: 🛠️ update dependencies
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/karma.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
Due: none

fix: 🐛 fix lint errors
  examples/x6-example-features/src/pages/path/drawer/drawer.less
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/drawer/index.tsx
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vector/src/vector/tspan/tspan.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/addon/index.ts
  packages/x6/src/addon/path/index.less
  packages/x6/src/addon/path/index.ts
  packages/x6/src/index.less
  packages/x6/src/model/cell.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/types/csstype.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

chore: update cache key
  .github/workflows/ci.yml
Due: none

chore: disable cache
  .github/workflows/ci.yml
Due: none

chore: setup cache for CI
  .github/workflows/ci.yml
Due: none

fix: update dependencies and fix type errors (#1103)
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/karma.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  examples/x6-example-features/src/pages/path/drawer/drawer.less
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/drawer/index.tsx
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vector/src/vector/tspan/tspan.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/addon/index.ts
  packages/x6/src/addon/path/index.less
  packages/x6/src/addon/path/index.ts
  packages/x6/src/index.less
  packages/x6/src/model/cell.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/types/csstype.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

fix: 🐛 specify return type
  packages/x6/src/model/cell.ts
Due: x6

chore(release): @antv/x6-react@1.1.9 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

Notes added by 'git notes add'
  46/3a81a5626a3a8b3ab64b433840a524c83d9f11
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  fc/1bba391d8b832e06794d4584b7dab02bd5702a
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  66/7778eb736c497773731d14ef3fe7a6ca32d5ac
Due: none

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d8/d26ed9469bbd3e6ed9d30c92b7685e5046e94f
Due: none

chore(release): @antv/x6-geometry@1.0.6 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  34/70d883fdfc628174847ca1fa051c74c8e094a6
Due: none

chore(release): @antv/x6-react-components@1.1.13 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

Notes added by 'git notes add'
  40/02945502f6623977228bcb005dad09c45a06f2
Due: none

chore(release): @antv/x6-react-shape@1.4.3 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

Notes added by 'git notes add'
  b6/2cfe5b47c1aacd9ea1faf722020c2920737579
Due: none

chore(release): @antv/x6-vector@1.2.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
