Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

refactor: ♻️ array => toArray
  packages/x6-vector/src/element/container/clippath-ext.ts
  packages/x6-vector/src/element/shape/line.ts
  packages/x6-vector/src/element/shape/path.ts
  packages/x6-vector/src/element/shape/poly.ts
  packages/x6-vector/src/element/shape/text.ts
  packages/x6-vector/src/element/shape/textpath.ts
  packages/x6-vector/src/element/shape/tspan-ext.ts
  packages/x6-vector/src/element/shape/tspan.ts
  packages/x6-vector/src/struct/point-array.test.ts
  packages/x6-vector/src/struct/point-array.ts
Due: x6, x6-vector

refactor: ♻️ move transform to dom
  packages/x6-vector/src/element/dom/transform-util.ts
  packages/x6-vector/src/element/dom/transform.ts
Due: x6, x6-vector

chore(config): 🛠️ ⚙️ do not report "spec" on watch/debug mode
  configs/karma-config.js
Due: none

ci: 👷 auto update copyright year in license file
  .github/workflows/update-license.yml
Due: none

fix: 🐛 fix extends detection errors by override lib.dom.d.ts
  packages/x6-vector/src/types/lib.dom.ts
Due: x6, x6-vector

refactor: ♻️ refactor file/exports name
  packages/x6-vector/src/animating/animator/index.ts
  packages/x6-vector/src/animating/extension/index.ts
  packages/x6-vector/src/animating/morpher/morphable-unit-number.ts
  packages/x6-vector/src/animating/scheduler/timeline-ext.ts
  packages/x6-vector/src/element/base.ts
  packages/x6-vector/src/element/container/container-geometry.ts
  packages/x6-vector/src/element/container/container-mixins.ts
  packages/x6-vector/src/element/container/defs-mixins.ts
  packages/x6-vector/src/element/container/gradient-stop.ts
  packages/x6-vector/src/element/container/gradient.ts
  packages/x6-vector/src/element/container/marker.ts
  packages/x6-vector/src/element/element-mixins.ts
  packages/x6-vector/src/element/element.ts
  packages/x6-vector/src/element/shape/circle.ts
  packages/x6-vector/src/element/shape/ellipse.ts
  packages/x6-vector/src/element/shape/line-mixins.ts
  packages/x6-vector/src/element/shape/path-mixins.ts
  packages/x6-vector/src/element/shape/poly-mixins.ts
  packages/x6-vector/src/element/shape/text-base.ts
  packages/x6-vector/src/element/shape/text-mixins.ts
  packages/x6-vector/src/element/shape/text.ts
  packages/x6-vector/src/element/util.ts
  packages/x6-vector/src/struct/number-array.ts
  packages/x6-vector/src/struct/path-array.ts
  packages/x6-vector/src/struct/point-array.ts
  packages/x6-vector/src/struct/type-array.ts
  packages/x6-vector/src/struct/unit-number.test.ts
  packages/x6-vector/src/struct/unit-number.ts
  packages/x6-vector/src/types/index.ts
  packages/x6-vector/src/util/mixin.ts
  packages/x6-vector/src/util/obj.ts
Due: x6, x6-vector

build: 📦️ add "postinstall" and "prepare" scripts
  configs/eslint-config/package.json
  configs/package-json/package.json
  configs/stylelint-config/package.json
Due: none

build: 📦️ copy csstype
  packages/x6-vector/package.json
  packages/x6-vector/scripts/csstype.js
Due: x6, x6-vector

refactor: ♻️ move affixes to dom
  packages/x6-vector/src/element/dom/affix.ts
  packages/x6-vector/src/element/shape/text.ts
  packages/x6-vector/src/element/shape/tspan.ts
  packages/x6-vector/src/element/vector.ts
Due: x6, x6-vector

docs: 📚️ update license year
  LICENSE
Due: none

refactor: ♻️ refactor: Event => EventEmitter
  packages/x6-vector/src/element/dom/dom.ts
  packages/x6-vector/src/element/dom/event-core.ts
  packages/x6-vector/src/element/dom/event-emitter.ts
  packages/x6-vector/src/element/dom/event-special.ts
  packages/x6-vector/src/element/dom/listener.ts
Due: x6, x6-vector

fix: 🐛 do not overwrite constructor when apply mixins
  packages/x6-vector/src/util/mixin.ts
Due: x6, x6-vector

docs: 📚️ update badges
  README.en-us.md
  README.md
  packages/x6-geometry/README.md
  packages/x6-react-components/README.md
  packages/x6-vector/README.md
Due: x6, x6-vector, x6-geometry

fix: 🐛 fix types
  packages/x6-vector/src/element/container/container-geometry.ts
  packages/x6-vector/src/element/container/container-viewbox.ts
  packages/x6-vector/src/element/container/marker-ext.ts
Due: x6, x6-vector

refactor: ♻️ normalize size
  packages/x6-vector/src/element/container/container-geometry.ts
  packages/x6-vector/src/element/element.ts
  packages/x6-vector/src/element/shape/ellipse.ts
  packages/x6-vector/src/element/shape/line.ts
  packages/x6-vector/src/element/shape/path.ts
  packages/x6-vector/src/element/shape/poly.ts
  packages/x6-vector/src/element/util.ts
  packages/x6-vector/src/element/vector.ts
Due: x6, x6-vector

refactor: ♻️ type infer
  packages/x6-vector/src/element/adopter.ts
  packages/x6-vector/src/element/base.ts
  packages/x6-vector/src/element/decorator.ts
  packages/x6-vector/src/element/dom/dom.ts
  packages/x6-vector/src/element/dom/primer.ts
  packages/x6-vector/src/element/dom/transform.ts
  packages/x6-vector/src/element/element.ts
  packages/x6-vector/src/element/registry.ts
  packages/x6-vector/src/element/types.ts
Due: x6, x6-vector

build: 📦️ use es2020
  tsconfig.json
Due: none

ci: 👷 bump size-label-action to 0.4.2
  .github/workflows/pr-label-patch-size.yml
Due: none

docs: 📚️ update license badge
  packages/x6/README.md
Due: x6

feat: ✨ add util to test requestAnimationFrame
  packages/x6-vector/src/global/mock-raf.ts
Due: x6, x6-vector

refactor: ♻️ move transfrom methods from vector to dom
  packages/x6-vector/src/element/dom/dom.ts
  packages/x6-vector/src/element/dom/primer.ts
  packages/x6-vector/src/element/element.ts
  packages/x6-vector/src/global/global.ts
  packages/x6-vector/src/struct/box.ts
  packages/x6-vector/src/struct/color.ts
  packages/x6-vector/src/struct/matrix.ts
  packages/x6-vector/src/struct/tarray.ts
Due: x6, x6-vector

test: ✅ add test specs and fix test errors
  packages/x6-vector/src/struct/point-array.ts
  packages/x6-vector/src/struct/type-array.ts
  packages/x6-vector/src/vector/gradient/linear-exts.ts
  packages/x6-vector/src/vector/gradient/linear.test.ts
  packages/x6-vector/src/vector/gradient/linear.ts
  packages/x6-vector/src/vector/gradient/radial.test.ts
  packages/x6-vector/src/vector/image/image.test.ts
  packages/x6-vector/src/vector/image/image.ts
  packages/x6-vector/src/vector/line/line.test.ts
  packages/x6-vector/src/vector/line/line.ts
  packages/x6-vector/src/vector/mask/exts.test.ts
  packages/x6-vector/src/vector/mask/mask.test.ts
  packages/x6-vector/src/vector/pattern/pattern.test.ts
  packages/x6-vector/src/vector/pattern/pattern.ts
  packages/x6-vector/src/vector/symbol/symbol.test.ts
Due: x6, x6-vector

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

feat: ✨ auto detect vector type by tagName
  packages/x6-vector/src/dom/common/registry.ts
  packages/x6-vector/src/dom/primer/primer.test.ts
  packages/x6-vector/src/dom/primer/primer.ts
  packages/x6-vector/src/vector/vector/vector.ts
Due: x6, x6-vector

test: ✅ add test specs
  packages/x6-vector/src/types/element.ts
  packages/x6-vector/src/vector/a/a.test.ts
  packages/x6-vector/src/vector/a/exts.test.ts
  packages/x6-vector/src/vector/a/exts.ts
  packages/x6-vector/src/vector/circle/circle.test.ts
  packages/x6-vector/src/vector/clippath/clippath.test.ts
  packages/x6-vector/src/vector/clippath/clippath.ts
  packages/x6-vector/src/vector/clippath/exts.test.ts
  packages/x6-vector/src/vector/common/base.ts
  packages/x6-vector/src/vector/defs/defs.test.ts
  packages/x6-vector/src/vector/desc/desc.test.ts
  packages/x6-vector/src/vector/desc/desc.ts
  packages/x6-vector/src/vector/desc/exts.ts
  packages/x6-vector/src/vector/ellipse/ellipse.test.ts
  packages/x6-vector/src/vector/foreignobject/foreignobject.test.ts
  packages/x6-vector/src/vector/g/g.test.ts
  packages/x6-vector/src/vector/index.ts
  packages/x6-vector/src/vector/marker/exts.ts
  packages/x6-vector/src/vector/marker/marker.test.ts
  packages/x6-vector/src/vector/marker/marker.ts
  packages/x6-vector/src/vector/marker/types.ts
  packages/x6-vector/src/vector/rect/rect.test.ts
  packages/x6-vector/src/vector/title/exts.ts
  packages/x6-vector/src/vector/title/title.test.ts
  packages/x6-vector/src/vector/title/title.ts
  packages/x6-vector/src/vector/use/exts.ts
  packages/x6-vector/src/vector/use/use.test.ts
  packages/x6-vector/src/vector/use/use.ts
  packages/x6-vector/src/vector/vector/mixins.ts
  packages/x6-vector/src/vector/vector/vector.test.ts
Due: x6, x6-vector

chore(release): @antv/x6@1.23.4 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

fix: 🐛 fix cached data type for adopter
  packages/x6-vector/src/dom/common/adopter.ts
Due: x6, x6-vector

fix: 🐛 should trim the html or selector
  packages/x6-vector/src/dom/common/adopter.ts
Due: x6, x6-vector

test: ✅ add test specs and fix errors
  packages/x6-vector/src/animating/scheduler/mock-raf.ts
  packages/x6-vector/src/animating/scheduler/timing.test.ts
  packages/x6-vector/src/dom/primer/data.test.ts
  packages/x6-vector/src/dom/primer/data.ts
  packages/x6-vector/src/dom/primer/memory.test.ts
  packages/x6-vector/src/dom/primer/memory.ts
  packages/x6-vector/src/dom/primer/primer.test.ts
Due: x6, x6-vector

refactor: ♻️ use weakmap to store affixes
  packages/x6-vector/src/dom/primer/affix.ts
Due: x6, x6-vector

refactor: ♻️ remove unused env flags
  packages/x6-vector/src/global/env.ts
Due: x6, x6-vector

test: ✅ add test specs for `css()` method and fix test errors
  packages/x6-vector/src/dom/style/hook.ts
  packages/x6-vector/src/dom/style/style.test.ts
  packages/x6-vector/src/dom/style/style.ts
  packages/x6-vector/src/dom/style/util.ts
  packages/x6-vector/src/util/string.ts
Due: x6, x6-vector

chore: 🛠️ update karma config for watch and debug
  configs/karma-config.js
Due: none
