Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-app-dag@1.1.5 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6@1.23.7 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-react-components@1.1.12 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

fix: 🐛 check target file before read it
  packages/x6/scripts/style.js
Due: x6

chore: 🛠️ remove changelog
  configs/eslint-config/CHANGELOG.md
  configs/package-json/CHANGELOG.md
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-vue-shape@1.2.5 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-geometry@1.0.5 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore(release): @antv/x6-vector@1.1.1 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

refactor: ♻️ "error" => 2
  configs/eslint-config/src/index.ts
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6-react-shape@1.4.2 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-react@1.1.8 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

chore: 🛠️ update dependencies
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/jest.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  package.json
  packages/x6-geometry/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6/package.json
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

refactor: ♻️ simplify log of commits
  scripts/monorepo-semantic-release/src/commits.ts
Due: none

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore: 🛠️ config style of "endOfLine"
  .prettierrc
Due: none

chore: 🛠️ ignore auto generated file "raw.ts"
  packages/x6/src/style/.gitignore
  packages/x6/src/style/raw.ts
Due: x6

refactor: ♻️ move global style to "style" dir
  packages/x6/src/index.less
  packages/x6/src/style/index.less
Due: x6

chore(release): @antv/x6-svg-to-shape@1.0.1 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore: 🛠️ config coverage color range
  codecov.yml
Due: none

chore(release): @antv/x6-sites@1.2.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore: update codecov flags
  .github/workflows/ci.yml
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
