Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

coverage:
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        flags:
          - x6-geometry

flags:
  # filter the folder(s) you wish to measure by that flag
  x6:
    paths:
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

test: ✅ update test spec and fix test errors
  packages/x6-vector/src/vector/filter/filter.test.ts
  packages/x6-vector/src/vector/filter/filter.ts
Due: x6, x6-vector

chore: disable cache
  .github/workflows/ci.yml
Due: none

refactor: ♻️ refactor workflow file name and job name
  .github/workflows/ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/gitleaks.yml
  .github/workflows/pr-label-title-body.yml
  .github/workflows/preview.yml
  .github/workflows/sync-to-gitee.yml
  .github/workflows/update-authors.yml
  .github/workflows/update-cache.yaml
  .github/workflows/update-contributors.yml
  .github/workflows/update-license.yml
Due: none

chore: 🛠️ config SSH key for sync
  .github/workflows/sync-to-gitee.yml
Due: none

chore(release): @antv/x6-react@1.1.9 [skip ci]
  packages/x6-react/CHANGELOG.md
  packages/x6-react/package.json
Due: x6

chore: update cache key
  .github/workflows/ci.yml
Due: none

chore: setup cache for CI
  .github/workflows/ci.yml
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.0 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
  sites/x6-svg-to-shape/package.json
Due: none

chore(release): @antv/x6-app-draw@1.1.4 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

chore: hide some queries
  .lgtm.yml
Due: none

chore(release): @antv/x6-app-er@1.1.4 [skip ci]
  examples/x6-app-er/CHANGELOG.md
  examples/x6-app-er/package.json
Due: none

chore(release): @antv/x6-geometry@1.0.6 [skip ci]
  packages/x6-geometry/CHANGELOG.md
Due: x6, x6-geometry

chore(release): @antv/x6-sites-demos-helper@1.2.1 [skip ci]
  sites/x6-sites-demos-helper/CHANGELOG.md
Due: none

chore(release): @antv/eslint-config@1.0.0 [skip ci]
  configs/eslint-config/CHANGELOG.md
Due: none

chore(release): @antv/stylelint-config@1.0.0 [skip ci]
  configs/stylelint-config/CHANGELOG.md
Due: none

chore(release): @antv/x6@1.23.10 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

chore(release): @antv/x6-example-features@1.2.0 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

chore(release): @antv/x6-react-shape@1.4.3 [skip ci]
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-react-shape/package.json
Due: x6

chore(release): @antv/x6-sites-demos@1.1.3 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites-demos/package.json
Due: none

chore(release): @antv/x6-package-json@1.0.0 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

chore(release): @antv/x6-vue-shape@1.2.6 [skip ci]
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/package.json
Due: x6

chore(release): @antv/x6-react-components@1.1.13 [skip ci]
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-components/package.json
Due: x6

chore(release): @antv/x6-app-dag@1.1.4 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

fix: 🐛 alerts on lgtm.com (#1104)
  packages/x6-vector/src/dom/dom.ts
  packages/x6-vector/src/vector/circle/circle.ts
  packages/x6-vector/src/vector/fe-base/fe-base.test.ts
  packages/x6-vector/src/vector/fe-base/fe-base.ts
  packages/x6-vector/src/vector/fe-blend/exts.ts
  packages/x6-vector/src/vector/fe-blend/fe-blend.test.ts
  packages/x6-vector/src/vector/fe-blend/fe-blend.ts
  packages/x6-vector/src/vector/fe-color-matrix/exts.ts
  packages/x6-vector/src/vector/fe-color-matrix/fe-color-matrix.test.ts
  packages/x6-vector/src/vector/fe-color-matrix/fe-color-matrix.ts
  packages/x6-vector/src/vector/fe-component-transfer/exts.ts
  packages/x6-vector/src/vector/fe-component-transfer/fe-component-transfer.test.ts
  packages/x6-vector/src/vector/fe-component-transfer/fe-component-transfer.ts
  packages/x6-vector/src/vector/fe-composite/fe-composite.ts
  packages/x6-vector/src/vector/fe-convolve-matrix/fe-convolve-matrix.ts
  packages/x6-vector/src/vector/fe-diffuse-lighting/fe-diffuse-lighting.ts
  packages/x6-vector/src/vector/fe-displacement-map/fe-displacement-map.ts
  packages/x6-vector/src/vector/fe-distant-light/fe-distant-light.ts
  packages/x6-vector/src/vector/fe-flood/fe-flood.ts
  packages/x6-vector/src/vector/fe-func-a/fe-func-a.ts
  packages/x6-vector/src/vector/fe-func-b/fe-func-b.ts
  packages/x6-vector/src/vector/fe-func-g/fe-func-g.ts
  packages/x6-vector/src/vector/fe-func-r/fe-func-r.ts
  packages/x6-vector/src/vector/fe-gaussian-blur/fe-gaussian-blur.ts
  packages/x6-vector/src/vector/fe-image/fe-image.ts
  packages/x6-vector/src/vector/fe-merge-node/fe-merge-node.ts
  packages/x6-vector/src/vector/fe-merge/fe-merge.ts
  packages/x6-vector/src/vector/fe-morphology/fe-morphology.ts
  packages/x6-vector/src/vector/fe-offset/fe-offset.ts
  packages/x6-vector/src/vector/fe-point-light/fe-point-light.ts
  packages/x6-vector/src/vector/fe-specular-lighting/fe-specular-lighting.ts
  packages/x6-vector/src/vector/fe-spot-light/fe-spot-light.ts
  packages/x6-vector/src/vector/fe-tile/fe-tile.ts
  packages/x6-vector/src/vector/fe-turbulence/fe-turbulence.ts
  packages/x6/src/graph/print.ts
  packages/x6/src/util/dom/elem.ts
  packages/x6/src/view/tool.ts
  sites/x6-sites/examples/showcase/faq/demo/change-mode.tsx
  sites/x6-svg-to-shape/src/pages/index.tsx
Due: x6, x6-vector

chore(release): @antv/x6-geometry@1.0.6 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

chore(release): @antv/x6-sites@1.2.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

chore(release): @antv/x6-vector@1.2.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
Due: x6, x6-vector

refactor: ♻️ remove unused option item
  scripts/monorepo-semantic-release/src/commits.ts
  scripts/monorepo-semantic-release/src/manifest.ts
  scripts/monorepo-semantic-release/src/plugin.ts
  scripts/monorepo-semantic-release/src/release.ts
  scripts/monorepo-semantic-release/src/runner.ts
  scripts/monorepo-semantic-release/src/stream.ts
  scripts/monorepo-semantic-release/src/synchronizer.ts
  scripts/monorepo-semantic-release/src/types.ts
  scripts/monorepo-semantic-release/src/util.ts
Due: none

chore(docs): 🛠️ 📚️ add help links
  .lgtm.yml
Due: none

chore(release): @antv/x6-vector@1.2.0 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

chore(release): @antv/x6@1.23.11 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6
