Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  aa/50ca29e911cbc6f8d074964aaa427a42b928ec
Due: none

chore(release): @antv/x6-sites-demos@1.1.5 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  51/311d4b52f86d5f415a2083540b525a74b0ad7b
Due: none

chore(release): @antv/x6-sites@1.3.1 [skip ci]
  sites/x6-sites/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  81/9b3f4002814fb7dfe91872889a57c32565e2c6
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.3 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e1/0bbd7a083e8cbe26e9b29a85b6dba2eb992a2f
Due: none

fix: 🐛 fix delete node connection not delete
  examples/x6-app-dag/src/pages/rx-models/experiment-graph.tsx
Due: none

fix: 🐛 fix delete node connection not delete (#1167)
  examples/x6-app-dag/src/pages/rx-models/experiment-graph.tsx
Due: none

docs: 📚️ fix layout usage
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Due: none

docs: 📚️ fix layout usage (#1169)
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Due: none

chore: config threshold
  .codecov.yml
Due: none

test: ✅ add test specs for line
  packages/x6-geometry/src/line.test.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/point.test.ts
Due: x6, x6-geometry

test: ✅ add test specs for ellipse
  packages/x6-geometry/src/ellipse.test.ts
Due: x6, x6-geometry

Update Angular Lib provide data to the Angular Template
  packages/x6-angular-shape/src/view.ts
Due: x6

style: 🎨 optimize find snap methods
  packages/x6/src/view/edge.ts
Due: x6

style: 🎨 optimize find snap methods (#1189)
  packages/x6/src/view/edge.ts
Due: x6

chore(release): @antv/x6-example-features@1.2.2 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  61/2e0a87d2e77bd98e1d7bc12464ed6b4fa53b5f
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  15/faa66da2de1c438501adf97799acbd1d42e45f
Due: none

chore(release): @antv/x6@1.24.6 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  d5/3161e456b481826656c4c519c54252b40198f4
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  7d/d6e3e6f656ecd3652840f0b643b8e069b8f0e6
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-draw/package.json
Due: none

Notes added by 'git notes add'
  52/5eb5bf9e9ab0cf12877716101e698e5fffb352
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
