Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f7/d7ddb98602b7fe9b1ea51c75aa7908b3b31be3
Due: none

chore(release): @antv/x6-sites@1.3.0 [skip ci]
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/package.json
Due: none

Notes added by 'git notes add'
  01/976ebdfde13b8a98b4e4617c075b2aa08b2003
Due: none

chore(release): @antv/x6-svg-to-shape@1.0.2 [skip ci]
  sites/x6-svg-to-shape/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a8/1100006c1bdfe76a23e07e7d07dc6a62d32c88
Due: none

fix: 🐛 unified panning api (#1151)
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: x6

docs: 📚️ delete design docs in demo
  examples/x6-app-dag/src/layout/header/index.tsx
  examples/x6-app-er/src/pages/ERGraph/Toolbar/index.tsx
Due: none

fix: fix angular typo
  package-lock.json
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  sites/x6-sites/CHANGELOG.md
Due: x6

docs: 📚️ delete redundant variables
  examples/x6-app-dag/src/layout/header/index.tsx
  examples/x6-app-er/src/pages/ERGraph/Toolbar/index.tsx
Due: none

fix: fix angular typo (#1154)
  package-lock.json
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  sites/x6-sites/CHANGELOG.md
Due: x6

fix: 🐛 fix angular-shape lint error
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
Due: x6

docs: 📚️ delete design docs in demo (#1153)
  examples/x6-app-dag/src/layout/header/index.tsx
  examples/x6-app-er/src/pages/ERGraph/Toolbar/index.tsx
Due: none

fix: 🐛 add angular dev deps
  packages/x6-angular-shape/package.json
  yarn.lock
Due: x6

chore: config threshold
  .codecov.yml
Due: none

build: 📦️ add angular dependencies
  configs/package-json/angular.json
Due: none

build: 📦️ build angular shape
  package.json
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  scripts/build-dev
  yarn.lock
Due: x6

refactor: ♻️ auto format by eslint tool
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
Due: x6

test: ✅ update test specs
  packages/x6-geometry/src/curve.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/point.test.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-geometry/src/rectangle.test.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/version.ts
Due: x6, x6-geometry

chore(release): @antv/x6-angular-shape@1.0.0 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
Due: x6

Notes added by 'git notes add'
  0a/6837410426f618e8d4e16b274287ce3a71213c
Due: none

chore(release): @antv/x6-package-json@1.0.1 [skip ci]
  configs/package-json/CHANGELOG.md
  configs/package-json/package.json
Due: none

Notes added by 'git notes add'
  8b/5f01d314e3b5fc71a3f546bd37babd0870d5ee
Due: none

chore(release): @antv/x6@1.24.5 [skip ci]
  packages/x6/CHANGELOG.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
Due: x6

Notes added by 'git notes add'
  63/d5f977eb1d19e08b5359ca7579cf62953eb703
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-dag/package.json
Due: none

Notes added by 'git notes add'
  b4/0b223cdc6d0d6e6e7cc3cf467e209f9ac2fa48
Due: none

Path conditions:
  x6: any of: packages/x6
  x6-vector: any of: packages/x6-vector
  x6-geometry: any of: packages/x6-geometry
