Repository antvis/X6: changes, and which Codecov flags are due for each by the changed paths.
All: x6, x6-vector, x6-geometry

codecov.yml:

# Setting coverage targets per flag
coverage:
  range: 60..95
  round: down
  precision: 2
  status:
    project:
      default: off
      x6:
        flags:
          - x6
      x6-vector:
        flags:
          - x6-vector
      x6-geometry:
        target: 80% # will fail a Pull Request if coverage is less than 80%
        flags:
          - x6-geometry

flags:
  x6:
    paths:
      # filter the folder(s) you wish to measure by that flag
      - packages/x6
  x6-vector:
    paths:
      - packages/x6-vector
  x6-geometry:
    paths:
      - packages/x6-geometry

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true # only post the comment if coverage changes

feat: add angular shape
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
Due: x6

docs: 📚️ update version of sites template (#1137)
  packages/x6-geometry/README.md
  packages/x6-vector/README.md
  sites/x6-sites/gatsby-config.js
  sites/x6-sites/package.json
  yarn.lock
Due: x6, x6-vector, x6-geometry

feat: ✨ add angular shape serialization
  package-lock.json
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
Due: x6

docs: 📚️ add x6-angular-shape docs
  packages/x6-angular-shape/README.md
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

build: 📦️ add angular shape build
  package.json
Due: none

docs: 📚️ add group demo
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.less
  examples/x6-example-features/src/pages/group/index.tsx
Due: none

docs: 📚️ fix accesslint error
  examples/x6-example-features/src/pages/group/index.tsx
Due: none

docs: 📚️ add group demo (#1143)
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.less
  examples/x6-example-features/src/pages/group/index.tsx
Due: none

docs: fix error description
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: none

feat: add angualr shape (#1141)
  package-lock.json
  package.json
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Due: x6

fix: 🐛 unified panning api
  packages/x6/src/graph/graph.ts
Due: x6

docs: 📚️ add doc for panning api
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Due: none

chore: disable status check for patch
  .codecov.yml
Due: none

chore(release): @antv/x6-geometry@1.0.7 [skip ci]
  packages/x6-geometry/CHANGELOG.md
  packages/x6-geometry/package.json
Due: x6, x6-geometry

Notes added by 'git notes add'
  53/d02d8f899fe81debf0c7eaf2309094b8143917
Due: none

chore(release): @antv/x6-angualr-shape@1.0.0 [skip ci]
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
Due: x6

Notes added by 'git notes add'
  a1/62ea3a9f08218f73aa7255aa1f4b5cbe02d40b
Due: none

chore(release): @antv/x6-vector@1.2.2 [skip ci]
  packages/x6-vector/CHANGELOG.md
  packages/x6-vector/package.json
  packages/x6-vector/src/global/version.ts
Due: x6, x6-vector

Notes added by 'git notes add'
  36/2ad0bfbf632d36a1ab5d7ddee62e1c871bc428
Due: none

chore(release): @antv/x6-app-dag@1.1.6 [skip ci]
  examples/x6-app-dag/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  da/10a4150d7d1e60e95889c33c2d1fdb84c5e8c7
Due: none

chore(release): @antv/x6-app-draw@1.1.6 [skip ci]
  examples/x6-app-draw/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  23/f5b17a819f253c7213a0703a3234cda8c1c8dc
Due: none

chore(release): @antv/x6-app-er@1.1.5 [skip ci]
  examples/x6-app-er/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2b/779b465b3ae2f2b61f02b9e07f9bc84a517e6d
Due: none

chore(release): @antv/x6-example-features@1.2.1 [skip ci]
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/package.json
Due: none

Notes added by 'git notes add'
  9c/628b9de1bdf6739dedbf4988333c677d09b6b1
Due: none

chore(release): @antv/x6-sites-demos@1.1.4 [skip ci]
  sites/x6-sites-demos/CHANGELOG.md
Due: none
